<template>
	<view class="content">
		<view class="status_bar"></view>

		<mescroll-body
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="headerHeight" 
			@down="downCallback" 
			:up="upOption" 
			@up="loadList" 
		>
			<temporary1list ref="productList" :list="list" :listType="listType"></temporary1list>
		</mescroll-body>
		
		<mix-loading v-if="isLoading"></mix-loading>
 
	</view>
</template>






 
<script>
	// import pageHeader from './components/list-page-header'
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	import temporary1list from './components/temporary1-list'
	export default {
		components: {
			// pageHeader,
			MescrollBody,
			 temporary1list
		},
		mixins: [MescrollMixin], 
		data() {
			
		 
			return {
				array: ['货品品类', '鱼类（活鲜）', '鱼类（冰鲜）', '冰鲜类（水发）', '蟹类', '藻类'],
				index: 0,
				array1: ['规格', '规格1', '规格2', '规格3'],
				index1: 0,
				array2: ['产地', '美国', '巴西', '日本'],
				index2: 0,
				sourcePage: '', //来源页 主要用来判断是否来自搜索页
				listType: 'row', //列表类型 column竖向列表 row 横向列表
				sortList: [
					{name: '综合排序', type: 1, current: true},
					{name: '销量', type: 2, current: false},
					{name: '价格', type: 3, isPrice: true, current: false},
					{name: '好评率', type: 5, current: false}
				],
				isHot: 0,//热门推荐
				keyword: '',
				cateList: [], //分类列表
				curCateItem: {}, //当前分类
				list: [], //商品列表
				upOption:{
					auto: false, // 不自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
			}
		},
		computed: {
			statusBarHeight(){
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight(){
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight(){
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight)  -70;
			},
		},
		onLoad(options) {
			this.isLoading = true;
			this.sourcePage = options.sourcePage || '';
			this.keyword = options.keyword || ''; //搜索关键字
			this.prePage = options.prePage; //来源页 主要用于区分是否来自搜索页面
			//分类
			if(options.firstCateId){
				this.curCateItem = {
					_id: options.cateId || '',
					parent_id: options.firstCateId
				}
				this.loadCateList();
			}
			//热门推荐
			this.isHot = options.isHot || 0;
		},
		onReady() {
			this.calcCateRect();
		},
		methods: {
			//加载产品列表
			
			async loadList(e){
				this.mescroll.removeEmpty();
				const {sortList, curCateItem, keyword} = this;
				const data = {
					//sort_type: sortList.filter(item=> item.current)[0].type,
					category: e.category  || '',
					specifications: e.specifications  || '',
					// first_cate_id: curCateItem.parent_id || '',
					// keyword,
					// is_hot: this.isHot,
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
				console.log(e.num)
				this.$refs.productList.loadType = e.num === 1 ? 'refresh' : 'add';
				
				const res = await this.$request('temporary', 'getList', data);
				const curList = res.data; 
				if(e.num === 1){
					//第一页清空数据重载
					this.list = [];
					this.loaded && curList.forEach(item=> {item.loaded = true;})
					if(curList.length > 0){
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200
						})
					}
				} 
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			//加载分类列表
			async loadCateList(){
				const res = await this.$request('yugonghuoqu', 'getSecondCategory', {
					id: this.curCateItem.parent_id
				}, {
					changeLoaded: false
				})
				this.cateList = res.data || [];
				this.$nextTick(()=>{
					this.calcCateRect();
				})
			},
			mescrollInit(mescroll){
				this.mescroll = mescroll;
				setTimeout(()=>{
					this.refreshList();
				}, 10)
			},
			bindPickerChange: function(e) {
				this.index = e.target.value
				let map = {} 
				    map.category = e.target.value
					map.num = 1 ; 
					map.size = 30
				this.loadList(map) ; 
				
			},
			bindPickerChange1: function(e) {
				this.index1 = e.target.value
				let map = {} 
					map.specifications = e.target.value
					map.num = 1 ; 
					map.size = 30
				this.loadList(map) ; 
			},
			bindPickerChange2: function(e) {
				this.index2 = e.target.value
			},
			
			 
			slink(url){
				uni.navigateBack({
					url: url	
				})
			},
			//刷新列表
			refreshList(){ 
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			//分类默认 处理分类滚动
			calcCateRect(){
				const tasks = [];
				this.cateList.forEach(async item=> {
					tasks.push(new Promise(resolve => {
						uni.createSelectorQuery().select(`#cate-${item._id}`).boundingClientRect(data => {
							item.left = data.left - (uni.upx2px(375) - data.width/2);
							resolve();
						}).exec()
					}))
				})
				Promise.all(tasks).then(()=>{
					let cur = this.cateList.filter(item=> item._id === this.curCateItem._id);
					if(cur.length > 0){
						this.curCateItem = cur[0];
					}
				})
			},
			//分类选择
			changeCategory(item){
				if(this.curCateItem._id === item._id){
					return;
				}
				this.curCateItem = item;
				this.refreshList();
			},
			//排序
			changeSort(item){
				if(item.current){
					if(item.isPrice){
						item.type = item.type === 3 ? 4 : 3;
					}else{
						return;
					}
				}else{
					this.sortList.forEach(v=> v.current = false);
					item.current = true;
					if(item.type === 3 || item.type === 4){
						item.type = 3;
					}
				}
				this.refreshList();
			},
			//删除搜索关键字
			delKeyword(){
				this.keyword = '';
				this.refreshList();
			},
			//修改列表显示方式
			changeListType(){
				this.listType = this.listType === 'column' ? 'row' : 'column';
			}
		}
	}
</script>

<style>
	page{
		background-color: #f8f8f8;
	}
</style>
<style scoped lang="scss">
	 
	.content {
		overflow: hidden;
		width: 100%;
		
		.rihgs{
			width: 334rpx;
			position: absolute;
			right: 44rpx;
			top: 449rpx;
		}
		
		.header{
			width: 100%;
			height: 120rpx;
			display: flex;
			padding-left: 36rpx;
			align-items: center;
			.left{
				width: 20rpx;
			}
			.search{
				width: 650rpx;
				height: 70rpx;
				border-radius: 40rpx;
				display: flex;
				align-items: center;
				background: #f5f6f7;
				padding-left: 36rpx;
				margin-left: 24rpx;
				image{
					width: 32rpx;
				}
				input{
					width: 80%;
					height: 100%;
					border: none;
					outline: none;
					font-size: 28rpx;
					color: #989da6;
					padding-left: 15rpx;
				}
				.s{
					color: #989da6;
				}
			}
		}
		.main_navbar{
			width: 100%;
			height: 80rpx;
			border-bottom: 2rpx solid #f9f9f9;
			display: flex;
			align-items: center;
			.item{
				width: 33.33%;
				height: 100%;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				image{
					width: 16rpx;
					margin-left: 8rpx;
				}
			}
		}
		.uni-input{
			font-size: 28rpx;
			margin-right: 10rpx;
			color: #2a3243;
		}
		.list{
			overflow: hidden;
			padding: 12rpx 0;
			width: 100%;
			.item{
				overflow: hidden;
				width: 100%;
				padding: 12rpx 20rpx;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				.pic{
					width: 206rpx;
					height: 206rpx;
					border-radius: 20rpx;
				}
				.grow{
					overflow: hidden;
					width: 489rpx;
					.name{
						display: block;
						font-size: 28rpx;
						color: #2a3243;
						font-weight: 500;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
						line-height: 38rpx;
						margin-bottom: 10rpx;
					}
					.des{
						display: block;
						font-size: 22rpx;
						color: #989da6;
						line-height: 1;
					}
					.price{
						display: flex;
						align-items: flex-end;
						font-size: 36rpx;
						color: #f55050;
						margin-top: 20rpx;
						font-weight: bold;
						line-height: 1;
						text{
							color: #f55050;
							font-size: 22rpx;
							font-weight: normal;
						}
					}
					.bos{
						display: block;
						font-size: 24rpx;
						margin-top: 15rpx;
						color: #636976;
					}
				}
			}
		}
	}
</style>
