<template>
	<view class="content">
		<view class="info" >
			<text class="name">{{detail.name}}</text>
			<text class="price">{{detail.price}} <text>元/日</text></text>
			<view class="sw">
				<view>
					<image src="../../static/addicon_03.jpg" mode="widthFix"></image>
					<text>{{detail.corporate_name}}</text>
				</view>
				<view>
					<image src="../../static/zpinfo_03.jpg" mode="widthFix"></image>
					<text>{{detail.address}}</text>
				</view>
				<view>
					<image src="../../static/addicon_06.jpg" mode="widthFix"></image>
					<text>{{detail.phone}}</text>
				</view>
			</view>
		</view>
		<view class="label">
			<view class="title">
				<image src="../../static/zpinfo_06.jpg" mode="widthFix"></image>
				<text>薪资情况</text>
			</view>
			<view class="box">
				<text>薪资范围：{{detail.salary}}元/月</text>
				<text>发薪日：{{detail.salary_day}}日</text>
				<text>底薪：{{detail.Base_salary}}元/月</text>
			</view>
		</view>
		<view class="label">
			<view class="title">
				<image src="../../static/zpinfo_06.jpg" mode="widthFix"></image>
				<text>工作职责</text>
			</view>
			<view class="box">
				<text>职位描述：</text>
				<jyf-parser
					ref="article"
					:html="detail.content" 
					lazy-load 
					show-with-animation 
				></jyf-parser>
			</view>
		</view>
		<!-- <view class="label">
			<view class="title">
				<image src="../../static/zpinfo_06.jpg" mode="widthFix"></image>
				<text>公司介绍</text>
			</view>
			<view class="box">
				<text>宁波仕凯孚机电有限公司（原宁波江东茂盛机电)为SKF
					集团/ABBA华东地区一级代理，HIWIN品牌代理，成钢
					电机浙江地区一级代理。</text>
				<text>公司成立于2000年，专业经销进口优质传动产品及工业
					自动化部件，主要产品有各种直线导轨、滚珠丝杆' 丝
					杆支撑座、联轴器、微型导轨、直线轴承直线光轴、国
					柱导轨、进口国产普通马达, 减速电机舞。</text>
			</view>
		</view>
		<view class="label">
			<view class="title">
				<image src="../../static/zpinfo_06.jpg" mode="widthFix"></image>
				<text>工作地址</text>
			</view>
			<view class="box">
				<view class="icons">
					<image src="../../static/zpinfo_03.jpg" class="is" mode="widthFix"></image>
					<text>象山绿能新型材料有限公司</text>
				</view>
				<image src="../../static/zpinfo_10.jpg" mode="widthFix" class="map"></image>
			</view>
		</view> -->
		<view style="height: 160rpx;"></view>
		<view class="button" @click="go(detail.phone)">
			<view>立即沟通</view>
		</view>
	</view>
</template>

<script>
	import jyfParser from '@/components/jyf-parser/jyf-parser.vue'
	export default {
		components: {
			jyfParser
		},
		data() {
			return {
                 data:[],
				 detail:{},
			}
		},
		onLoad(e) {
			if(e.id){
				this.getdetail(e.id)
				console.log('111')
			}
				 
		},
		methods: {
			go(a){
			 	uni.makePhoneCall({
			 	
			 	// 手机号
			    phoneNumber: a, 
			
				// 成功回调
				success: (res) => {
					console.log('调用成功!')	
				},
			
				// 失败回调
				fail: (res) => {
					console.log('调用失败!')
				}
				
			  });
			},
			async getdetail(_id){
				const data = {
					_id :_id
				}
				const res = await this.$request('temporary', 'get', data, {
					showLoading: !this.loaded
				});
				console.log('res' ,JSON.stringify(res))
				this.detail = res.data[0] ; 
			}
			
			
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		padding: 0 30rpx;

		.label {
			overflow: hidden;
			margin-top: 40rpx;

			.title {
				display: flex;
				margin-bottom: 40rpx;
				align-items: center;

				image {
					width: 31rpx;
				}

				text {
					font-size: 32rpx;
					font-weight: bold;
					color: #2a3243;
					margin-left: 15rpx;
				}
			}

			.box {
				overflow: hidden;
				width: 100%;

				&>text {
					display: block;
					font-size: 28rpx;
					color: #636976;
					line-height: 48rpx;
				}

				.icons {
					display: flex;
					align-items: center;
					margin-right: 43rpx;

					image {
						width: 26rpx;
					}

					text {
						font-size: 30rpx;
						color: #636976;
						margin-left: 20rpx;
					}
				}
			}
		}

		.map {
			width: 100%;
			display: block;
			margin-top: 40rpx;
		}

		.button {
			width: 100%;
			height: 150rpx;
			display: flex;
			align-items: center;
			border-top: 1px solid #e6e6e6;
			position: fixed;
			left: 0;
			bottom: 0;
			background-color: #fff;
			justify-content: center;

			view {
				width: 690rpx;
				height: 90rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #0e689b;
				font-size: 34rpx;
				color: #fff;
				border-radius: 10rpx;
			}
		}
	}

	.foot {
		width: 100%;
		height: 73rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30rpx;
		border-top: 1px solid #e8e9ec;

		text {
			font-size: 24rpx;
			color: #989da6;
		}
	}

	.info {
		overflow: hidden;
		padding: 40rpx 0;
		position: relative;
		border-bottom: 1px solid #e8e9ec;
		.price {
			display: flex;
			align-items: flex-end;
			font-size: 36rpx;
			color: #f55050;
			line-height: 1;
			font-weight: bold;
			position: absolute;
			right: 0;
			top: 45rpx;

			text {
				color: #f55050;
				margin-left: 12rpx;
				font-size: 22rpx;
			}
		}

		.name {
			display: block;
			font-size: 48rpx;
			color: #2a3243;
			line-height: 1;
			margin-bottom: 15rpx;
		}

		.sw {
			overflow: hidden;
			width: 460rpx;

			view {
				display: flex;
				align-items: center;
				margin-top: 30rpx;
				float: left;
				margin-right: 43rpx;

				image {
					width: 26rpx;
				}

				text {
					font-size: 26rpx;
					color: #636976;
					margin-left: 15rpx;
				}
			}
		}
	}
</style>
