<template>
	<view class="content">
		<view class="search">
			<u-search placeholder="请输入关键字..." height='64' :show-action='false' v-model="keyword"></u-search>
		</view>
		
		<view class="box" :style="'height:' + scrollHeight + 'px'">
			
			<view class="navbar">
				<scroll-view scroll-y="true">
					<view 
					v-for="(item, index) in cate_list" 
					@click="indexs = index ; changeCategory(item._id)"  
					:class="index == indexs?'on':''"
					>
					{{item.name}}
					</view>
				</scroll-view>
			</view>
			
			<view class="right">
				<scroll-view scroll-y="true">	
					<view class="item">
					<view class="list">
						<view class="label" 
						v-for="item in childrenList" 
						:key="item._id"  
						@click="gotoadd(item._id , item.name)">
							<view class="pic"><image :src="item.image" mode="widthFix"></image></view>
							<text>{{ item.name }}</text>
						</view>
							</view>
						</view>
					</scroll-view>
				</view>
					
					
					
<!-- 					<view class="item">
						<view class="title">
							<view></view>
							<text>冷冻类</text>
							<view></view>
						</view>
						<view class="list">
							<view class="label">
								<view class="pic"><image src="../../static/celist.jpg" mode="widthFix"></image></view>
								<text>北太鱿鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist1.jpg" mode="widthFix"></image></view>
								<text>鲳鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist2.jpg" mode="widthFix"></image></view>
								<text>大黄鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist.jpg" mode="widthFix"></image></view>
								<text>北太鱿鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist1.jpg" mode="widthFix"></image></view>
								<text>鲳鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist2.jpg" mode="widthFix"></image></view>
								<text>大黄鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist.jpg" mode="widthFix"></image></view>
								<text>北太鱿鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist1.jpg" mode="widthFix"></image></view>
								<text>鲳鱼</text>
							</view>
							<view class="label">
								<view class="pic"><image src="../../static/celist2.jpg" mode="widthFix"></image></view>
								<text>大黄鱼</text>
							</view>
						</view>
					</view> -->
				</scroll-view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				childrenList:{}, 
				cate_list:[] , 
				keyword: '',
				indexs: 0,
				navbar:['活鲜类','冰鲜类','冷冻类','干品类','休闲类','腌制类','进口类','进口类'],
				scrollHeight: '',
				phoneHeight: '',
				current: {},
			}
		},
		onLoad(e) {
               if(e.cateId){
               	this.loadCate(e.cateId);
               }
				
		},
		onReady() {
			let that = this
			// 获取屏幕高度
			uni.getSystemInfo({
				success(res) {
					that.phoneHeight = res.windowHeight
					that.scrollHeight = that.phoneHeight - 56
				}
			})
		},
			methods: {
				gotoadd(cate_id,name){
					let url = '/pages/add_product/add_product?cate_id='+cate_id+"&name=" +  name
					this.navTo( url)
				},
				
				
				//加载分类列表
				async changeCategory(cate_id){
				 	console.log('changeCategory' , cate_id) ; 
				 	
				 	const data = {
				 		parent_id :cate_id
				 	}
				 	const res = await this.$request('releasecategory', 'get1', data, {
				 		showLoading: !this.loaded
				 	});
					console.log('childrenList' , JSON.stringify(res )) ; 
					
					this.childrenList  = res 
					return res
				 	
				},
					
					
				async loadCate( parent_id ){
					const data = {
						parent_id :parent_id
					}
					const res = await this.$request('releasecategory', 'get1', data, {
						showLoading: !this.loaded
					});
					
					this.cate_list = res ; 
					this.cate_list.forEach( (item,index)=> {
						if(index==0){
							
							this.childrenList  =   this.changeCategory(item._id) ;
							console.log(item._id + '  this.childrenList ' , JSON.stringify(this.childrenList )) 
						}
					})
					return res;
					console.log('1111111111',JSON.stringify(res))
				
				},
				
				
				
				//加载产品列表
				
				
				mescrollInit(mescroll){
					this.mescroll = mescroll;
					setTimeout(()=>{
						this.refreshList();
					}, 10)
				},
				//刷新列表
				refreshList(){ 
					this.mescroll.resetUpScroll(false)
					this.isLoading = true;
				},
				//分类默认 处理分类滚动
				calcCateRect(){
					const tasks = [];
					this.cateList.forEach(async item=> {
						tasks.push(new Promise(resolve => {
							uni.createSelectorQuery().select(`#cate-${item._id}`).boundingClientRect(data => {
								item.left = data.left - (uni.upx2px(375) - data.width/2);
								resolve();
							}).exec()
						}))
					})
					Promise.all(tasks).then(()=>{
						let cur = this.cateList.filter(item=> item._id === this.curCateItem._id);
						if(cur.length > 0){
							this.curCateItem = cur[0];
						}
					})
				},
		
				//排序
				changeSort(item){
					if(item.current){
						if(item.isPrice){
							item.type = item.type === 3 ? 4 : 3;
						}else{
							return;
						}
					}else{
						this.sortList.forEach(v=> v.current = false);
						item.current = true;
						if(item.type === 3 || item.type === 4){
							item.type = 3;
						}
					}
					this.refreshList();
				},
				
				
			
			
		
			}
	}
</script>

<style lang="scss">
	.content{
		overflow: hidden;
		width: 100%;
		.search{
			width: 100%;
			height: 116rpx;
			padding: 0 30rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.box{
			width: 100%;
			overflow: hidden;
			height: 1000rpx;
			display: flex;
			justify-content: space-between;
			.right{
				overflow: hidden;
				width: calc(100% - 185rpx);
				height: 100%;
				scroll-view{
					width: 100%;
					height: 100%;
					.item{
						width: 100%;
						overflow: hidden;
						.title{
							display: flex;
							align-items: center;
							justify-content: center;
							margin-bottom: 36rpx;
							view{
								width: 24rpx;
								height: 3rpx;
								background: #989da6;
							}
							text{
								font-size: 24rpx;
								margin: 0 15rpx;
								color: #989da6;
								display: block;
							}
						}
						.list{
							overflow: hidden;
							.label{
								width: 33.33%;
								float: left;
								overflow: hidden;
								margin-bottom: 60rpx;
								.pic{
									width: 100%;
									height: 120rpx;
									display: flex;
									margin-bottom: 30rpx;
									justify-content: center;
									align-items: center;
									image{
										width: 120rpx;
										display: block;
									}
								}
								text{
									display: block;
									font-size: 24rpx;
									color: #2a3243;
									text-align: center;
								}
							}
						}
					}
				}
			}
			.navbar{
				background: #f5f6f7;
				width: 185rpx;
				overflow: hidden;
				height: 100%;
				scroll-view{
					width: 100%;
					height: 100%;
					view{
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 113rpx;
						font-size: 28rpx;
						color: #636976;
						position: relative;
						&.on{
							background-color: #fff;
						}
						&.on::after{
							content: '';
							width: 6rpx;
							height: 60rpx;
							background: #0e689b;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
</style>
