<template>
	<view class="content">
		<view class="status_bar"></view>
		<view class="header">耕海牧渔系统</view>
		
		<banner :list="carousel"></banner>
		<!-- <view class="banner">
			<swiper indicator-dots="true" indicator-active-color='#fff' autoplay="true" interval="3000" duration="1000">
				<swiper-item>
					<image src="../../static/banner.png" mode="widthFix"></image>
				</swiper-item>
				<swiper-item>
					<image src="../../static/banner.png" mode="widthFix"></image>
				</swiper-item>
				<swiper-item>
					<image src="../../static/banner.png" mode="widthFix"></image>
				</swiper-item>
			</swiper>
		</view> -->
		
		
		<view class="navbar">
			<view>
				<image src="../../static/icon_55.png" mode="widthFix" @click="link('/pages/shangcheng/shangcheng?cateId=bf4a0bf2620ca0360f27952e27d44e10')"></image>
				<text>交易大厅</text>
			</view>
			<view>
				<image src="../../static/icon_51.png" mode="widthFix" @click="navTo('../quotation1/quotation1')"></image>
				<text>实时行情</text>
			</view>
			<view>
				<image src="../../static/icon_52.png" mode="widthFix" @click="link('/pages/linshigong/linshigong')"></image>
				<text>临时工</text>
			</view>
			<view>
				<image src="../../static/icon_53.png" mode="widthFix"></image>
				<text>代加工</text>
			</view>
			<view>
				<image src="../../static/icon_54.png" mode="widthFix" @click="link('/pages/recruit/recruit')"></image>
				<text>船员用工</text>
			</view>
		</view>
		<view class="news">
			<view class="icon"><image src="https://nbghmy.com/static/news.png" mode="widthFix"></image></view>
			<view class="slide">
				<swiper autoplay="true" vertical="true">
					
					<swiper-item v-for="(item, index) in lblist" :key="index" @click="link('/pages/my_info/my_info')">
						<text>{{ item.name }}</text>
					</swiper-item>
					
				</swiper>
			</view>
		</view>
		<view class="line"></view>
		<view class="main_characteristic">
			<view class="title">
				<view></view>
				<text>象山特色</text>
			</view>
			<view class="box">
				
				<view class="left" @click="link('/pages/tese/tese')">
					<text class="t">PART01</text>
					<text class="f">象山特色</text>
					<text class="des">山海明珠,中国渔都</text>
				</view>
				
				<view class="right">
					<view @click="link('/pages/company/company')">
						<text class="t">PART02</text>
						<text class="f">象山企业</text>
						<text class="des">企业简介详情</text>
					</view>
					<view @click="link('/pages/mingren/mingren')">
						<text class="t">PART03</text>
						<text class="f">象山名厨</text>
						<text class="des">舌尖上的海鲜</text>
					</view>
				</view>
			</view>
		</view>
		<view class="line"></view>
		<view class="main_material">
			<view class="title">
				<view></view>
				<text>物资信息</text>
			</view>
			<view class="icon">
				<view @click="link('/pages/shangcheng/shangcheng?cateId=617ef50c620ca7cc0607b81a1363a9fa')">
					<image src="../../static/icon_56.png" mode="widthFix"></image>
					<text>船用物资需求</text>
				</view>
				
				<view>
					<image src="../../static/icon_57.png" mode="widthFix" @click="gonavibar('/pages/xuqiu/xuqiu')"></image>
					<text>预购信息</text>
				</view>
				<view>
					<image src="https://nbghmy.com/static/icon_41.png" mode="widthFix" @click="link('/pages/car/car')"></image>
					<text>冷链车</text>
				</view>
			</view>
		</view>
		<view class="line"></view>
		<view class="main_quotation">
			<view class="title">
				<view></view>
				<text>实时行情</text>
			</view>
			
			<!-- <view class="tip">
				<image src="../../static/tip.png" mode="widthFix"></image>
				<text>数据统计截止至2022-03-03 14:01</text>
			</view> -->
			
			<view class="table">
				<view class="tr">
					<view class="th">品种</view>
					<view class="th">价格</view>
					<view class="th">涨跌</view>
					<view class="th">日期</view>
				</view>
				
				<view   v-for="(item, index) in renderList" :key="index"  > 
				<view class="trs">
					<view>{{item.name}}</view>
					<view>{{item.price}}元</view>
					<view v-if="item.opreation_image==''"> 0 --</view>
					<view v-else><span :class="item.class">{{item.bili}}</span>  <image :src="item.opreation_image" mode="widthFix"></image></view>
					<view>{{ item.add_time | date('m-d ') }}</view>
				</view>
				</view>
			</view>
		</view>
		
		<view class="line"></view>
		
		<!-- <view class="main_showinfo">
			<view class="title">
				<view></view>
				<text>显示信息</text>
			</view>
			<view class="icon">
				<view>
					<image src="../../static/icon_58.png" mode="widthFix"></image>
					<text>产品信息</text>
				</view>
			</view>
		</view> -->
		
	</view>
</template>

<script>
	import banner from './components/banner.vue'
	export default {
		components: {
			
			banner,
			
		},
		data() {
			return {
                   advertList: [],//广告列表
				   list: [],
				   lblist:[],
				   renderList: [],
			}
		},
		computed: {
			midAdvert(){
				if(this.advertList.length === 0) return {};
				const res = this.advertList.filter(item=> item.advert_type === 'middle');
				return res.length > 0 ? res[0]: {};
			},
			carousel(){
				return this.advertList.filter(item=> item.advert_type === 'carousel');
			}
		},
		onLoad() {
                this.loadAdvert();
				this.loadList();
				this.loadquoList();
		},
		methods: {
			async loadquoList(){
				
				 let e={num:1,size:5} 
				const {sortList, curCateItem, keyword} = this;
				
				const data = { 
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
			
				const res = await this.$request('quotation', 'getList', data);
				
					console.log('loadList' , JSON.stringify(res)) ; 
				const curList = res.data;
				if(e.num === 1){
					//第一页清空数据重载
					this.list = [];
					this.loaded && curList.forEach(item=> {item.loaded = true;})
					if(curList.length > 0){
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200
						})
					}
				
				} 
				this.renderList = this.list.concat(curList); //追加新数据
				
			},
			async loadList(){
				let e={num:1,size:5} 
				
				const res = await this.$request('notice', 'getList', {
					offset: (e.num - 1) * e.size,
					limit: e.size,
				});
				const curList = res.data;
				if(e.num === 1){
					this.lblist = [];
				}
				this.lblist = this.list.concat(curList); //追加新数据
				this.log(curList)
			},
			
			async loadAdvert(){
				const res = await this.$request('advert', 'getAdvertList', {}, {
					cache: 10*60
				});
				this.advertList = res.data;
				this.log(res);
				console.log('------');
			},
			link(url){
				uni.navigateTo({
					url: url
				})
			},
			gonavibar(url){
				uni.switchTab({
					url: url
				})
			}
		}
	}
</script>

<style lang="scss">
	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}
	.green{
		color: #07C160;
	}
	.red{
		color: #e5094b;
	}
	.content{
		width: 100%;
		overflow: hidden;
		background-image: url("https://nbghmy.com/static/bg_01.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		.title{
			display: flex;
			align-items: center;
			height: 98rpx;
			view{
				width: 8rpx;
				height: 32rpx;
				background: #487ce1;
				margin-right: 18rpx;
			}
			text{
				font-size: 34rpx;
				font-weight: bold;
				color: #333333;
			}
		}
		.main_quotation{
			width: 690rpx;
			margin: 0 auto;
			padding-bottom: 34rpx;
			.tip{
				display: flex;
				align-items: center;
				image{
					width: 26rpx;
				}
				text{
					font-size: 24rpx;
					color: #c9c9c9;
					margin-left: 10rpx;
				}
			}
			.table{
				width: 100%;
				margin-top: 15rpx;
				.tr{
					width: 100%;
					height: 66rpx;
					display: flex;
					align-items: center;
					.th{
						font-size: 26rpx;
						color: #333333;
						width: 25%;
						text-align: center;
					}
				}
				.trs{
					width: 100%;
					height: 72rpx;
					background-color: #f8f8f8;
					margin-bottom: 12rpx;
					border-radius: 40rpx;
					display: flex;
					align-items: center;
					view{
						width: 25%;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 24rpx;
						color: #666666;
						image{
							width: 12rpx;
							margin-left: 10rpx;
						}
						&:nth-child(3){
							color: #f64051;
						}
						&.o{
							color: #999999;
						}
						&.r{
							color: #44b18f;
						}
					}
				}
			}
		}
		.main_showinfo{
			width: 690rpx;
			margin: 0 auto;
			padding-bottom: 34rpx;
			.icon{
				width: 100%;
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				view{
					width: 33.33%;
					overflow: hidden;
					margin-top: 15rpx;
					image{
						width: 93rpx;
						display: block;
						margin: 0 auto;
						margin-bottom: 15rpx;
					}
					text{
						display: block;
						font-size: 28rpx;
						color: #333333;
						text-align: center;
					}
				}
			}
		}
		.main_material{
			width: 690rpx;
			margin: 0 auto;
			padding-bottom: 34rpx;
			.icon{
				width: 100%;
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				view{
					width: 33.33%;
					overflow: hidden;
					margin-top: 15rpx;
					image{
						width: 80rpx;
						display: block;
						margin: 0 auto;
						margin-bottom: 15rpx;
					}
					text{
						display: block;
						font-size: 28rpx;
						color: #333333;
						text-align: center;
					}
				}
			}
		}
		.main_characteristic{
			width: 690rpx;
			margin: 0 auto;
			padding-bottom: 34rpx;
			.box{
				overflow: hidden;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				.right{
					overflow: hidden;
					width: 340rpx;
					view{
						width: 100%;
						height: 190rpx;
						background-image: url("https://nbghmy.com/static/icon_31.png" );
						margin-bottom: 20rpx;
						background-size: 100% 100%;
						padding: 34rpx 0 0 32rpx;
						&:last-child{
							margin-bottom: 0;
							background-image: url("https://nbghmy.com/static/icon_33.png" );
						}
						.t{
							display: block;
							font-size: 18rpx;
							color: #fff;
							line-height: 1;
							text-transform: uppercase;
						}
						.f{
							display: block;
							font-size: 28rpx;
							color: #fff;
							line-height: 56rpx;
							letter-spacing: 2rpx;
						}
						.des{
							display: block;
							font-size: 20rpx;
							color: #fff;
							opacity: 0.8;
						}
					}
				}
				.left{
					width: 330rpx;
					height: 400rpx;
					background-image: url("https://nbghmy.com/static/icon_29.png" );
					background-size: 100% 100%;
					padding: 34rpx 0 0 36rpx;
					.t{
						display: block;
						font-size: 18rpx;
						color: #fff;
						line-height: 1;
						text-transform: uppercase;
					}
					.f{
						display: block;
						font-size: 34rpx;
						color: #fff;
						line-height: 64rpx;
						letter-spacing: 3rpx;
					}
					.des{
						display: block;
						font-size: 24rpx;
						color: #fff;
						opacity: 0.8;
					}
				}
			}
		}
		.line{
			background: #f6f7f8;
			width: 100%;
			height: 20rpx;
		}
		
		.header{
			width: 100%;
			height: 136rpx;
			display: flex;
			letter-spacing: 3rpx;
			align-items: center;
			justify-content: center;
			font-size: 36rpx;
			color: #333333;
		}
		.banner{
			width: 690rpx;
			overflow: hidden;
			margin: 0 auto;
			border-radius: 15rpx;
			image{
				width: 100%;
			}
		}
		.news{
			width: 690rpx;
			margin: 0 auto;
			height: 85rpx;
			overflow: hidden;
			border-top: 1px solid #f6f7f8;
			display: flex;
			align-items: center;
			margin-top: 25rpx;
			.icon{
				width: 147rpx;
				display: flex;
				align-items: center;
				height: 100%;
				position: relative;
				image{
					width: 119rpx;
				}
				&::after{
					content: '';
					width: 3rpx;
					height: 23rpx;
					background: #e2e2e2;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.slide{
				width: calc(100% - 147rpx);
				height: 100%;
				overflow: hidden;
				text{
					font-size: 26rpx;
					height: 85rpx;
					line-height: 85rpx;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
					padding-left: 15rpx;
					color: #666666;
				}
			}
		}
		.navbar{
			width: 720rpx;
			overflow: hidden;
			margin: 0 auto;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			view{
				width: 20%;
				overflow: hidden;
				margin-top: 45rpx;
				image{
					width: 81rpx;
					display: block;
					margin: 0 auto;
					margin-bottom: 15rpx;
				}
				text{
					display: block;
					font-size: 26rpx;
					color: #333333;
					text-align: center;
				}
			}
		}
	}
</style>
