
<template>
	<view class="content">
		
			 
			 
			<view class="item">
				
				<view class="table">
					<view class="tr">
						<view class="th">名称</view>
						<view class="ty">产品分类</view>
						<view class="th">产品规格</view>
						<view class="th">新鲜程度</view>
						<view class="th">参考价</view>
						<view class="th">上市日期</view>
						
					</view>
					
					<view   v-for="(item, index) in renderList" :key="index" class="table "> 

 
						<view class="tr" @click="navTo('/pages/zoushitu/zoushitu?name='+ item.name)">
							<view class="td">{{item.name}}</view>
							<view class="tz">{{item.ReleaseCategory[0].name}}</view>
							<view class="td">{{item.ReleaseSpecifications[0].name}}</view>
							<view class="td">{{item.ReleaseFresh[0].name}}</view>
							<view class="td">{{item.price}}元</view>
							<view class="td">{{ item.start_time | date('m-d ') }}</view>
							
							</view>
						</view>
				    </view>
				
			</view>
				 
			</view> 
		</view>  
</template>

<script>
	export default {
		name: 'MixProductList',
		data() {
			return {
				loadType: 'add',//标记加载还是刷新数据
				renderList: []
			};
		},
		props: {
			list: {
				type: Array,
				default(){
					return []
				}
			},
			listType: {
				type: String,
				default: 'row'
			}
		},
		watch: {
			list(list){
				
				if(this.loadType === 'add'){
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		created() {
			
		},
		methods: {
			
		
		}
	}
</script>

<style lang="scss">
	.table{
		width: 100%;
		padding-bottom: 20rpx;
		.tr{
			width: 100%;
			display: flex;
			align-items: center;
			.td{
				height: 80rpx;
				width: 17%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rpx;
				font-weight: 500;
				color: #333333;
				text{
					font-weight: bold;
					font-size: 28rpx;
					color: #50aa58;
					&.on{
						color: #f55050;
					}
				}
				image{
					width: 9rpx;
					margin-left: 15rpx;
				}
				
			}
			.th{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 17%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18rpx;
				color: #9c9c9c;
			}
			.ty{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18rpx;
				color: #9c9c9c;
			}
			.tz{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18rpx;
				color: #000000;
			}
		}
	}
	.content {
		overflow: hidden;
		width: 100%;
		.list{
			overflow: hidden;
			padding: 30rpx 30rpx 10rpx 30rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.item{
				width: 208rpx;
				height: 208rpx;
				border-radius: 20rpx;
				padding-top: 26rpx;
				margin-bottom: 30rpx;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
				image{
					display: block;
					width: 100%;
					margin-bottom: 15rpx;
				}
				text{
					display: block;
					font-size: 28rpx;
					color: #333333;
					line-height: 1;
					text-align: center;
				}
			}
		}
	}
</style>