<template>
	<view class="content">
		<image src="https://nbghmy.com/static/addiconinfo_02.jpg" mode="widthFix" class="banner"></image>
		
		<!-- <mescroll-body
		ref="mescrollRef" 
		@init="mescrollInit" 
		:top="headerHeight" 
		@down="downCallback" 
		:up="upOption"
		@up="loadList"> -->
		<view style="height: 100rpx;"></view>
		
		<view class="main_info"
		 v-for="(item, index) in renderList"
		 :key="index">
			<view class="user">
				<image
					:src="item.photo" 
					mode="aspectFill" 
					lazy-load="true"
					@load="imageOnLoad(item)" 
				></image>
				<text>{{item.name}}</text>
			</view>
			<text class="font">{{item.name}}，{{item.gender}}，{{item.nation}}，
				{{item.description}}</text>
			<view class="box">
				
				<view class="item"  v-for="(items, indexs) in item.career">
					<image src="../../static/addiconinfo_05.jpg" mode="widthFix"></image>
					<text>{{items.value}}</text>
				</view>
				
			</view>
			<view class="scroll" >
				<scroll-view scroll-x="true"  >
					<image 
					v-for="(items, indexs) in item.images" 
					:src="items" 
					mode="aspectFill" 
					style="height:175rpx;"></image>
					
					
				</scroll-view>
			</view>
		</view>
		
		<!-- </mescroll-body> -->
	</view>
</template>

<script>
	// import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	export default {
		components: {
		
			// MescrollBody
		},
		data() {
			return {
				    _aid: 0, 
					   career:[],
				   
                   list: [],
				   renderList:[],
				   upOption: {
				   	auto: false, // 不自动加载
				   	page: {
				   		num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				   		size: 10 // 每页数据的数量
				   	},
				   
				   	noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				   },
			}
		},
		computed: {
			
			headerHeight() {
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) - 70;
			},
		},
		onLoad(e) {
			if(e.id){
				
				this._aid = e.id ; 
				
				 
				this.loadList(e.id)
				console.log('111 '+e.id)
			}
				 
		},
		watch: {
			list(list){
				//console.log('a watch  a')
				//console.log(JSON.stringify(list.slice(this.renderList.length) ))
				if(this.loadType === 'add'){
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		methods: {
                async loadList() {
				 
				let _id = this._aid	 
				 
				 
                const data = {
                	'_aid' :_id
                }
				 
                const res = await this.$request('cook', 'getlist2', data, {
                	showLoading: !this.loaded
                });
				 
				if(!res.data ){
					return ;
				}
                const curList = res.data;
                
                	this.list = this.list.concat(curList); //追加新数据
                	this.mescroll.endSuccess(curList.length); //结束加载状态
                },
				mescrollInit(mescroll) {
					this.mescroll = mescroll;
					setTimeout(() => {
						this.refreshList();
					}, 10)
				},
				//刷新列表
				refreshList() {
					this.mescroll.resetUpScroll(false)
					this.isLoading = true;
				},
				downCallback(mescroll){
					this.mescroll = mescroll;
					setTimeout(() => {
						this.refreshList();
					}, 10)
				}
		}
	}
</script>

<style lang="scss">
	.content {
		width: 100%;
		overflow: hidden;

		.banner {
			width: 100%;
			display: block;
		}

		.main_info {
			width: 100%;
			position: relative;
			padding: 195rpx 0 75rpx 45rpx;

			.user {
				position: absolute;
				left: 45rpx;
				top: -95rpx;

				image {
					width: 170rpx;
					height: 170rpx;
					border-radius: 50%;
					border: 6rpx solid #fff;
					display: block;
					margin-bottom: 33rpx;
				}

				text {
					display: block;
					font-size: 48rpx;
					letter-spacing: 5rpx;
					color: #000000;
				}
			}

			.scroll {
				width: 100%;

				scroll-view {
					white-space: nowrap;
					width: 100%;

					image {
						width: 284rpx;
						display: inline-block;
						margin-right: 26rpx;
					}
				}
			}

			.box {
				width: 100%;
				padding: 20rpx 45rpx 20rpx 0;

				.item {
					width: 100%;
					position: relative;
					padding-left: 48rpx;

					&:last-child::after {
						display: none;
					}

					&::after {
						content: '';
						width: 3rpx;
						height: 100%;
						background: #0074b9;
						position: absolute;
						left: 19rpx;
						top: 20rpx;
					}

					text {
						display: block;
						font-size: 24rpx;
						color: #666666;
						line-height: 44rpx;
					}

					image {
						width: 20rpx;
						position: absolute;
						z-index: 999;
						left: 10rpx;
						top: 13rpx;
					}
				}
			}

			.font {
				display: block;
				font-size: 24rpx;
				line-height: 45rpx;
				color: #666666;
				padding-right: 45rpx;
			}
		}
	}
</style>
