<template>
	<view class="content">
		<mescroll-body 
		ref="mescrollRef" 
		@init="mescrollInit" 
		:top="headerHeight" 
		@down="downCallback" 
		:up="upOption"
		@up="loadList">
		
		
		<view 
		class="item" 
		v-for="(item, index) in renderList"
		:key="index"
		@click="gotonext(item._id)">
		
		<image
			:src="item.photo" 
			mode="aspectFill" 
			lazy-load="true"
			@load="imageOnLoad(item)" 
		></image>
		
			
			<view class="grow">
				<text class="name">{{item.name}}</text>
				<text class="des">{{item.autograph}}</text>
			</view>
			
			
			
		</view>
		
		
		</mescroll-body>
	</view>
</template>

<script>
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	export default {
		components: {
		
			MescrollBody
		},
		data() {
			return {
				list: [],
				loadType: 'add',
				
				renderList:[],
                  upOption: {
                  	chauid: 0 , 
                  	auto: false, // 不自动加载
                  	page: {
                  		num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
                  		size: 10 // 每页数据的数量
                  	},
                  
                  	noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
                  },
			}
		},
		computed: {
			statusBarHeight() {
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight() {
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight() {
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) - 70;
			},
		},
		onLoad() {
		
		},
		watch: {
			list(list){
				//console.log('a watch  a')
				//console.log(JSON.stringify(list.slice(this.renderList.length) ))
				if(this.loadType === 'add'){
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		
		methods: {
			async loadList(e) {
				// this.mescroll.removeEmpty();
				const {
					sortList,
					curCateItem,
					keyword
				} = this;
				const data = {
					
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
			    
			    this.loadType = e.num === 1 ? 'refresh' : 'add';
			
				const res = await this.$request('cook', 'getList', data);
				const curList = res.data;
				console.log('curList', JSON.stringify(curList));
				
				
				if (e.num === 1) {
					//第一页清空数据重载
					this.list = [];
					this.loaded && curList.forEach(item => {
						item.loaded = true;
					})
					if (curList.length > 0) {
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200,
			
						})
						// console.log('this.data', JSON.stringify(res))
					}
				}
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			mescrollInit(mescroll) {
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
			//刷新列表
			refreshList() {
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			downCallback(mescroll){
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
           gotonext(id){
           	this.navTo('/pages/mingren/info?id='+id )
           	
           },
		}
	}
</script>

<style lang="scss">
	.content {
		width: 100%;
		padding: 30rpx 44rpx 85rpx 44rpx;

		.item {
			width: 100%;
			display: flex;
			margin-bottom: 10rpx;
			align-items: center;
			justify-content: space-between;

			image {
				width: 106rpx;
				height: 106rpx;
				display: block;
				border-radius: 50%;
			}

			.grow {
				width: 540rpx;
				border-bottom: 1px solid #e5e5e5;
				padding: 20rpx 0 33rpx 0;

				.name {
					display: block;
					font-size: 28rpx;
					color: #000000;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
					margin-bottom: 18rpx;
				}

				.des {
					display: block;
					font-size: 22rpx;
					color: #999999;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
</style>
