<template>
	<view class="content">
		
		<view class="userinfo">
			
			<view class="box" @click="chooseImage">
				<image 
				:src="tempAvatar || userInfo.avatar || 'https://nbghmy.com/static/userinfo_03.jpg'" 
				mode="aspectFill" 
				class="logo"></image>
				<image src="../../static/takephoto_03.png" mode="widthFix" class="take"></image>
				<view
					class="progress center"
					:class="{
						'no-transtion': uploadProgress === 0,
						show: uploadProgress != 100
					}"
					:style="{
						width: uploadProgress + '%',
						height: uploadProgress + '%',
					}"
				></view>
			</view>
			
		</view>
		
		<view class="main_item" style="margin-top: 0;">
			
			<view class="label">
				<text class="font">昵称</text>
				<input type="text" v-model="userInfo.nickname"  placeholder="请填写昵称" placeholder-class="s" />
			</view>
			
			
			<view class="label">
				<text class="font">手机</text>
				<input type="text" v-model="userInfo.phone"  placeholder="请填写手机" placeholder-class="s" />
			</view>
	
	
			<view class="label">
				<text class="font">身份</text>
				<view class="changes">
					<picker v-model="userInfo.identity" @change="bindPickerChange1" :value="shenfen[indexaa]" :range="shenfen" >
						<view  class="uni-input"  :class="(indexaa==1  )?'on':''">{{shenfen[indexaa]}}</view>
					</picker>
					
				</view>
			</view>
			
			
			
			<view class="labels">
				<text class="font">实力展示</text>
				<textarea value="" v-model="userInfo.describe" placeholder-class="s" placeholder="如：从业年限、养殖面积、为哪些大客户供货、供货特色第" />
			</view>
			
		</view>
		
		
		<!-- <view class="main_item">
			<text class="title">图片上传</text>
			<text class="des">上传证明实力的图片（最多6张）如：获奖证书、资质证明等</text>
			
			<view class="updatabox">
				<u-upload ref="uUpload" :action="action" :auto-upload="false" v-model="userInfo.photo"></u-upload>
			</view>
			
		</view>
		 -->
<!-- 				<view class="main_item">
				  <text class="title">图片上传</text>
				  <text class="des">上传证明实力的图片（最多6张）如：获奖证书、资质证明等</text>
				</view>
				  <view class="upload-wrap">
				<mix-upload-image ref="mixUploadImage" :length="4" :action="action" v-model="userInfo.images"></mix-upload-image>
				  </view>
		 -->

		

		
		
		
		
		<mix-button class="button" ref="confirmBtn" text="确认修改" marginTop="80rpx" @onConfirm="confirm">
			
		</mix-button>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				show: false,
				action: '',
				index: 0,
				indexaa:0,
				uploadProgress: 100, //头像上传进度
				tempAvatar: '', 
				userInfo: {},
				shenfen: ['请选择身份类型', ],
				shenfen_id:[],
			}
		},
		computed: {
			curUserInfo(){
				return this.$store.state.userInfo
			}
		},
		watch: {
			curUserInfo(curUserInfo){
				
				const {avatar, nickname, phone, identity, describe, images } = curUserInfo;
			    this.userInfo = {avatar, nickname, phone, identity, describe, images};
			}
			
		},
		onLoad() { 
		this.loadShenfen('9e7190f161938fd906226abb104b4b8b');
			 
			
		},
		onshow() {
			const {avatar, nickname, phone, identity, describe, images} = this.curUserInfo;
			this.userInfo = {avatar, nickname,  phone, identity, describe, images};
			
		
		
		},
		methods: {
			
			
			    async loadShenfen( parent_id ){
			    	const userInfo = {
			    		parent_id :parent_id
			    	}
			    	const res = await this.$request('releasecategory', 'get1', userInfo, {
			    		showLoading: !this.loaded
			    	});
			    	 
					
					 
			    	this.shenfen[0] ='请选择身份类型' 
			    	res.forEach((item,index)=> {
			    		this.shenfen[index] =  item.name  
			    		this.shenfen_id[index] =  item._id  
						 
						setTimeout(()=>{
							this.userInfo = this.$store.state.userInfo
							
							console.log('identity' ,  this.userInfo.identity )
							 if(this.userInfo.identity == item._id) {
							 	this.indexaa = index
							 
							 }
						}, 500)
						
						
						
			    		
			    	})   
			    	
			      
					
			    },
				
				//提交修改
				async confirm(){
					const {uploadProgress,userInfo, curUserInfo} = this;
					
					let isUpdate = false;
					
					 console.log('userInfo ', JSON.stringify( userInfo.describe)  )
					console.log('curUserInfo ', JSON.stringify( curUserInfo.describe)  )
					
					for(let key in userInfo){
						if(userInfo[key] !== curUserInfo[key]){
							isUpdate = true;
							break;
						}
					}
					isUpdate = true;
					if(isUpdate === false){
						this.$util.msg('信息未修改111');
						this.$refs.confirmBtn.stop();
						return;
					}
					if(!userInfo.avatar){
						this.$util.msg('请上传头像');
						this.$refs.confirmBtn.stop();
						return;
					}
					if(uploadProgress !== 100){
						this.$util.msg('请等待头像上传完毕');
						this.$refs.confirmBtn.stop();
						return;
					}
					if(!userInfo.nickname){
						this.$util.msg('请输入您的昵称');
						this.$refs.confirmBtn.stop();
						return;
					}
					// const data = {
					// 	avatar, 
					// 	nickname, 
					// 	phone,
					// 	describe,
					// 	identity,
					// 	images: this.$refs.mixUploadImage.imageList.map(item=> item.url)
					// }
					
					const res = await this.$request('user', 'update', userInfo);
					this.$refs.confirmBtn.stop();
					this.$util.msg(res.msg);
					if(res.status === 1){
						this.$store.dispatch('getUserInfo'); //刷新用户信息
						setTimeout(()=>{
							uni.navigateBack();
						}, 1000)
					}
					
				},
				//选择头像
				chooseImage(){
					uni.chooseImage({
						count: 1,
						sizeType:"compressed",
						success: res=> {
							uni.navigateTo({
								url: `./cutImage/cut?src=${res.tempFilePaths[0]}` 
							});
						}
					});
				}, 
				//裁剪回调
				async setAvatar(filePath){
					this.tempAvatar = filePath;
					this.uploadProgress = 0;
					const result = await uniCloud.uploadFile({
						filePath: filePath,
						cloudPath: + new Date() + ('000000' + Math.floor(Math.random() * 999999)).slice(-6) + '.jpg',
						onUploadProgress: e=> {
							this.uploadProgress = Math.round(
								(e.loaded * 100) / e.total
							);
						}
					});
					if(!result.fileID){
						this.$util.msg('头像上传失败');
						return;
					}
					if(typeof uniCloud.getTempFileURL === 'undefined'){
						this.userInfo.avatar = result.fileID;
					}else{
						const tempFiles = await uniCloud.getTempFileURL({
							fileList: [result.fileID]
						})
						const tempFile = tempFiles.fileList[0];
						if(tempFile.download_url || tempFile.fileID){
							this.userInfo.avatar = tempFile.download_url || tempFile.fileID;
						}else{
							this.$util.msg('头像上传失败');
						}
					}
				},
			bindPickerChange1: function(e) {
				this.indexaa = e.target.value
				
				this.userInfo.identity = this.shenfen_id[e.target.value]
			},
			
			change(e){
				
			}
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 0 30rpx 30rpx 30rpx;
		.userinfo{
			width: 100%;
			height: 300rpx;
			border-top: 1px solid #eff0f2;
			border-bottom: 1px solid #eff0f2;
			display: flex;
			justify-content: center;
			align-items: center;
			.box{
				width: 155rpx;
				position: relative;
				border-radius: 50%;
				height: 155rpx;
				.logo{
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 50%;
				}
				.take{
					width: 56rpx;
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}

		.button {
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			margin-top: 85rpx;
			letter-spacing: 5rpx;
		}

		.main_item {
			overflow: hidden;
			width: 100%;
			margin-top: 40rpx;

			.des {
				display: block;
				font-size: 24rpx;
				color: #989da6;
				margin-bottom: 18rpx;
				line-height: 1;
			}

			.title {
				display: block;
				font-size: 30rpx;
				color: #2a3243;
				margin-bottom: 25rpx;
				line-height: 1;
			}

			.labels {
				overflow: hidden;
				width: 100%;
				border-bottom: 1px solid #eff0f2;
				position: relative;

				.font {
					display: block;
					font-size: 30rpx;
					height: 109rpx;
					display: flex;
					align-items: center;
					width: 100%;
					color: #2a3243;
				}

				textarea {
					width: 100%;
					border: 1px solid #eff0f2;
					padding: 20rpx;
					border-radius: 6rpx;
					height: 200rpx;
					font-size: 28rpx;
					color: #333;
				}

				.s {
					color: #c8c9cd;
				}
			}

			.labelss {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					color: #2a3243;
				}

				switch {
					transform: scale(0.9);
				}
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				border-bottom: 1px solid #eff0f2;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					width: 105rpx;
					color: #2a3243;
				}

				input {
					width: calc(100% - 105rpx);
					height: 100%;
					font-size: 30rpx;
					color: #636976;
				}
				.uni-input{
					width: calc(690rpx - 105rpx);
					height: 109rpx;
					font-size: 30rpx;
					color: #636976;
					display: flex;
					align-items: center;
					color: #c8c9cd;
					&.on{
						color: #636976;
					}
				}
				.right {
					width: 12rpx;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				.w {
					font-size: 30rpx;
					color: #2a3243;
					display: flex;
					align-items: center;
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
				}

				.s {
					color: #c8c9cd;
				}
			}
		}
	}
</style>
