<template>
	<view class="content">
		<view class="status_bar"></view>
		<view class="header">
			<image src="../../static/eth_06.png" @click="gos" mode="widthFix" class="left"></image>
			<!-- <image src="../../static/closes_03.jpg" mode="widthFix" class="close"></image>
			<text class="tt">fil</text>
			<image src="../../static/cn_03.jpg" mode="widthFix" class="code"></image> -->
		</view>
		<view class="main_info">
			<view class="top">
				<view class="left">
					<!-- <image src="../../static/hq_03.jpg" mode=""></image> -->
					<view>
						
						<!-- <text class="ff">{{filassets.filval_now}}亿/{{filassets.filval_all}}亿</text> -->
					</view>
				</view>
				<!-- <view class="fr">
					<text class="f">￥{{filassets.filval}}</text> <!- - $ - ->
					<view>
						<image src="../../static/hq_06.jpg" mode="widthFix"></image>
						<text>￥ ({{upRate1}}%)</text>   <!- - $ - ->
					</view>
				</view> -->
			</view>
			<view class="list">
				<view>
				<!-- 	<text class="f">今日价格</text>
					<text class="ff">{{filassets.Price}} U </text> -->
				</view>
				<!-- <view>
					<text class="f">量(24h)</text>
					<text class="fff">{{volume}}</text>
				</view>
				<view>
					<text class="f">今日最高</text>
					<text class="fff">{{high}}</text>
				</view> -->
				<!-- <view>
					<text class="f">额(24h)</text>
					<text class="fff"> {{today_allval}}亿</text>
				</view>
				<view>
					<text class="f">今日最低</text>
					<text class="fff">{{low}}</text>
				</view> -->
				<!-- <view>
					<text class="f">历史最高</text>
					<text class="ff">$1,432.88</text>
				</view>
				<view>
					<text class="f">换手率</text>
					<text class="ff">7.47%</text>
				</view>
				<view>
					<text class="f">历史最低</text>
					<text class="fff">$0.42</text>
				</view> -->
			</view>
		</view>
		<view class="echarts">
			<!-- <view class="tab">
				<text :class="[index == indexs?'on':'']"
				 @click="change(index)" v-for="(item, index) in curList">{{item}}</text>
			</view> -->
			<view class="box">
				<text style="font-size: 20rpx;color: #fff;margin-top: 20rpx;display: block;">价格走势</text>
				<canvas canvas-id="canvasPie" id="canvasPie" class="charts-pie"></canvas>
			</view>
		</view>
		
		<view style="height: 130rpx;"></view>
		<!-- <view class="footer">
			<image src="../../static/hq_14.jpg" mode="widthFix"></image>
			<view>已添加</view>
		</view> -->
	</view>
</template>

<script>
	var _self;
	var canvaPie = null;
	// import config from '@/common/index/index.js';
	import uCharts from '@/js_sdk/u-charts/u-charts/u-charts.js';
	
	export default {
		data() {
			return {
				data:[],
				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
			 upRate1:0,
			 volume:0 ,
			 high:0,
			 low:0,
			 lastPrice:0 , 
			 today_allval:0,
				serverData: '',
				piearr: [],
				UserInfo:{} , 
				piearr1: [],
				filassets:{},
				e:[],
				navbar:[ '1D' ],  // ['24h','1W','1M','1Y'],
				indexs:0,
				upOption:{
					auto: false, // 不自动加载

					noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				page: {
				 	num: 1, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				 	size: 10 // 每页数据的数量
				},
				name:'', 
				
				categories:[] , 
				prices:[] , 
			}
		}, 
		onLoad(e) {
			 
			if(e.name){
				this.name = e.name ; 
			}
			 
			var _self     = this;
			this.cWidth   = uni.upx2px(690);
			this.cHeight  = uni.upx2px(425);
			this.getfilassets() ; 
			this.getServerData()
		},
		onShow() {
			 var _self     = this;
			_self.getfilassets() ; 
			//this.getServerData()
		},		
		methods: {
			change(n){
				this.indexs = n
				this.getServerData()
			},
			gos(){
				uni.navigateBack({
					delta:1
				})
			}, 
			async getfilassets( ){
				uni.showLoading({
					icon:'loading',
					title:'行情更新中...',
				})  //显示加载
				const {sortList, curCateItem, keyword} = this;
				const data = { 
					offset: (this.page.num - 1) * this.page.size,
					limit: this.page.size,
					name: this.name
				}
				const res = await this.$request('quotation', 'getList', data); 
				// console.log('curListcurListcurList', JSON.stringify(res))
				if(res.data){ 
					      res.data.forEach( (item, index)=> {
							
						  this.categories[index] = item.start_time ; 
						  
						  this.prices[index] = item.price ; 
						  })
						  
						  console.log('1231321321321321', JSON.stringify(this.categories))
						   console.log('sdadsadsadasda', JSON.stringify(this.prices))
						 var _self = this ;
						 var chartData = {
						 	categories:  this.categories, 
						 	series: [{
						 		name: '价格',
						 		data:   this.prices , 
						 		color: '#2fbf5c',
						 		style:'curve',
						 	 }
						 	
						 	]
						 }               
						 _self.showPie("canvasPie", chartData);      //画布 canvasPie
						 uni.hideLoading()
					 
					 }
				 },
						
						  
			//  async getfilassets(e){
			// 	uni.showLoading({ 
			// 		icon:'loading',
			// 		title:'行情更新中...',
			// 	})  //显示加载		
			// 	this.$api.filassets.register().then(res=>{
			// 			if(res.status == 410000){
						
					 
			// 			let info=res.data ; 
			// 			console.log('categories ' + res.data ) ; 
			// 			this.filassets=info ;
			// 			this.upRate1  = info.latest.upRate1; 
			// 			this.volume  = info.latest.volume; 
			// 			this.high  = info.latest.high;  
			// 			this.today_allval  = info.latest.today_allval;  
			// 			this.low  = info.latest.low;   
			// 			this.lastPrice = info.latest.lastPrice;  
						 
			// 			var categories=new Array();
			// 			var prices=new Array();
			// 			console.log(JSON.stringify(info.market.data[0])) ; 
			// 			for(var i=0;i< info.market.count ;i++){
			// 				categories[i] = info.market.data[i].date ; 
			// 				prices[i] = info.market.data[i].lastPrice ; 
			// 			}
			// 			console.log( 'categories 11  ' + categories ) ; 
						 
			// 			var _self = this ; 
			// 			var chartData = {
			// 				categories:  categories, 
			// 				series: [{
			// 					name: '价格',
			// 					data:   prices , 
			// 					color: '#2fbf5c',
			// 					style:'curve',
			// 				 }
			// 				//, {
			// 				// 	name: '成交量B',
			// 				// 	data: [70, 40, 65, 100, 44, 68],
			// 				// 	style:'curve'
			// 				// }
			// 				]
			// 			}               
			// 			_self.showPie("canvasPie", chartData);      //画布 canvasPie
			// 			uni.hideLoading()
			// 		}	
			// 	})
			// },
			getServerData() {
				var _self = this
				var chartData = {
					categories: ['2012', '2013', '2014', '2015', '2016', '2017'],  //类别
					series: [{
						name: '成交量A',
						data: [35, 20, 25, 37, 4, 20],
						color: '#2fbf5c',
						style:'curve',
					}, {
						name: '成交量B',
						data: [70, 40, 65, 100, 44, 68],
						style:'curve'
					}]
				}
				
				_self.showPie("canvasPie", chartData);
				
				console.log('1111111111111' ,JSON.stringify(chartData) )
			},
			showPie(canvasId, chartData) {
				var _self = this
				canvaPie=new uCharts({
					$this:_self,
					canvasId: canvasId,
					type: 'line',
					legend:{show:true},
					dataLabel:false,
					padding: [20, 0, 40, 0],
					pixelRatio:1,
					categories: chartData.categories,
					series: chartData.series,
					animation: true,
					legend:{
						show:false
					},
					xAxis: {
						type:'grid',
						gridColor:'#CCCCCC',
						gridType:'dash',
						dashLength:8,
						disableGrid:true,
						disabled:true,
						gridType:'dash'
					},
					yAxis: {
						disabled:true,
						gridType:'dash'
					},
					width: this.cWidth,
					height: this.cHeight,
					extra: {
						line:{
							type: 'straight'
						}
					}
				});
				
				this.piearr = canvaPie.opts.series;
			},
		}
	}
</script>

<style lang="scss">
	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
		background: #242A3B;
	}
	.charts-pie{
		width: 100%;
		height: 425rpx;
	}
	page {
		background: #1D222F;
	}
	.footer{
		overflow: hidden;
		display: flex;
		align-items: center;
		background: #242A3B;
		height: 130rpx;
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		image{
			width: 60rpx;
			display: block;
			margin: 0 80rpx;
		}
		view{
			width: 503rpx;
			height: 85rpx;
			border-radius: 50rpx;
			text-align: center;
			line-height: 85rpx;
			font-size: 30rpx;
			color: #fff;
			background: #108FFA;
		}
	}
	.content {
		overflow: hidden;
		.jj{
			overflow: hidden;
			margin-top: 10rpx;
			padding: 30rpx;
			background-color: #242A3B;
			width: 100%;
			.f{
				display: block;
				font-size: 30rpx;
				color: #fff;
				line-height: 1;
				margin-bottom: 30rpx;
			}
			.ff{
				display: block;
				font-size: 24rpx;
				color: #fff;
				line-height: 36rpx;
			}
		}
		.echarts{
			width: 100%;
			margin-top: 10rpx;
			overflow: hidden;
			background: #242A3B;
			padding: 10rpx 30rpx 0 30rpx;
			.box{
				width: 100%;
				height: 425rpx;
				overflow: hidden;
				image{
					width: 100%;
					display: block;
				}
			}
			.tab{
				overflow: hidden;
				height: 75rpx;
				border-bottom: 1px solid #3B4153;
				display: flex;
				align-items: center;
				text{
					font-size: 24rpx;
					color: #fff;
					margin-right: 88rpx;
					padding: 0 7rpx;
					display: block;
					line-height: 70rpx;
					&.on{
						color: #108ffb;
						border-bottom: 1px solid #1285E9;
					}
				}
			}
		}
		.list{
			overflow: hidden;
			padding-bottom: 40rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			view{
				width: 280rpx;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 35rpx;
				text{
					line-height: 1;
					font-size: 24rpx;
				}
				.f{
					color: #b9b9b9;
				}
				.ff{
					color: #1c96ff;
				}
				.fff{
					color: #fff;
				}
			}
		}
		.main_info{
			overflow: hidden;
			background: #242A3B;
			padding: 0 30rpx;
			.top{
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 148rpx;
				border-bottom: 1px solid #4E5466;
				.fr{
					overflow: hidden;
					text-align: right;
					.f{
						font-size: 30rpx;
						color: #ffffff;
					}
					view{
						overflow: hidden;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						margin-top: 5rpx;
						image{
							width: 29rpx;
						}
						text{
							font-size: 24rpx;
							margin-left: 11rpx;
							color: #00f36b;
						}
					}
				}
				.left{
					overflow: hidden;
					display: flex;
					align-items: center;
					image{
						width: 76rpx;
						height: 76rpx;
						border-radius: 50%;
						display: block;
					}
					view{
						overflow: hidden;
						margin-left: 26rpx;
						.f{
							display: block;
							font-size: 36rpx;
							color: #fff;
							line-height: 1;
							margin-bottom: 16rpx;
						}
						.ff{
							display: block;
							line-height: 1;
							font-size: 24rpx;
							color: #959eb8;
						}
					}
				}
			}
		}
		.header{
			width: 100%;
			height: 110rpx;
			background: #242a3b;
			overflow: hidden;
			display: flex;
			z-index: 9999;
			justify-content: center;
			align-items: center;
			border-bottom: 10rpx solid #1B2030;;
			position: relative;
			.close{
				width: 31rpx;
				position: absolute;
				left: 89rpx;
				top: 50%;
				transform: translateY(-50%);
			}
			.left{
				width: 21rpx;
				position: absolute;
				left: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}
			.tt{
				font-size: 36rpx;
				font-weight: bold;
				color: #fff;
			}
			.code{
				width: 38rpx;
				position: absolute;
				right: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
</style>
