<template>
	<view class="content">
		<view class="main_item">
			<text class="title">基本信息</text>
			
			
			<view class="label">
				<text class="font">用工标题</text>
				<input type="text" value=""  v-model="data.name" placeholder="请填写用工标题" placeholder-class="s" />
			</view>
			
			
			<view class="label">
				<text class="font">每日薪资</text>
				<input type="text" value="" placeholder="请填写每日薪资" v-model="data.price" placeholder-class="s" />
				<text class="w">元</text>
			</view>
			
			
			<view class="label">
				<text class="font">公司名称</text>
				<input type="text" value="" placeholder="请填写公司名称" v-model="data.corporate_name" placeholder-class="s" />
				
			</view>
			
			<view class="label">
				<text class="font">手机号</text>
				<input type="text" value="" placeholder="请填写手机号" v-model="data.phone" placeholder-class="s" />
				
			</view>
			
			
			
		</view>
		
		
		
		<view class="main_item">
			
			<text class="title">其他信息</text>
			
			<view class="label">
				<text class="font">发薪日</text>
				<input type="text" value="" placeholder="请填写发薪日" v-model="data.salary_day" placeholder-class="s" />
				
			</view>
			
			<view class="label">
				<text class="font">薪资范围</text>
				<input type="text" value="" placeholder="请填写薪资范围" v-model="data.salary" placeholder-class="s" />
				
			</view>
			
			<view class="label">
				<text class="font">工作地址</text>
				<input type="text" value="" placeholder="请填写工作地址" v-model="data.address" placeholder-class="s" />
				
			</view>
			
			
		
			<view class="label">
				<text class="font" >底薪</text>
				
					<input type="text" value="" placeholder="请填写底薪" v-model="data.Base_salary" placeholder-class="s" />
					<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>
				
			</view>
		
			
			<view class="labels">
				<text class="font">工作描述</text>
				<textarea  v-model="data.content" value="" placeholder-class="s" placeholder="如：工作性质,工作内容等……" />
			</view>
			
			
			
		</view>
		

	
		
		<mix-button  class="button" ref="confirmBtn" text="确认发布" marginTop="60rpx" @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	import {checkStr} from '@/common/js/util'
	export default {
		data() {
			return {
				show: false,
				action: '',
				data: {
					transaction:true
				},
				
				chandi_id:[],
				uploadProgress: 100, //头像上传进度
				tempAvatar: '', 
				discount:0,
				show: false,
			
			}
		},
		computed: {
					curData(){
						return this.$store.state.data
					}
				},
				watch: {
					curData(curData){
						const {avatar, name, discount, anonymous,} = data;
						this.data = {avatar, name, discount, anonymous : !!anonymous};
					}
				},
				onLoad(e) {
				           if (e.id) {
				           	this.id = e.id ;
				           	this.loadDetail()
				           };
				},
				
				methods: {
					async loadDetail(){
						const res = await this.$request('temporary', 'getDetail', {
							id: this.id
						})
						if(res.status === 0){
							this.$util.msg(res.msg || '产品不存在或已下架');
							setTimeout(()=>{
								uni.navigateBack();
							}, 1000)
							return;
						}
						const data = res.data;
						
						data.quantity = parseFloat (data.quantity)
							
						console.log('res.data',JSON.stringify(res.data))
						// data.content = data.content.replace(/img src="/g, 'img style="display:block;width:100%;height:auto" src="');
					   this.data = data;
					
					},
					
				
					async submit() {
						// console.log('1111')
						const {uploadProgress, curData} = this.data;
						let isUpdate = false;
						for(let key in curData){
							if(curData[key] !== curData[key]){
								isUpdate = true;
								break;
							}
						}
						
						const data = this.data;
						console.log(JSON.stringify(this.data))
						if (!data.name) {
							this.$util.msg('请输入用工标题');
							this.$refs.confirmBtn.stop();
							return;
						}
						
						
		                const operation = data._id ? 'update' : 'add';
		                console.log(JSON.stringify(data)) 
		                console.log('123456789');
		                data.status = 0  ; // 默认审核不通过
						
		                const res = await this.$request('temporary', operation, data);
		                 
		                this.$util.msg(res.msg);
		                if(res.status === 1){
		                	//this.$util.prePage().loadData();
		                	setTimeout(()=>{
		                		uni.navigateBack();
		                	}, 1000)
		                }
		
					},
		
					bindPickerChange: function(e) {
						this.index = e.target.value
						//this.data.category = e.target.value
						this.data.category = this.pinlei_id[e.target.value]
						
						console.log('1111')
					},
		
					bindPickerChange1: function(e) {
						this.index1 = e.target.value
						// this.data.specifications = e.target.value
						this.data.specifications = this.guige_id[e.target.value]
					},
					bindPickerChange2: function(e) {
						this.index2 = e.target.value
						// this.data.region = e.target.value
						this.data.region = this.chandi_id[e.target.value]
		            },
					changeStock(stock) {
		
						this.$set(this.data, 'stock', stock)
		
					},
		
					changeDiscount(discount){
						
						this.$set(this.data, 'discount', discount)
					},
					changeGuarantee(guarantee){
					
						this.$set(this.data, 'guarantee', guarantee)
					},
					chooseImage(){
						uni.chooseImage({
							count: 1,
							sizeType:"compressed",
							success: res=> {
								uni.navigateTo({
									url: `/pages/set/cutImage/cut?src=${res.tempFilePaths[0]}` 
								});
							}
						});
					},
					//裁剪回调
					async setAvatar(filePath){
						this.tempAvatar = filePath;
						this.uploadProgress = 0;
						const result = await uniCloud.uploadFile({
							filePath: filePath,
							cloudPath: + new Date() + ('000000' + Math.floor(Math.random() * 999999)).slice(-6) + '.jpg',
							onUploadProgress: e=> {
								this.uploadProgress = Math.round(
									(e.loaded * 100) / e.total
								);
							}
						});
						if(!result.fileID){
							this.$util.msg('头像上传失败');
							return;
						}
						if(typeof uniCloud.getTempFileURL === 'undefined'){
							this.data.avatar = result.fileID;
						}else{
							const tempFiles = await uniCloud.getTempFileURL({
								fileList: [result.fileID]
							})
							const tempFile = tempFiles.fileList[0];
							if(tempFile.download_url || tempFile.fileID){
								this.data.avatar = tempFile.download_url || tempFile.fileID;
							}else{
								this.$util.msg('头像上传失败');
							}
						}
					},
					//公开信息
					onSwitch(e){
						this.data.transaction = !e.detail.value;
						//this.data.transaction = e.target.value
						console.log(e.detail.value)
					}
				}
			}
		</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 0 30rpx 30rpx 30rpx;

		.selects {
			overflow: hidden;
			display: flex;
			align-items: center;
			margin-top: 50rpx;

			.font {
				display: block;
				font-size: 30rpx;
				display: flex;
				align-items: center;
				width: 168rpx;
				color: #2a3243;
			}

			.grow {
				overflow: hidden;
				display: flex;
				align-items: center;

				view {
					display: inline-flex;
					align-items: center;
					height: 64rpx;
					font-size: 24rpx;
					color: #2a3243;
					padding: 0 30rpx;
					border-radius: 50rpx;
					margin-right: 24rpx;
					border: 1px solid #cccccc;

					&.on {
						background: #e3f2fb;
						border: 1px solid #e3f2fb;
						color: #0e689b;
					}
				}
			}
		}

		.button {
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			margin-top: 100rpx;
			letter-spacing: 5rpx;
		}

		.main_item {
			overflow: hidden;
			width: 100%;
			margin-top: 65rpx;

			.des {
				display: block;
				font-size: 24rpx;
				color: #989da6;
				margin-bottom: 18rpx;
				line-height: 1;
			}

			.title {
				display: block;
				font-size: 38rpx;
				color: #2a3243;
				font-weight: bold;
				margin-bottom: 25rpx;
				line-height: 1;
			}

			.labels {
				overflow: hidden;
				width: 100%;
				border-bottom: 1px solid #eff0f2;
				position: relative;

				.font {
					display: block;
					font-size: 30rpx;
					height: 109rpx;
					display: flex;
					align-items: center;
					width: 100%;
					color: #2a3243;
				}

				textarea {
					width: 100%;
					border: 1px solid #eff0f2;
					padding: 20rpx;
					border-radius: 6rpx;
					height: 325rpx;
					font-size: 28rpx;
					color: #333;
				}

				.s {
					color: #c8c9cd;
				}
			}

			.labelss {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					color: #2a3243;
				}

				switch {
					transform: scale(0.9);
				}
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				border-bottom: 1px solid #eff0f2;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					width: 168rpx;
					color: #2a3243;
				}

				input {
					width: calc(100% - 168rpx);
					height: 100%;
					font-size: 30rpx;
					color: #333;
				}
				.uni-input{
					width: calc(690rpx - 168rpx);
					height: 109rpx;
					font-size: 30rpx;
					color: #333;
					display: flex;
					align-items: center;
					color: #c8c9cd;
					&.on{
						color: #333;
					}
				}
				.right {
					width: 12rpx;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				.w {
					font-size: 30rpx;
					color: #2a3243;
					display: flex;
					align-items: center;
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
				}

				.s {
					color: #c8c9cd;
				}
			}
		}
	}
	.add_pic {
		overflow: hidden;
		padding: 36rpx 0 0 0;
	
		text {
			display: block;
			font-size: 38rpx;
			color: #2a3243;
			font-weight: bold;
			margin-bottom: 25rpx;
			line-height: 1;
		}
		.des {
			display: block;
			font-size: 24rpx;
			color: #989da6;
			margin-bottom: 18rpx;
			line-height: 1;
		}
	
		.grow {
			overflow: hidden;
	
			image {
				width: 150rpx;
				height: 150rpx;
				float: left;
				margin-right: 20rpx;
				margin-top: 28rpx;
			}
		}
		.avatar-wrap{
			width: 120rpx;
			height: 120rpx;
			position: relative;
			border-radius: 100rpx;
			overflow: hidden;
			
			.avatar{
				width: 100%;
				height: 100%;
				border-radius: 100rpx;
			}
			.progress{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100rpx;
				height: 100rpx;
				box-shadow: rgba(0,0,0,.6) 0px 0px 0px 2005px;
				border-radius: 100rpx;
				transition: .5s;
				opacity: 0;
				
				&.no-transtion{
					transition: 0s;
				}
				&.show{
					opacity: 1;
				}
			}
		}
	}
</style>
