<template>
	<view class="content">
		<view>
			
			
				<mix-nav-bar 
				:navs="navs" 
				:counts="navCounts" 
				:current="navCurrent" 
				@onChange="onNavBarChange"></mix-nav-bar>
			
				<view style="height: 78rpx;"></view>
		</view>
		
		<!-- <swiper :current="swiperCurrent" :style="'height:' + scrollHeight + 'px'" @transition="transition"
			@animationfinish="animationfinish"> -->
					<mescroll-body
					ref="mescrollRef" 
					@init="mescrollInit" 
					:top="headerHeight" 
					@down="downCallback" 
					:up="upOption" 
					@up="loadList" 
						>
				
					<quotation1list ref="productList" :list="list" :listType="listType">
						
					</quotation1list>
					
					
					</mescroll-body>
					<mix-loading v-if="isLoading"></mix-loading>
					
			
			
		</swiper>
		<view class="buttons"  @click="navTo('/pages/addproduct/addproduct' )">
			<view >发布新货品</view>
		</view>
		
		
	</view>
</template>

<script>
	import quotation1list from './components/my_huo1-list.vue'
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		components: {
			MescrollBody,
			 quotation1list
		},
		mixins: [MescrollMixin],
		data() {
			return {
				listType: 'row', //列表类型 column竖向列表 row 横向列表
				navCounts: [],
				navs: [{name: '上市中'}, {name: '已下架'}],
				navCurrent: 0, //当前tab
				list:[],
				current: 0,
				swiperCurrent: 0,
				scrollHeight: '',
				phoneHeight: '',
				upOption:{
					chastatus: 0 , 
					auto: false, // 不自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				
			}
		},
		watch: {
			
		},
		computed: {
			orderCount(){
				return this.$store.state.orderCount;
			},
			statusBarHeight(){
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight(){
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight(){
				return 0;
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) + 0;
			},
		},
		onLoad(options) {
			this.navCurrent = +options.current;
			
		},
		onShow(){
			if(this.loaded){
				this.refreshList(false);
			}
		},
		onReady() {
			let that = this
			// 获取屏幕高度
			uni.getSystemInfo({
				success(res) {
					that.phoneHeight = res.windowHeight
					that.scrollHeight = that.phoneHeight - 39 - 75
				}
			})
		},
		methods: {
			
			
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				
				// if(current==1){
				// 	this.upOption.chastatus = 1
				// 	console.log('chastatus = 1')
				// }
				this.refreshList();
			},
			async loadList(e){
				// this.mescroll.removeEmpty();
				const {sortList, curCateItem, keyword} = this;
				const data = {
					// sort_type: sortList.filter(item=> item.current)[0].type,
					// cate_id: curCateItem._id || '',
					// first_cate_id: curCateItem.parent_id || '',
					// keyword,
					// is_hot: this.isHot,
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
			    if(this.navCurrent==1){
						data.chastatus = 1
			     }
				this.$refs.productList.loadType = e.num === 1 ? 'refresh' : 'add';
				const res = await this.$request('release', 'getmyList', data);
				const curList = res.data;
				console.log('curList',JSON.stringify(curList))
				// curList.forEach((item, index) => {
				// 	console.log('',JSON.stringify(item.images))
				// 		item.images =  JSON.parse(item.images)
				// 	});
				this.list = [];  
				if(e.num === 1){
					//第一页清空数据重载
					
					 curList.forEach((item,index)=> { // this.loaded &&
						item.loaded = true;
						 
						curList[index].price = parseFloat (item.price)
					
					})
					
					if(curList.length > 0){
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200
						})
					}
					
				} 
				this.list = this.list.concat(curList); //追加新数据
				console.log('this.list',this.list)
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			mescrollInit(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(()=>{
					this.refreshList();
				}, 10)
			},
			refreshList(){
				this.list = [] ; 
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			
			tabsChange(index) {
				this.list = [] ; 
				this.swiperCurrent = index;
			},
			transition(e) {
				let dx = e.detail.dx;
				this.$refs.uTabs.setDx(dx);
			},
			
			onreachBottom() {

			},
			downCallback(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: #f5f6f7;
	}

	.swiper-item {
		width: 100%;
		height: 100%;
	}

	scroll-view {
		width: 100%;
		height: 100%;
	}
	.buttons{
		width: 100%;
		height: 150rpx;
		display: flex;
		align-items: center;
		background-color: #fff;
		justify-content: center;
		view{
			width: 690rpx;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
		}
	}

	.null {
		overflow: hidden;
		width: 100%;
		margin-top: 300rpx;

		image {
			width: 475rpx;
			display: block;
			margin: 0 auto;
			margin-bottom: 45rpx;
		}

		text {
			display: block;
			font-size: 30rpx;
			color: #989da6;
			text-align: center;
		}
	}

	.btn {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10rpx 30rpx 25rpx 0;

		view {
			display: inline-flex;
			align-items: center;
			padding: 0 28rpx;
			height: 50rpx;
			font-size: 24rpx;
			color: #0e689b;
			border-radius: 40rpx;
			border: 1px solid #0e689b;
			margin-left: 20rpx;
		}
	}

	.item {
		overflow: hidden;
		width: 690rpx;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 25rpx;
		box-shadow: 0 0 20px rgba(0, 0, 0, .05);
		border-radius: 20rpx;
		&:last-child{
			margin-bottom: 30rpx;
		}
		.foot {
			overflow: hidden;
			width: 100%;
			height: 74rpx;
			display: flex;
			align-items: center;
			margin-top: 30rpx;
			justify-content: space-between;
			padding: 0 30rpx;
			border-top: 1px solid #e8e9ec;

			.date {
				font-size: 24rpx;
				color: #989da6;
			}

			view{
				display: flex;
				align-items: center;
				text{
					font-size: 24rpx;
					color: #989da6;
				}
				image{
					width: 8rpx;
					margin-left: 16rpx;
				}
			}
		}
	}

	.label {
		overflow: hidden;
		width: 100%;
		margin-top: 30rpx;
		display: flex;
		padding: 0 30rpx;
		align-items: flex-start;
		justify-content: space-between;

		.pic {
			width: 140rpx;
			border-radius: 15rpx;
			height: 140rpx;
		}

		.grow {
			overflow: hidden;
			width: 470rpx;
			margin-left: 20rpx;
			padding-top: 14rpx;
			position: relative;
			.btn{
				display: inline-flex;
				align-items: center;
				padding: 0 28rpx;
				height: 50rpx;
				font-size: 24rpx;
				color: #0e689b;
				position: absolute;
				border-radius: 40rpx;
				border: 1px solid #0e689b;
				right: 0;
				bottom: 0;
			}
			.name {
				display: block;
				font-size: 32rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #2a3243;
				font-weight: bold;
				line-height: 1;
			}

			.des {
				overflow: hidden;
				margin-top: 40rpx;
				display: flex;
				align-items: center;

				text {
					font-size: 24rpx;
					line-height: 1;
					color: #989da6;
					margin-right: 18rpx;
				}
			}

			.form {
				font-size: 22rpx;
				color: #636976;
				margin-top: 20rpx;
				display: block;
			}

			.price {
				display: flex;
				align-items: flex-end;
				font-size: 36rpx;
				color: #f55050;
				margin-top: 40rpx;

				text {
					font-size: 22rpx;
					font-weight: normal;
					margin: 0 5rpx;
				}
			}
		}
	}
</style>
