<template>
	<view class="content">
		<view class="font">
			<text>象山县是中国浙江省宁波市下辖县，位于东海之滨，居长三角地区南缘、浙江省东部沿海，位于象山港与三门湾之间，三面环海，两港相拥。唐神龙二年（公元706年）立县，因县城西北有山“形似伏象”，故名象山，由象山半岛东部及沿海608个岛礁组成。</text>
		</view>
		<mescroll-body
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="0" 
			@down="downCallback" 
			:up="upOption" 
			@up="loadList" 
		>
		<view class="item" v-for="(item, index) in list" :key="index" >
			
			<view class="info">
				<text class="name">{{ item.name }}</text>
				
			</view>
			
			<view v-if="item.image" class="img-wrapper">
				<image class="pic" :src="item.image" mode="aspectFill"></image>
			</view>
			
			<view class="bot b-t" @click="navToDetai(item)">
				<text>查看详情</text>
				<text class="mix-icon icon-you"></text>
			</view>
		</view>
        </mescroll-body>
	</view>
</template>

<script>
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		mixins: [MescrollMixin], 
		data() {
			return {
				list: [],
				upOption:{
					auto: false, // 是否自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 6
				},
			}
		},
		methods: {
			link(url){
				uni.navigateTo({
					url: url
				})
			},
			//加载列表
			async loadList(e){
				const res = await this.$request('characteristic', 'getList', {
					offset: (e.num - 1) * e.size,
					limit: e.size,
				});
				const curList = res.data;
				if(e.num === 1){
					this.list = [];
				}
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
				this.log(curList)
			},
			navToDetai(item){
				this.navTo('/pages/public/article?param=' + JSON.stringify({
					module: 'characteristic',
					operation: 'getDetail',
					data: {
						id: item._id
					}
				}))
			},
			mescrollInit(mescroll){
				this.isLoading = true;
				this.mescroll = mescroll;
				this.mescroll.resetUpScroll(false)
			}
		}
	}
</script>

<style lang="scss">
	.content{
		width: 100%;
		overflow: hidden;
		padding: 0 45rpx 45rpx 45rpx;
		.font{
			overflow: hidden;
			padding: 46rpx 0 0 0;
			text{
				display: block;
				font-size: 24rpx;
				color: #333333;
				line-height: 44rpx;
				margin-bottom: 30RPX;
			}
		}
		.item{
			width: 100%;
			overflow: hidden;
			margin-bottom: 60rpx;
			.img-wrapper {
				width: 100%;
				height: 280rpx;
				margin-bottom: 16rpx;
				position: relative;
			}
			
			.pic {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 6rpx;
			}
			.bot {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 80rpx;
				font-size: 24rpx;
				color: #707070;
				position: relative;
			}
			.info{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.name{
					display: flex;
					align-items: center;
					height: 90rpx;
					font-size: 32rpx;
					color: #303133;
					font-weight: 700;
				}
				.icon{
					display: flex;
					align-items: center;
					view{
						display: flex;
						margin-left: 28rpx;
						align-items: center;
						image{
							width: 35rpx;
						}
						text{
							font-size: 30rpx;
							color: #ff9000;
							margin-left: 10rpx;
							font-weight: bold;
						}
						&:last-child text{
							color: #09ba54;
						}
					}
				}
			}
		}
	}
</style>
