<template>
	<view class="content">
		<view class="item">
			<text class="title">发布临时岗位需求</text>
			
			
			<view class="label">
				<text class="name">临时岗位名称：</text>
				<view class="changes">
					<input type="text" value="" v-model="data.postname" placeholder="请填写临时岗位名称" placeholder-class="s" />
				</view>
			</view>

	
	
	        <view class="label">
	        	<text class="name">用工人数：</text>
	        	<view class="changes">
	        		<input type="text" value="" placeholder="请填写用工人数" v-model="data.number" placeholder-class="s" />
	        	</view>
	        </view>	



			
			<view class="label">
				<text class="name">工作时常：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写工作时常" v-model="data.often" placeholder-class="s" />
				</view>
			</view>
			
			
			
			

			
			
			<view class="label">
				<text class="name">工作地点：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写工作地点" v-model="data.place" placeholder-class="s" />
				</view>
			</view>
			
			
			<view class="label">
				<text class="name">工作经验：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写工作经验" v-model="data.experience" placeholder-class="s" />
				</view>
			</view>
			
			
             <view class="label">
             	<text class="name">年龄要求：</text>
             	<view class="changes">
             		<input type="text" value="" placeholder="请填写年龄要求" v-model="data.age" placeholder-class="s" />
             	</view>
             </view>
			
			
			<view class="label">
				<text class="name">学历要求：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写学历要求" v-model="data.education" placeholder-class="s" />
				</view>
			</view>
			
			
			
				<view class="label">
					<text class="name">性别要求：</text>
					<view class="name" @click="changeGender(1)">
						<text v-if="data.gender == 1" class="mix-icon icon-xuanzhong"></text>
						<text v-else class="mix-icon icon-yk_yuanquan"></text>
						<text>男</text>
					</view>
					<view class="name" @click="changeGender(2)">
						<text v-if="data.gender == 2" class="mix-icon icon-xuanzhong"></text>
						<text v-else class="mix-icon icon-yk_yuanquan"></text>
						<text>女</text>
					</view>
				</view>
			
			
			
			<view class="label">
				<text class="name">薪资：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写薪资金额" v-model="data.salary" placeholder-class="s" />
				</view>
			</view>
			
			
			<view class="label">
				<text class="name">发布日期：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写发布日期" v-model="data.release" placeholder-class="s" />
				</view>
			</view>

		
		    <view class="label">
		    	<text class="name">截至日期：</text>
		    	<view class="changes">
		    		<input type="text" value="" placeholder="请填写截至日期" v-model="data.by" placeholder-class="s" />
		    	</view>
		    </view>
		
		
		
		
		<view class="label">
			<text class="name">健康证：</text>
			<view class="name" @click="changeGender1(1)">
				<text v-if="data.healthy == 1" class="mix-icon icon-xuanzhong"></text>
				<text v-else class="mix-icon icon-yk_yuanquan"></text>
				<text>有</text>
			</view>
			<view class="name" @click="changeGender1(2)">
				<text v-if="data.healthy == 2" class="mix-icon icon-xuanzhong"></text>
				<text v-else class="mix-icon icon-yk_yuanquan"></text>
				<text>无</text>
			</view>
		</view>
		
		
		</view>
		
		
		<view class="label" >
			<text class="name">工作内容描述：</text>
			<textarea placeholder="如：工作内容操作....."  v-model="data.describe" placeholder-class="s"></textarea>
		</view>
		


		<view class="item">
			<text class="title">企业信息</text>

 
               <view class="label">
                	<text class="name">企业名称：</text>
                	<view class="changes">
                		<input type="text" value="" placeholder="请填写企业名称" v-model="data.EnterpriseName" placeholder-class="s" />
                	</view>
                </view>


                

               
			   <view class="label">
			   	<text class="name">企业联系电话：</text>
			   	<view class="changes">
			   		<input type="text" value="" placeholder="请填写企业联系电话" v-model="data.EnterpriseTelephone" placeholder-class="s" />
			   	</view>
			   </view>		
			
			
			
	
				
				
			<view class="label">
				<text class="name">企业信用代码：</text>
				<view class="changes">
					<input type="text" value="" placeholder="请填写企业信用代码" v-model="data.EnterpriseCode" placeholder-class="s" />
				</view>
			</view>		

				
				
			

			
			

		</view>
		 

		<mix-button 
		 class="button" 
		  ref="confirmBtn"
		   text="确认发布" 
		    marginTop="60rpx"
		     @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	  import {checkStr} from '@/common/js/util'
	export default {
 
		data() {
			return {
				data: {
					name:'',
					transaction:true
				},
				  uploadProgress: 100, //头像上传进度
				  tempAvatar: '', 
				  discount:0,
			}
		},
		onLoad() {
		         
		},
		computed: {
			curData(){
				console.log('82')
				return this.$store.state.data
			}
		},
		watch: {
			curData(curData){
				const {avatar, name, discount, anonymous,} = data;
				this.data = {avatar, name, discount, anonymous : !!anonymous};
			}
		},
		
		methods: {
			 async submit(){
			 	// console.log('1111')
				const {uploadProgress, curData} = this.data;
				let isUpdate = false;
				for(let key in curData){
					if(curData[key] !== curData[key]){
						isUpdate = true;
						break;
					}
				}
			 	const data = this.data;
				
				
			 	console.log(JSON.stringify(this.data)) 
			 	if (!data.postname) {
			 		this.$util.msg('请输入临时岗位名称');
			 		this.$refs.confirmBtn.stop();
			 		return;
			 	}
			
				
			 
			 	const operation = data._id ? 'update' : 'add';
			 	console.log(JSON.stringify(data)) 
			 	console.log('123456789');
			 	data.status = 0  ; // 默认审核不通过
			 	const res = await this.$request('temporary', operation, data);
			 	 
			 	this.$util.msg(res.msg);
			 	if(res.status === 1){
			 		//this.$util.prePage().loadData();
			 		setTimeout(()=>{
			 			uni.navigateBack();
			 		}, 1000)
			 	}
			 },
			 
			 changeGender(gender){
			 	//this.gender = gender 
			 	// console.log(gender)
			 	//this.data.gender = gender 
			 	this.$set(this.data, 'gender', gender)
			 	 
			 },
			 changeGender1(healthy){
			 	//this.gender = gender 
			 	// console.log(gender)
			 	//this.data.gender = gender 
			 	this.$set(this.data, 'healthy', healthy)
			 	 
			 },

			 
			 
			 
			}
	}
</script>

<style lang="scss">
	.uni-input {
		height: 110rpx;
		font-size: 30rpx;
		color: #c8c9cd;
		display: flex;
		align-items: center;
	}

	.content {
		overflow: hidden;
		width: 100%;
		padding: 0 30rpx;
		padding-bottom: 60rpx;

		.item {
			overflow: hidden;
			margin-top: 60rpx;

			.title {
				display: block;
				font-size: 38rpx;
				color: #333333;
				font-weight: bold;
				margin-bottom: 16rpx;
			}

			.textarea {
				overflow: hidden;

				.name {
					display: block;
					font-size: 30rpx;
					color: #333333;
					line-height: 110rpx;
				}

				textarea {
					width: 100%;
					height: 325rpx;
					font-size: 28rpx;
					color: #c8c9cd;
					padding: 20rpx;
					border: 1px solid #eff0f2;
					border-radius: 6rpx;
				}
			}

			.add_pic {
				overflow: hidden;
				padding: 36rpx 0 0 0;

				text {
					display: block;
					font-size: 38rpx;
					color: #333333;
				}

				.grow {
					overflow: hidden;

					image {
						width: 150rpx;
						height: 150rpx;
						float: left;
						margin-right: 20rpx;
						margin-top: 28rpx;
					}
				}
				.avatar-wrap{
					width: 120rpx;
					height: 120rpx;
					position: relative;
					border-radius: 100rpx;
					overflow: hidden;
					
					.avatar{
						width: 100%;
						height: 100%;
						border-radius: 100rpx;
					}
					.progress{
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 100rpx;
						height: 100rpx;
						box-shadow: rgba(0,0,0,.6) 0px 0px 0px 2005px;
						border-radius: 100rpx;
						transition: .5s;
						opacity: 0;
						
						&.no-transtion{
							transition: 0s;
						}
						&.show{
							opacity: 1;
						}
					}
				}
			}

			.switch {
				display: flex;
				align-items: center;
				height: 110rpx;
				justify-content: space-between;

				switch {
					transform: scale(0.9);
				}

				text {
					font-size: 30rpx;
					color: #333333;
				}
			}

			.rideo {
				overflow: hidden;
				display: flex;
				margin-bottom: 30rpx;
				justify-content: space-between;

				.name {
					display: block;
					font-size: 30rpx;
					color: #333333;
					line-height: 64rpx;
					margin-top: 20rpx;
				}

				.fr {
					width: 520rpx;
					display: flex;
					align-items: center;
					flex-wrap: wrap;

					view {
						display: inline-flex;
						align-items: center;
						height: 64rpx;
						padding: 0 30rpx;
						border-radius: 40rpx;
						margin-right: 23rpx;
						border: 2rpx solid #cccccc;
						margin-top: 20rpx;
						font-size: 24rpx;
						color: #333333;

						&.on {
							background: #e3f2fb;
							color: #0e689b;
							border: 2rpx solid #e3f2fb;
						}
					}
				}
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 110rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #eff0f2;

				.name {
					display: block;
					font-size: 30rpx;
					color: #333333;
				}

				.changes {
					width: 450rpx;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;

					input {
						width: 80%;
						height: 100%;
						border: none;
						font-size: 30rpx;
						color: #333;
					}

					.s {
						color: #c8c9cd;
					}

					.right {
						width: 12rpx;
					}

					.d {
						font-size: 30rpx;
						color: #333333;
					}
				}
			}
		}

		.button {
			width: 100%;
			height: 90rpx;
			background: #0e689b;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10rpx;
			font-size: 34rpx;
			margin-top: 100rpx;
			color: #fff;
		}
	}
</style>
