<template>
	<view class="content">
		<view class="nav-wrap">
			<mix-nav-bar 
			:navs="navs" 
			:counts="navCounts" 
			:current="navCurrent" 
			@onChange="onNavBarChange"></mix-nav-bar>
		</view>
		
		<mescroll-body
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="84" 
			@down="downCallback" 
			:up="upOption" 
			@up="loadData" 
		>
					<view class="itemlist column" v-for="(item, index) in list" @click="navTo('detail?id='+item._id)">
						
						<view class="head">
							<text class="orderid">订单号：{{item.order_number}}</text>
							<text class="tip" :class="{gray:item.status===10}">{{ item.status_text }}</text>
						</view>
						
						<view class="label">
							<image :src="item.products[0].image" mode="" class="pic"></image>
							<view class="grow">
								
								<text class="name">{{ item.products[0].title }}</text>
								<text class="price">
								<text>￥</text>{{ item.products[0].price }}<text>元/斤</text>
								</text>
							</view>
						</view>
						<!-- 多商品 -->
						
						<view class="foot">
							<text class="date">{{item.add_time | date('y-m-d ')}}</text>
							<text class="product_number">共{{ item.product_number }}件 </text>
							<text class="price">实付:￥{{ item.price_data.pay_price }}</text>
						</view>
						
					<view class="btn-group row" @click.stop.prevent="stopPrevent">
						<view v-if="item.status===4 || item.status===10 || item.status===11 || item.status===14" class="btn center round" @click="deleteOrder(index)">
							<text>删除订单</text>
						</view>
						<view v-if="item.status===0" class="btn center round" @click="cancelOrder(item)">
							<text>取消订单</text>
						</view>
						<view v-if="item.status===0" class="btn center" @click="pay(item)">
							<text>立即支付</text>
						</view>
						<!-- #ifdef MP -->
						<button type="default" open-type="contact">
							<view v-if="item.status===1" class="btn center round">
								<text>联系客服</text>
							</view>
						</button>
						<!-- #endif -->
						<!-- #ifdef MP -->
						<view v-if="item.status===1" class="btn center round" @click="showRefundAction(item)">
							<text>申请退款</text>
						</view>
						<!-- #endif -->
						<view v-if="item.status===1" class="btn center round" @click="navTo('zizhufahuo?id='+item._id)">
							<text>自助发货</text>
						</view>
						
						<view v-if="item.status===2" class="btn center round" @click="navToExpress(item)">
							<text>查看物流</text>
						</view>
						<view v-if="item.status===2" class="btn center" @click="confirmReceipt(item)">
							<text>确认收货</text>
						</view>
						<view v-if="item.status===3" class="btn center" @click="rate(item)">
							<text>立即评价</text>
						</view>
					</view>
				</view>
			
		</mescroll-body>
		
		<mix-modal ref="mixModal" title="订单提示" :text="modalText" @onConfirm="onModalConfirm"></mix-modal>
	</view>
</template>

<script>
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	import OrderMixin from './mixin/order.js';
	export default {
		components: {
			MescrollBody
		},
		mixins: [MescrollMixin, OrderMixin],
		data() {
			return {
				curPage: 'orderList',
				navCounts: [], //订单数量
				navs: [{name: '全部'}, {name: '待付款'}, {name: '待发货'}, {name: '待收货'}, {name: '待评价'}],
				navCurrent: 0, //当前tab
				upOption:{
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 3, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				modalText: '', //确认对话框内容
				list: [], //订单列表,
				current: 0,
				swiperCurrent:0,
				// scrollHeight: '',
				// phoneHeight: '',
			}
		},
		computed: {
			c2corderCount(){
				return this.$store.state.c2corderCount;
			}
		},
		watch: {
			c2corderCount(){
				this.navCounts = [0].concat(Object.values(this.c2corderCount));
			}
		},
		
		onLoad(options) {
			this.navCurrent = +options.current;
			this.navCounts = [0].concat(Object.values(this.c2corderCount));
			
			
			
		},
		onShow(){
			
			setTimeout(() => {
			   if(this.loaded){
				   console.log('aaaaaaaaa')
				   this.list = [] ; 
				    
					this.refreshList(false);
			   }
			}, 700);
		},
		onReady() {
			// let that = this
			// // 获取屏幕高度
			// uni.getSystemInfo({
			// 	success(res) {
			// 		that.phoneHeight = res.windowHeight
			// 		that.scrollHeight = that.phoneHeight - 39
			// 	}
			// })
		},
		methods: {
			//获取当前tab对应订单状态
			getCurrentStatus(){
				if(this.navCurrent === 0){
					return [];
				}else{
					return [this.navCurrent - 1];
				}
			},
			async loadData(e){
				this.mescroll && this.mescroll.removeEmpty();
				const sendData = {
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
				//tab对应订单状态
				const status = this.getCurrentStatus();
				if(status.length > 0){
					sendData.status = status;
				}
				const res = await this.$request('c2corder', 'getList', sendData);
				console.log('res.data',JSON.stringify(res.data))
				const curList = res.data;
				if(e.num === 1){
					//第一页清空数据重载
					this.list = [];
					this.loaded && curList.forEach(item=> {item.loaded = true})
					if(curList.length > 0){
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 0
						})
					}
				} 
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			refreshList(showLoading){
				this.mescroll && this.mescroll.resetUpScroll(false)
				if(showLoading !== false){
					this.isLoading = true;
				}
				this.$store.dispatch('getc2cOrderCount');
			},
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				this.refreshList();
			},
			tabsChange(index) {
				this.swiperCurrent = index;
			},
			transition(e) {
				let dx = e.detail.dx;
				this.$refs.uTabs.setDx(dx);
			},
			animationfinish(e) {
				let current = e.detail.current;
				this.$refs.uTabs.setFinishCurrent(current);
				this.swiperCurrent = current;
				this.current = current;
			},
			onreachBottom() {

			}
		}
	}
</script>

<style lang="scss">
	page {
		background: #f5f6f7;
	}

	.swiper-item {
		width: 100%;
		height: 100%;
	}

	scroll-view {
		width: 100%;
		height: 100%;
	}

	.null {
		overflow: hidden;
		width: 100%;
		margin-top: 300rpx;

		image {
			width: 475rpx;
			display: block;
			margin: 0 auto;
			margin-bottom: 45rpx;
		}

		text {
			display: block;
			font-size: 30rpx;
			color: #989da6;
			text-align: center;
		}
	}
	.btn-group{
		justify-content: flex-end;
		padding-right: 16rpx;
		
		.btn{
			width: 150rpx;
			height: 60rpx;
			margin-left: 20rpx;
			font-size: 24rpx;
			color: #fff;
			background-color: $base-color;
			border-radius: 100rpx;
		}
		.round{
			background-color: #fff;
			color: #333;
		}
	}

	.itemlist {
		overflow: hidden;
		width: 700rpx;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 25rpx;
		box-shadow: 0 0 20px rgba(0, 0, 0, .05);
		border-radius: 20rpx;
		padding-bottom: 24rpx;
		margin-left: 20rpx;
		
		.head {
			overflow: hidden;
			width: 100%;
			height: 50rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20rpx;
			border-bottom: 2px solid #e8e9ec;

			.orderid {
				font-size: 26rpx;
				color: #2a3243;
			}

			.tip {
				font-size: 26rpx;
				color: #597bdc;
				
				&.gray{
					color: #999;
				}
			}
		}

		.foot {
			overflow: hidden;
			width: 100%;
			height: 74rpx;
			display: flex;
			align-items: center;
			margin-top: 30rpx;
			justify-content: space-between;
			padding: 0 30rpx;
			border-top: 1px solid #e8e9ec;

			.date {
				
				font-size: 24rpx;
				color: #989da6;
			}
            .product_number{
				width:40%;
				font-size: 28rpx;
				color: #000000;
			}
			.price {
				
				font-size: 32rpx;
				color: #f55050;
			}
		}
	}

	.label {
		overflow: hidden;
		width: 100%;
		margin-top: 30rpx;
		display: flex;
		padding: 0 30rpx;
		align-items: flex-start;
		justify-content: space-between;

		.pic {
			width: 140rpx;
			border-radius: 15rpx;
			height: 130rpx;
		}

		.grow {
			overflow: hidden;
			width: 470rpx;
			margin-left: 20rpx;

			.name {
				display: block;
				font-size: 32rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #2a3243;
				font-weight: bold;
				line-height: 1;
			}

			

			.price {
				display: flex;
				align-items: flex-end;
				font-size: 36rpx;
				color: #f55050;
				margin-top: 40rpx;

				text {
					
					font-size: 22rpx;
					font-weight: normal;
					margin: 0 5rpx;
				}
			}
		}
	}
</style>
