<template>
	<view class="content">
		<view class="banner">
			<mix-swiper :list="data.images"></mix-swiper>
		</view>
		<view class="info">
			<text class="name">{{data.name}}</text>
			
			<view class="lsw">
				
				
				<text class="lab">心理价位：￥{{data.price}}元</text>
			</view>
			<view class="des_grow">
				<view>
					<text>需求数量：{{data.quantity}}斤</text>
					
				</view>
				<text>提交时间：{{data.add_time | date('y-m-d ')}}</text>
			</view>
		</view>
		<!-- <view class="dot_list">
			<view>
				<image src="../../static/shopinfo_05.jpg" mode="widthFix"></image>
				<text>线上交易</text>
			</view>
			<view>
				<image src="../../static/shopinfo_05.jpg" mode="widthFix"></image>
				<text>先付定金</text>
			</view>
			<view>
				<image src="../../static/shopinfo_05.jpg" mode="widthFix"></image>
				<text>协助装车</text>
			</view>
			<view>
				<image src="../../static/shopinfo_05.jpg" mode="widthFix"></image>
				<text>支持周边送货</text>
			</view>
			<view>
				<image src="../../static/shopinfo_05.jpg" mode="widthFix"></image>
				<text>提供包装</text>
			</view>
		</view> -->
		<text class="dot_list">电话号码：{{data.phone}}</text>
		<text class="dot_list">商品需求：{{data.describe}}</text>
		
		
	</view>
</template>

<script>
	import mixSwiper from '../xuqiu/components/mix-swiper.vue'//轮播图
	export default {
		components: {
			
			mixSwiper
			
		},
		data() {
			return {
                    data: {
					images: [],
				},
			}
		},
		onShow() {
			this.loadData();
		},
		onLoad(options){
			this.id = options.id;
		},
		methods: {
                async loadData(){
                	const res = await this.$request('demand', 'getDetail', {
                		id: this.id
                	})
                	if(res.status === 0){
                		this.$util.msg(res.msg || '产品不存在或已下架');
                		setTimeout(()=>{
                			uni.navigateBack();
                		}, 1000)
                		return;
                	}
                	const data = res.data;
                	
                	data.quantity = parseFloat (data.quantity)
                		
                	console.log('res.data',JSON.stringify(res.data))
                	// data.content = data.content.replace(/img src="/g, 'img style="display:block;width:100%;height:auto" src="');
                	this.data = data;
                	
                	
                	
                },
		}
	}
</script>

<style lang="scss">
	page {
		background: #f7f8fa;
	}

	.banner {
		width: 100%;
		overflow: hidden;
		height: 555rpx;
		swiper{
			width: 100%;
			height: 100%;
		}
		swiper-item{
			width: 100%;
			height: 100%;
		}
		image {
			width: 100%;
			display: block;
		}
	}

	.info {
		overflow: hidden;
		background: #FFFFFF;
		padding: 25rpx 30rpx 18rpx 30rpx;

		.name {
			display: block;
			font-size: 32rpx;
			font-weight: bold;
			margin-bottom: 22rpx;
			line-height: 1;
			color: #2a3243;
		}

		.des {
			display: block;
			font-size: 24rpx;
			margin-bottom: 25rpx;
			line-height: 1;
			color: #989da6;
		}

		.lsw {
			overflow: hidden;
			display: flex;
			align-items: flex-end;

			.price {
				display: flex;
				align-items: flex-end;
				font-size: 22rpx;
				color: #f55050;

				text {
					font-size: 36rpx;
					color: #f55050;
					font-weight: bold;
					display: inline-block;
					margin: 0 5rpx;
					line-height: 1;
				}
			}

			.lab {
				display: inline-flex;
				align-items: center;
				height: 46rpx;
				background: #fce1df;
				font-size: 22rpx;
				font-weight: bold;
				color: #f55050;
				margin-left: 0rpx;
				padding: 0 14rpx;
				border-radius: 4rpx;
			}
		}

		.des_grow {
			overflow: hidden;
			display: flex;
			align-items: center;
			margin-top: 20rpx;
			justify-content: space-between;

			view {
				overflow: hidden;
				display: flex;
				align-items: center;

				text {
					font-size: 22rpx;
					color: #2a3243;
					margin-right: 30rpx;
				}
			}

			&>text {
				font-size: 22rpx;
				color: #989da6;
			}
		}
	}

	.dot_list {
		overflow: hidden;
		padding: 30rpx;
		background: #FFFFFF;
		border-top: 1px solid #f7f8fa;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 10rpx;

		view {
			overflow: hidden;
			display: flex;
			align-items: center;
			margin-right: 20rpx;
			margin-bottom: 20rpx;
			float: left;

			&:nth-child(4n) {
				margin-right: 0;
			}

			image {
				width: 22rpx;
				margin-right: 10rpx;
			}

			text {
				font-size: 22rpx;
				line-height: 1;
				display: inline-block;
				color: #333333;
			}
		}
	}

	.main_content {
		width: 100%;
		margin-top: 10rpx;
		overflow: hidden;

		image {
			width: 100%;
		}
	}
</style>
