
<template>
	<view class="content">
		
			 
			 
			<view class="item" v-for="(items, indexs) in renderList" >
				<view class="label">
					<image :src="items.images[0]" mode="aspectFill" class="pic"></image>
					<view class="grow"  @click="navTo('/pages/liebiao/detail?id=' + items._id)">
						<text class="name">{{items.name}}</text>
						<text class="price"><text>￥</text>{{items.price}}<text>元/斤</text></text>
						<view v-if="items.status!=0"
						class="btn"
						@click="navTo('/pages/add_product/add_product?id=' + items._id)">
						修改商品
						</view>
						
						
						<view v-if="items.status!=1"
						class="btn"
						@click="navTo('/pages/add_product/add_product?id=' + items._id)">
						重新上架</view>
						
					</view>
				</view>
				<view class="foot" >
					<text class="date" v-if="items.date">上市时间：{{items.date}}</text>
					<text class="date" v-if="!items.date">上市时间：{{items.add_time| date('y-m-d ')}}</text>
					<view>
						<text @click="showDelModal(indexs)">删除商品</text>
						
					</view>
				</view>
				
			</view>
				 <mix-modal ref="mixModal" title="提示" text="确定要删除该商品吗" @onConfirm="deleteAddr"></mix-modal>
			</view> 
		 
</template>

<script>
	export default {
		name: 'MixProductList',
		data() {
			return {
				loadType: 'add',//标记加载还是刷新数据
				renderList: []
			};
		},
		props: {
			list: {
				type: Array,
				default(){
					return []
				}
			},
			listType: {
				type: String,
				default: 'row'
			}
		},
		watch: {
			list(list){
				
				if(this.loadType === 'add'){
					 
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		created() {
			
		},
		methods: {
			async deleteAddr(){
				const res = await this.$request('release', 'remove', {
					id: this.list[this.curIndex]._id
				}, {
					showLoading: true
				})
				this.$util.msg(res.msg);
				if(res.status === 1){
					this.list.splice(this.curIndex, 1);
					this.isChoose && this.choosedId && this.$util.prePage().setAddress({});
				}
			},
			showDelModal(indexs){
				this.curIndex = indexs;
				this.$refs.mixModal.open();
			}
		
		}
	}
</script>

<style lang="scss">
	page {
		background: #f5f6f7;
	}

	.swiper-item {
		width: 100%;
		height: 100%;
	}

	scroll-view {
		width: 100%;
		height: 100%;
	}
	.buttons{
		width: 100%;
		height: 150rpx;
		display: flex;
		align-items: center;
		background-color: #fff;
		justify-content: center;
		view{
			width: 690rpx;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
		}
	}

	.null {
		overflow: hidden;
		width: 100%;
		margin-top: 300rpx;

		image {
			width: 475rpx;
			display: block;
			margin: 0 auto;
			margin-bottom: 45rpx;
		}

		text {
			display: block;
			font-size: 30rpx;
			color: #989da6;
			text-align: center;
		}
	}

	.btn {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10rpx 30rpx 25rpx 0;

		view {
			display: inline-flex;
			align-items: center;
			padding: 0 28rpx;
			height: 50rpx;
			font-size: 24rpx;
			color: #0e689b;
			border-radius: 40rpx;
			border: 1px solid #0e689b;
			margin-left: 20rpx;
		}
	}

	.item {
		overflow: hidden;
		width: 690rpx;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 25rpx;
		box-shadow: 0 0 20px rgba(0, 0, 0, .05);
		border-radius: 20rpx;
		&:last-child{
			margin-bottom: 30rpx;
		}
		.foot {
			overflow: hidden;
			width: 100%;
			height: 74rpx;
			display: flex;
			align-items: center;
			margin-top: 30rpx;
			justify-content: space-between;
			padding: 0 30rpx;
			border-top: 1px solid #e8e9ec;

			.date {
				font-size: 24rpx;
				color: #989da6;
			}

			view{
				display: flex;
				align-items: center;
				text{
					font-size: 24rpx;
					color: #989da6;
				}
				image{
					width: 8rpx;
					margin-left: 16rpx;
				}
			}
		}
	}

	.label {
		overflow: hidden;
		width: 100%;
		margin-top: 30rpx;
		display: flex;
		padding: 0 30rpx;
		align-items: flex-start;
		justify-content: space-between;

		.pic {
			width: 140rpx;
			border-radius: 15rpx;
			height: 140rpx;
		}

		.grow {
			overflow: hidden;
			width: 470rpx;
			margin-left: 20rpx;
			padding-top: 14rpx;
			position: relative;
			.btn{
				display: inline-flex;
				align-items: center;
				padding: 0 28rpx;
				height: 50rpx;
				font-size: 24rpx;
				color: #0e689b;
				position: absolute;
				border-radius: 40rpx;
				border: 1px solid #0e689b;
				right: 0;
				bottom: 0;
			}
			.name {
				display: block;
				font-size: 32rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #2a3243;
				font-weight: bold;
				line-height: 1;
			}

			.des {
				overflow: hidden;
				margin-top: 40rpx;
				display: flex;
				align-items: center;

				text {
					font-size: 24rpx;
					line-height: 1;
					color: #989da6;
					margin-right: 18rpx;
				}
			}

			.form {
				font-size: 22rpx;
				color: #636976;
				margin-top: 20rpx;
				display: block;
			}

			.price {
				display: flex;
				align-items: flex-end;
				font-size: 36rpx;
				color: #f55050;
				margin-top: 40rpx;

				text {
					font-size: 22rpx;
					font-weight: normal;
					margin: 0 5rpx;
				}
			}
		}
	}
</style>