<template>
	<view class="content">
		    <view>
		    	
		    	
		    		<mix-nav-bar 
		    		:navs="navs" 
		    		:counts="navCounts"  
		    		:current="navCurrent" 
		    		@onChange="onNavBarChange"></mix-nav-bar>
		    	
		    		<view style="height: 50rpx;"></view>
		    </view>
		
		
		
			<mescroll-body 
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="headerHeight" 
			@down="downCallback" 
			:up="upOption"
			@up="loadList">
		

			<view class="item" >
				
				<view class="info" 
				v-for="(item, index) in renderList" 
				:key="index"
				>
				 
					<text class="name"  @click="gotonext(item._id)">{{ item.name }}</text>
					<text class="price"  @click="gotonext(item._id)">{{ item.price }} <text>元/日</text></text>
					<view  @click="gotonext(item._id)">
						<image src="../../static/addicon_03.jpg" mode="widthFix" ></image>
						<text>{{item.corporate_name}}</text>
					</view>
					<view  @click="gotonext(item._id)">
						<image src="../../static/addicon_06.jpg" mode="widthFix"></image>
						<text>{{item.phone}}</text>
						
						
						
					</view>
					
					 <view v-if="item.ismyself">
						 <text @click="showDelModal(index)" class="shanchu">删除</text>
						 
						 <text @click="navTo('/pages/add_linshigong/add_linshigong?id=' + item._id)" class="anniu">修改</text>
					 </view>
					
				
				<view class="foot">
					<text>发布时间：{{item.add_time | date('y-m-d ') }}</text>
					<text>{{item.address}}</text>
				</view>
			</view>
		</view>
		
		</mescroll-body>
		 <mix-modal ref="mixModal" title="提示" text="确定要删除该商品吗" @onConfirm="deleteAddr"></mix-modal>
	</view>
</template>

<script>
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	export default {
		components: {

			MescrollBody
		},
		data() {
			return {
				navCurrent: 0, //当前tab
				navCounts: [],
				current: 0,
				navs: [{name: '全部'}, {name: '我的'}],
				renderList:[],
				loadType: 'add', //标记加载还是刷新数据
				sourcePage: '', //来源页 主要用来判断是否来自搜索页
				listType: 'row', //列表类型 column竖向列表 row 横向列表
				isHot: 0, //热门推荐
				keyword: '',
				cateList: [], //分类列表
				curCateItem: {}, //当前分类
				list: [], //商品列表
				ismyself:0 ,
				upOption: {	
					chauid: 0 , 
					auto: false, // 不自动加载
					page: {
						num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
						size: 10 // 每页数据的数量
					},

					noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
			}
		},
		computed: {
			statusBarHeight() {
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight() {
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight() {
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) - 70;
			},
		},
		onLoad(options) {
			this.navCurrent = +options.current;
			
		},
		watch: {
			list(list){
				console.log('a watch  a')
				//console.log(JSON.stringify(list.slice(this.renderList.length) ))
				if(this.loadType === 'add'){
					console.log('a watch  ccc')
					this.renderList = this.renderList.concat(this.list.slice(this.renderList.length));
				}else{
					console.log('a watch  bbb')
					this.renderList = this.list;
				}
				
			
			}
		},
		methods: {
			async deleteAddr(){
				const res = await this.$request('temporary', 'remove', {
					id: this.list[this.curIndex]._id
				}, {
					showLoading: true
				})
				this.$util.msg(res.msg);
				if(res.status === 1){
					this.list.splice(this.curIndex, 1);
					this.isChoose && this.choosedId && this.$util.prePage().setAddress({});
				}
			},
			showDelModal(index){
				this.curIndex = index;
				this.$refs.mixModal.open();
			},
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				
				if(current==1){
					this.upOption.chauid = 1
				}
				this.refreshList();
			},
			gotonext(id){
				this.navTo('/pages/linshigong_info/linshigong_info?id='+id )
				
			},
			
			async loadList(e) {
				this.mescroll.removeEmpty();
				const {
					sortList,
					curCateItem,
					keyword
				} = this;
				const data = {
					
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
				if(this.navCurrent==1){
				  	data.chauid = 1
					if(!this.$util.isLogin()){
						return;
					}
				  }
				  console.log('eeeeeeeee',JSON.stringify(data))
				this.loadType = e.num === 1 ? 'refresh' : 'add';

				const res = await this.$request('temporary', 'getList', data);
				this.ismyself =  res.ismyself
				const curList = res.data;
				console.log('loadList', JSON.stringify(curList));
				
				curList.forEach((item, index) => {
					 item.ismyself = res.ismyself 
				})	
				
				if (e.num === 1) {
					//第一页清空数据重载
					console.log('11111111')
					this.list = [];
					this.loaded && curList.forEach(item => {
						item.loaded = true;
					})
					if (curList.length > 0) {
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200,

						})
						// console.log('this.data', JSON.stringify(res))
					}
				}
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			changeSort(item) {
				if (item.current) {
					if (item.isPrice) {
						item.type = item.type === 3 ? 4 : 3;
					} else {
						return;
					}
				} else {
					this.sortList.forEach(v => v.current = false);
					item.current = true;
					if (item.type === 3 || item.type === 4) {
						item.type = 3;
					}
				}
				this.refreshList();
			},
			mescrollInit(mescroll) {
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
			//刷新列表
			refreshList() {
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			downCallback(mescroll){
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			}
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 30rpx;

		.item {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 25rpx;
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);

			.foot {
				width: 100%;
				height: 73rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;
				border-top: 1px solid #e8e9ec;
				margin-left: -10rpx;

				text {
					font-size: 24rpx;
					color: #989da6;
				}
			}

			.info {
				overflow: hidden;
				padding: 30rpx;
				position: relative;
				.shanchu{
					font-weight: bold;
					display: flex;
					font-size: 28rpx;
					justify-content: center;
					align-items: center;
					margin-left: 80rpx;
					color: #18B566;
					align-items: flex-end;
					position: absolute;
					right: 100rpx;
					margin-top: -40rpx;
				}
				.anniu{
					font-weight: bold;
					display: flex;
					font-size: 28rpx;
					justify-content: center;
					align-items: center;
					margin-left: 80rpx;
					color: #18B566;
					align-items: flex-end;
					position: absolute;
					right: 20rpx;
					margin-top: -40rpx;
				}
				.td{
					height: 80rpx;
					width:25%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 30rpx;
					font-weight: 500;
					color: #333333;
					text{
						font-weight: bold;
						font-size: 28rpx;
						color: #50aa58;
						margin-left: 10rpx;
						&.on{
							color: #f55050;
						}
					}
					image{
						width: 40rpx;
						margin: 0 5rpx;
						margin-left: 15rpx;
					}
					
				}

				.price {
					display: flex;
					align-items: flex-end;
					font-size: 36rpx;
					color: #f55050;
					line-height: 1;
					font-weight: bold;
					position: absolute;
					right: 30rpx;
					top: 30rpx;

					text {
						color: #f55050;
						margin-left: 12rpx;
						font-size: 22rpx;
					}
				}

				.name {
					display: block;
					font-size: 32rpx;
					font-weight: bold;
					color: #2a3243;
					line-height: 1;
				}

				view {
					display: flex;
					align-items: center;
					margin-top: 25rpx;

					image {
						width: 26rpx;
					}

					text {
						font-size: 26rpx;
						color: #636976;
						margin-left: 15rpx;
					}
				}
			}
		}
	}
</style>
