<template>
	<view>
		<view   
			v-for="(item, index) in renderList" 
			:key="index"
			class="list "> 
			 
				<view class="item">
					
					<view class="grow">
						
						<text class="name">岗位名称：{{ item.postname }} </text>
						<text class="des">年龄要求：{{ item.age }}</text>
						<text class="des">学历要求：{{ item.education }}</text>
						<text class="des">工作经验：{{ item.experience }}</text>
						<text class="des">性别要求：{{ gender1[item.gender]}}</text>
						<text class="des">健康证要求：{{ healthy1[item.healthy] }}</text>
						<text class="des">工作时常：{{ item.often }}</text>
						<text class="des">用工人数：{{ item.number }}人</text>
						<text class="des">工作地点：{{ item.place }}</text>
						<text class="des">薪资：{{ item.salary }}</text>
						<text class="des">公司名称：{{ item.EnterpriseName }}</text>
						<text class="des">公司信用编号：{{ item.EnterpriseCode }}</text>
						
						<!-- <text class="price"><text>￥</text>{{ item.place }}<text>/件起</text></text> -->
						<text class="bos">公司联系电话：{{ item.EnterpriseTelephone }}</text>
						<text class="bos">有效期{{ item.release }}——{{ item.by }}</text>
					</view>
				</view>
				 
			</view> 
		</view>  
</template>

<script>
	export default {
		name: 'MixProductList',
		data() {
			return {
				loadType: 'add',//标记加载还是刷新数据
				gender1:['女','男'],
				renderList: [],
				healthy1:['无','有']
			};
		},
		props: {
			list: {
				type: Array,
				default(){
					return []
				}
			},
			listType: {
				type: String,
				default: 'row'
			}
		},
		watch: {
			list(list){
				//console.log('a watch  a')
				//console.log(JSON.stringify(list.slice(this.renderList.length) ))
				if(this.loadType === 'add'){
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
	
	 
		
		.list{
			overflow: hidden;
			padding: 12rpx 0;
			width: 100%;
			.item{
				overflow: hidden;
				width: 100%;
				padding: 12rpx 20rpx;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				.pic{
					width: 206rpx;
					height: 206rpx;
					border-radius: 20rpx;
				}
				.grow{
					overflow: hidden;
					width: 489rpx;
					.name{
						display: block;
						font-size: 28rpx;
						color: #2a3243;
						font-weight: 500;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
						line-height: 38rpx;
						margin-bottom: 10rpx;
					}
					.des{
						display: block;
						font-size: 22rpx;
						color: #989da6;
						line-height: 1;
					}
					.price{
						display: flex;
						align-items: flex-end;
						font-size: 36rpx;
						color: #f55050;
						margin-top: 20rpx;
						font-weight: bold;
						line-height: 1;
						text{
							color: #f55050;
							font-size: 22rpx;
							font-weight: normal;
						}
					}
					.bos{
						display: block;
						font-size: 24rpx;
						margin-top: 15rpx;
						color: #636976;
					}
				}
			}
		}
	 
</style>
