
<template>
	<view class="content">
		
			 
			 
			<view class="item">
				
				<view class="table">
					
					<view class="tr">
						<view class="th">商品名称</view>
						<view class="ty">采购数量</view>
						<view class="th">心理价位</view>
						<view class="th">操作</view>
					</view>
					
					<view   v-for="(item, index) in renderList" :key="index" class="table "> 

 
						<view class="tr">
							<view class="tz" @click="navTo('/pages/my_huoinfo/my_huoinfo?id=' + item._id)">{{item.name}}</view>
							<view class="td" @click="navTo('/pages/my_huoinfo/my_huoinfo?id=' + item._id)">{{item.quantity}}斤</view>
							<view class="td" @click="navTo('/pages/my_huoinfo/my_huoinfo?id=' + item._id)">{{item.price}}元</view>
							
							<view class="td" v-if="!item.ismyself ">
							<image 
							src="../../../static/xuqu_03.png" 
							mode="widthFix"
							@click="go(item.phone)">
							</image>
							<image 
							src="../../../static/xuqu_06.png" 
							mode="widthFix"
							@click="navTo('/pages/my_huoinfo/my_huoinfo?id=' + item._id)">
							</image>
							
							</view>
							
							<view class="td" v-else="item.ismyself">
							<text @click="showDelModal(index)">删除</text>
							
							<text @click="navTo('/pages/add_demand/add_demand?id=' + item._id + '&classification='+item.classification)">修改</text>
							
							</view>
							
							
							</view>
						</view>
				    </view>
				
			</view>
				  <mix-modal ref="mixModal" title="提示" text="确定要删除该商品吗" @onConfirm="deleteAddr"></mix-modal>
			</view> 
		
</template>

<script>
	export default {
		name: 'MixProductList',
		data() {
			return {
				loadType: 'add',//标记加载还是刷新数据
				renderList: []
			};
		},
		props: {
			list: {
				type: Array,
				default(){
					return []
				}
			},
			listType: {
				type: String,
				default: 'row'
			}
		},
		watch: {
			list(list){
				
				if(this.loadType === 'add'){
					this.renderList = this.renderList.concat(list.slice(this.renderList.length));
				}else{
					this.renderList = list;
				}
				
			
			}
		},
		created() {
			
		},
		methods: {
			async deleteAddr(){
				const res = await this.$request('demand', 'remove', {
					id: this.list[this.curIndex]._id
				}, {
					showLoading: true
				})
				this.$util.msg(res.msg);
				if(res.status === 1){
					this.list.splice(this.curIndex, 1);
					this.isChoose && this.choosedId && this.$util.prePage().setAddress({});
				}
			},
			showDelModal(index){
				this.curIndex = index;
				this.$refs.mixModal.open();
			},
			go(a){
			 	uni.makePhoneCall({
			 	
			 	// 手机号
			    phoneNumber: a, 
			
				// 成功回调
				success: (res) => {
					console.log('调用成功!')	
				},
			
				// 失败回调
				fail: (res) => {
					console.log('调用失败!')
				}
				
			  });
			}
			
			
		
		}
	}
</script>

<style lang="scss">
	.table{
		width: 100%;
		padding-bottom: 20rpx;
		.tr{
			width: 100%;
			display: flex;
			align-items: center;
			.td{
				height: 80rpx;
				width:25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 30rpx;
				font-weight: 500;
				color: #333333;
				text{
					font-weight: bold;
					font-size: 28rpx;
					color: #50aa58;
					margin-left: 10rpx;
					&.on{
						color: #f55050;
					}
				}
				image{
					width: 40rpx;
					margin: 0 5rpx;
					margin-left: 15rpx;
				}
				
			}
			.th{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 30rpx;
				color: #9c9c9c;
			}
			.ty{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 30rpx;
				color: #9c9c9c;
			}
			.tz{
				height: 70rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 30rpx;
				color: #000000;
			}
		}
	}
	.content {
		overflow: hidden;
		width: 100%;
		.list{
			overflow: hidden;
			padding: 30rpx 30rpx 10rpx 30rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.item{
				width: 208rpx;
				height: 208rpx;
				border-radius: 20rpx;
				padding-top: 26rpx;
				margin-bottom: 30rpx;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
				image{
					display: block;
					width: 100%;
					margin-bottom: 15rpx;
				}
				text{
					display: block;
					font-size: 28rpx;
					color: #333333;
					line-height: 1;
					text-align: center;
				}
			}
		}
	}
</style>