<template>
	<view class="content">
		<view class="main_order_info">
			<text class="title">交易成功</text>
			<view class="info">
				<view class="label">
					<view class="fl">
						<image src="https://nbghmy.com/static/orderinfo_10.jpg" mode="widthFix"></image>
						<view class="grow">
							<view class="t">
								<text class="f">[宁波市] 快件已签收</text>
							</view>
							<text class="date">2019-10-27 16:29:06</text>
						</view>
					</view>
					<view class="link">
						<text>查看物流</text>
						<image src="https://nbghmy.com/static/orderinfo_07.jpg" mode="widthFix"></image>
					</view>
				</view>
				<view class="label">
					<view class="fl">
						<image src="https://nbghmy.com/static/orderinfo_14.jpg" mode="widthFix"></image>
						<view class="grow">
							<view class="t">
								<text class="f">杨女士</text>
								<text class="tel">136****6989</text>
							</view>
							<text class="address">浙江省宁波市鄞州区福明菜场</text>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="order_list">
			<view class="title">
				<image src="../../static/orderinfo_16.jpg" mode="widthFix"></image>
				<text>斌哥水产</text>
			</view>
			<view class="box">
				<view class="label">
					<image src="https://nbghmy.com/static/orderinfo_19.jpg" mode="" class="pic"></image>
					<view class="grow">
						<text class="name">新年必备 淡红膏螃蟹(包邮)自家腌制...</text>
						<view class="des">
							<text>象山渔场</text>
							<text>规格:500g</text>
							<text>×1</text>
						</view>
						<text class="price"><text>￥</text>288.00<text>元/斤</text></text>
					</view>
				</view>
				<view class="label">
					<image src="https://nbghmy.com/static/orderinfo_22.jpg" mode="" class="pic"></image>
					<view class="grow">
						<text class="name">野生黄花鱼新鲜海鲜水产</text>
						<view class="des">
							<text>象山渔场</text>
							<text>规格:500g</text>
							<text>×1</text>
						</view>
						<text class="price"><text>￥</text>321.00<text>元/斤</text></text>
					</view>
				</view>
			</view>
		</view>
		<view class="order_count">
			<view class="label">
				<text class="f">商品总价</text>
				<text class="ff">商品总价</text>
			</view>
			<view class="label">
				<text class="f">订单总价</text>
				<text class="ff">￥5600.00</text>
			</view>
			<view class="label">
				<text class="f">平台手续费</text>
				<text class="ff on">-￥50.00</text>
			</view>
			<view class="label">
				<text class="f">运费</text>
				<text class="ff on">-￥10.00</text>
			</view>
			<text class="price">应到账金额:<text>￥5600.00</text></text>
		</view>
		<view class="order_info">
			<text class="title">订单信息</text>
			<view class="label">
				<text class="f">订单编号</text>
				<view>
					<text class="ff">113494691460198</text>
					<text class="copy">复制</text>
				</view>
			</view>
			<view class="label">
				<text class="f">下单时间</text>
				<view>
					<text class="ff">2021-10-28 08:44:37</text>
				</view>
			</view>
			<view class="label">
				<text class="f">支付方式</text>
				<view>
					<text class="ff">支付宝支付</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		onLoad() {

		},
		methods: {
			
		}
	}
</script>

<style lang="scss">
	page{
		background: #f7f8fa;
	}
	.content{
		overflow: hidden;
		width: 100%;
		background-image: url(../../static/orderbg_02.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top;
		padding-bottom: 90rpx;
		.order_info{
			overflow: hidden;
			width: 690rpx;
			margin: 0 auto;
			background: #fff;
			border-radius: 20rpx;
			margin-top: 24rpx;
			padding: 30rpx 30rpx 12rpx 30rpx;
			.title{
				display: block;
				font-size: 30rpx;
				font-weight: bold;
				color: #2a3243;
				margin-bottom: 20rpx;
				line-height: 1;
			}
			.label{
				overflow: hidden;
				height: 65rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.f{
					display: block;
					font-size: 24rpx;
					color: #2a3243;
				}
				view{
					display: flex;
					align-items: center;
					justify-content: flex-end;
					.ff{
						font-size: 24rpx;
						color: #989da6;
					}
					.copy{
						font-size: 22rpx;
						padding-left: 25rpx;
						color: #597bdc;
					}
				}
			}
		}
		
		.order_count{
			overflow: hidden;
			width: 690rpx;
			margin: 0 auto;
			background: #fff;
			border-radius: 20rpx;
			margin-top: 24rpx;
			padding: 18rpx 30rpx 30rpx 30rpx;
			.label{
				height: 65rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.f{
					display: block;
					font-size: 24rpx;
					color: #2a3243;
				}
				.ff{
					display: block;
					font-size: 24rpx;
					color: #2a3243;
					&.on{
						color: #f55050;
					}
				}
			}
			.price{
				display: flex;
				font-size: 26rpx;
				color: #2a3243;
				align-items: center;
				justify-content: flex-end;
				margin-top: 20rpx;
				text{
					font-size: 26rpx;
					margin-left: 22rpx;
					color: #2a3243;
				}
			}
		}
		
		.order_list{
			overflow: hidden;
			width: 690rpx;
			margin: 0 auto;
			background: #fff;
			border-radius: 20rpx;
			margin-top: 24rpx;
			.title{
				display: flex;
				align-items: center;
				height: 80rpx;
				font-size: 36rpx;
				color: #2a3243;
				border-bottom: 1px solid #e8e9ec;
				padding-left: 30rpx;
				image{
					width: 28rpx;
				}
				text{
					font-size: 26rpx;
					color: #2a3243;
					margin-left: 15rpx;
				}
			}
			.box{
				overflow: hidden;
				padding: 0 30rpx 30rpx 30rpx;
				.label{
					overflow: hidden;
					width: 100%;
					margin-top: 30rpx;
					display: flex;
					align-items: center;
					.pic{
						width: 140rpx;
						border-radius: 15rpx;
						height: 140rpx;
					}
					.grow{
						overflow: hidden;
						width: 435rpx;
						margin-left: 20rpx;
						.name{
							display: block;
							font-size: 26rpx;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
							color: #2a3243;
							font-weight: bold;
							line-height: 35rpx;
						}
						.des{
							overflow: hidden;
							margin-top: 20rpx;
							display: flex;
							align-items: center;
							text{
								font-size: 24rpx;
								color: #989da6;
								margin-right: 18rpx;
							}
						}
						.price{
							display: flex;
							align-items: flex-end;
							font-size: 36rpx;
							color: #f55050;
							margin-top: 20rpx;
							text{
								font-size: 22rpx;
								font-weight: normal;
								margin: 0 5rpx;
							}
						}
					}
				}
			}
		}
		
		.main_order_info{
			overflow: hidden;
			width: 690rpx;
			margin: 0 auto;
			background: #fff;
			border-radius: 20rpx;
			.title{
				display: flex;
				align-items: center;
				height: 105rpx;
				font-size: 36rpx;
				color: #2a3243;
				border-bottom: 1px solid #e8e9ec;
				padding-left: 30rpx;
				font-weight: bold;
			}
			.info{
				overflow: hidden;
				padding: 0 30rpx;
				.label{
					overflow: hidden;
					width: 100%;
					border-bottom: 1px solid #e8e9ec;
					padding: 35rpx 0;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					&:last-child{
						border-bottom: none;
					}
					.link{
						display: flex;
						align-items: center;
						text{
							font-size: 24rpx;
							color: #636976;
						}
						image{
							width: 12rpx;
							margin-left: 12rpx;
						}
					}
					.fl{
						overflow: hidden;
						display: flex;
						align-items: center;
						image{
							width: 60rpx;
							display: block;
						}
						.grow{
							overflow: hidden;
							margin-left: 24rpx;
							.date{
								display: block;
								font-size: 26rpx;
								margin-top: 18rpx;
								color: #989da6;
							}
							.address{
								display: block;
								font-size: 26rpx;
								margin-top: 18rpx;
								color: #2a3243;
							}
							.t{
								display: flex;
								align-items: center;
								overflow: hidden;
								.f{
									display: block;
									font-size: 26rpx;
									line-height: 1;
									color: #2a3243;
								}
								.tel{
									display: block;
									font-size: 26rpx;
									color: #989da6;
									line-height: 1;
									margin-left: 45rpx;
								}
							}
						}
					}
				}
			}
		}
		
	}
</style>
