<template>
	<view class="content">
		<view class="tong_icon">
			<text>金融服务</text>
		</view>
		<view class="font_flexs">专业/快捷/方便</view>
		<image src="https://nbghmy.com/static/rtt_03.png" mode="widthFix" class="rihgs"></image>
		<view class="tip">
			<text class="name">渔品贷</text>
			<view>
				<text class="f">最高可贷款元)</text>
				<text class="ff">300万</text>
			</view>
		</view>
		<view class="box">
			<view class="label">
				<view class="title">
					<text>—— 贷款对象 ——</text>
				</view>
				<view class="icon">
					<view>
						<image src="https://nbghmy.com/static/jinrong_06.jpg" mode="widthFix"></image>
						<text>从事渔品经营中小企业</text>
					</view>
					<view>
						<image src="https://nbghmy.com/static/jinrong_061.jpg" mode="widthFix"></image>
						<text>从事渔品经营个体经营户</text>
					</view>
				</view>
				<text class="des">要求：信用记录良好，无未决诉讼</text>
			</view>
			<view class="label">
				<view class="title">
					<text>—— 所需资料 ——</text>
				</view>
				<view class="table">
					<view class="tr">
						<view>中小企业</view>
						<view>个体经营户</view>
					</view>
					<view class="tr">
						<view>法定代表人身份证</view>
						<view>身份证</view>
					</view>
					<view class="tr">
						<view>营业执照</view>
						<view>营业执照（如有）</view>
					</view>
					<view class="tr">
						<view>我司要求的其他资料</view>
						<view>我司要求的其他资料</view>
					</view>
				</view>
			</view>
			<view class="label">
				<view class="title">
					<text>—— 贷款金额 ——</text>
				</view>
				<view class="table">
					<view class="tr">
						<view>中小企业</view>
						<view>个体经营户</view>
					</view>
					<view class="tr">
						<view>不超过300万元</view>
						<view>不超过200万元</view>
					</view>
				</view>
			</view>
		</view>
		<view class="box1">
			<view class="label">
				<view class="title">
					<text>—— 贷款问题 ——</text>
				</view>
				<text class="font"><text>周期</text>“渔品贷”贷款期限为3个月</text>
				<text class="font"><text>利率</text>年化利率在10.8％-15％</text>
				<text class="font"><text>要求</text>需要渔品押于我司指定仓库</text>
			</view>
			<view class="label">
				<view class="title">
					<text>—— 优惠政策 ——</text>
				</view>
				<text class="des">凡与我司有业务往来的客户，在服务费上可以享受优惠，具体可以咨询客服。</text>
			</view>
			<view class="button_grow">
				<view @click="navTo('/pages/form/form')">申请贷款</view>
				<view @click="navTo('/pages/finance1/finance1')">查看规则</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			link(url){
				uni.navigateBack({
					url: url
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: #066095;
	}
	.rihgs{
		width: 334rpx;
		position: absolute;
		right: 44rpx;
		top: 449rpx;
	}
	.font_flexs{
		width: 330rpx;
		height: 65rpx;
		background: #ff6a2a;
		position: absolute;
		left: 0;
		top: 713rpx;
		font-size: 32rpx;
		color: #fff;
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 40rpx 40rpx 0;
	}
	.content {
		overflow: hidden;
		width: 100%;
		padding-top: 907rpx;
		position: relative;
		background-image: url("https://nbghmy.com/static/jinrongbg_01.jpg");
		background-size: 100%;
		padding-bottom: 60rpx;
		background-repeat: no-repeat;
		.tip{
			width: 100%;
			position: absolute;
			left: 0;
			top: 240rpx;
			.name{
				display: block;
				font-size: 140rpx;
				font-weight: bold;
				text-align: center;
				letter-spacing: 22rpx;
				transform: translateX(20rpx);
				color: #fff;
			}
			view{
				overflow: hidden;
				margin-left: 73rpx;
				margin-top: 50rpx;
				.f{
					display: block;
					font-size: 36rpx;
					line-height: 1;
					margin-bottom: 10rpx;
					color: #fff;
				}
				.ff{
					display: block;
					font-size: 100rpx;
					color: #fff;
				}
			}
		}
		
		.box1{
			width: 690rpx;
			overflow: hidden;
			background-color: #fff;
			border-radius: 20rpx;
			margin: 0 auto;
			padding-bottom: 60rpx;
			margin-top: 25rpx;
			.button_grow{
				overflow: hidden;
				width: 515rpx;
				margin: 0 auto;
				margin-top: 60rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				view{
					width: 240rpx;
					height: 80rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 38rpx;
					color: #fff;
					border-radius: 40rpx;
					background-color: #005b90;
					&:last-child{
						background: #ff6a2a;
					}
				}
			}
			.label{
				overflow: hidden;
				width: 100%;
				margin-top: 45rpx;
				.title{
					display: block;
					text-align: center;
					font-size: 44rpx;
					margin-bottom: 30rpx;
					font-weight: bold;
					color: #040000;
				}
				.des{
					display: block;
					font-size: 28rpx;
					line-height: 36rpx;
					width: 520rpx;
					color: #666666;
					margin: 0 auto;
				}
				.font{
					display: flex;
					align-items: center;
					line-height: 66rpx;
					padding-left: 90rpx;
					font-size: 32rpx;
					color: #363a44;
					text{
						color: #d19c4f;
						font-size: 32rpx;
						margin-right: 32rpx;
					}
				}
			}
		}
		
		.box{
			width: 690rpx;
			overflow: hidden;
			background-color: #fff;
			border-radius: 20rpx;
			margin: 0 auto;
			padding-bottom: 60rpx;
			.label{
				overflow: hidden;
				width: 100%;
				margin-top: 45rpx;
				.title{
					display: block;
					text-align: center;
					font-size: 44rpx;
					margin-bottom: 30rpx;
					font-weight: bold;
					color: #040000;
				}
				.table{
					width: 514rpx;
					margin: 0 auto;
					border-left: 2rpx solid #e5e5e5;
					border-top: 2rpx solid #e5e5e5;
					.tr{
						width: 100%;
						display: flex;
						align-items: center;
						view{
							width: 50%;
							border-right: 2rpx solid #e5e5e5;
							height: 60rpx;
							border-bottom: 2rpx solid #e5e5e5;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 24rpx;
							color: #363a44;
						}
					}
				}
				.des{
					display: block;
					font-size: 26rpx;
					color: #d19c4f;
					text-align: center;
					margin-top: 30rpx;
				}
				.icon{
					overflow: hidden;
					display: flex;
					view{
						width: 50%;
						overflow: hidden;
						image{
							width: 151rpx;
							display: block;
							margin: 0 auto;
							margin-bottom: 15rpx;
						}
						text{
							display: block;
							font-size: 28rpx;
							color: #363a44;
							text-align: center;
							line-height: 35rpx;
							width: 170rpx;
							margin: 0 auto;
						}
					}
				}
			}
			
		}
	}
</style>
