<template>
	<view class="content">
		<view class="tong_icon">
			<image src="../../static/leftbtn_03.png" mode="widthFix" @click="slink('/pages/finance/finance')"></image>
			<text @click="slink('/pages/finance/finance')">金融服务</text>
		</view>
		<view class="font_flexs">专业/快捷/方便</view>
		<image src="https://nbghmy.com/static/rtt_03.png" mode="widthFix" class="rihgs"></image>
		<view class="tip">
			<text class="name">云南信托<text>小微X号</text>鱼鲜供应链单一资金信托方案</text>
			<view>
				<text class="f">最高可贷款元)</text>
				<text class="ff">100万</text>
			</view>
		</view>
		<view class="box">
			<view class="label">
				<view class="title">
					<text>—— 项目概况 ——</text>
				</view>
				<text class="des">云南信托作为受托人，设立“云南信托小微X号渔鲜供应链单一资金信托”（以下简称“该信托”），信托资金用于向云南信托设立的农业SPV管理公司（以下简称“农业SPV”，暂定这种模式，因为要考虑监管对关联公司的最新监管政 策要求）发放购货（产品）质押贷款，购货业务流程如下：甲方：水产加工、销售企业；乙方：农业SPV；丙方：宁波耕海牧渔供应链管理有限公司（以下简称“宁波耕海”）业务模式：甲方因生产、销售需要委托乙方采购一批海鲜，甲方向乙方提供 该批货物的价格、质量、数量，并支付20％的预付款。乙方委托丙方对甲方提出的代采申请进行复核，并由丙方承诺对该笔货物进行逾期回购。货物入乙方指定 库验收合格后乙方支付货款，乙方为此笔货物的实际所有人。宁波耕海为质押物提供第三方仓库监管，并为本信托项下债权承担质押货物 远期购买义务；宁波耕海同时作为供应链技术服务顾问对该信托提供全流程技术 服务及信息服务（包含但不限于水产品质押评估等等）。</text>
			</view>
		</view>
		<view class="box">
			<view class="label">
				<view class="title">
					<text>—— 交易结构 ——</text>
				</view>
				<image src="https://nbghmy.com/static/pics_03.jpg" class="pics" mode="widthFix"></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			link(url){
				uni.navigateTo({
					url: url
				})
			},
			slink(url){
				uni.switchTab ({
					url: url
				})
			}
		}
	}
</script>

<style lang="scss">
	.font_flexs{
		width: 330rpx;
		height: 65rpx;
		background: #ff6a2a;
		position: absolute;
		left: 0;
		top: 713rpx;
		font-size: 32rpx;
		color: #fff;
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 40rpx 40rpx 0;
	}
	page {
		background: #066095;
	}
	.rihgs{
		width: 334rpx;
		position: absolute;
		right: 44rpx;
		top: 449rpx;
	}
	
	.content {
		overflow: hidden;
		width: 100%;
		padding-top: 907rpx;
		position: relative;
		background-image: url("https://nbghmy.com/static/jinrongbg_01.jpg");
		background-size: 100%;
		padding-bottom: 60rpx;
		background-repeat: no-repeat;
		.tip{
			width: 100%;
			position: absolute;
			left: 0;
			top: 260rpx;
			.name{
				display: block;
				font-size: 56rpx;
				font-weight: bold;
				line-height: 78rpx;
				width: 640rpx;
				margin: 0 auto;
				letter-spacing: 3rpx;
				text-align: center;
				color: #fff;
				text{
					color: #fff600;
				}
			}
			view{
				overflow: hidden;
				margin-left: 73rpx;
				margin-top: 50rpx;
				.f{
					display: block;
					font-size: 36rpx;
					line-height: 1;
					margin-bottom: 10rpx;
					color: #fff;
				}
				.ff{
					display: block;
					font-size: 100rpx;
					color: #fff;
				}
			}
		}
		
		
		.box{
			width: 690rpx;
			overflow: hidden;
			background-color: #fff;
			border-radius: 20rpx;
			margin: 0 auto;
			margin-bottom: 20rpx;
			padding-bottom: 60rpx;
			.pics{
				width: 640rpx;
				display: block;
				margin: 0 auto;
			}
			.label{
				overflow: hidden;
				width: 100%;
				margin-top: 45rpx;
				.title{
					display: block;
					text-align: center;
					font-size: 44rpx;
					margin-bottom: 30rpx;
					font-weight: bold;
					color: #040000;
				}
				.table{
					width: 514rpx;
					margin: 0 auto;
					border-left: 2rpx solid #e5e5e5;
					border-top: 2rpx solid #e5e5e5;
					.tr{
						width: 100%;
						display: flex;
						align-items: center;
						view{
							width: 50%;
							border-right: 2rpx solid #e5e5e5;
							height: 60rpx;
							border-bottom: 2rpx solid #e5e5e5;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 24rpx;
							color: #363a44;
						}
					}
				}
				.des{
					display: block;
					font-size: 26rpx;
					color: #363a44;
					line-height: 50rpx;
					padding: 0 30rpx;
					margin-top: 30rpx;
				}
				.icon{
					overflow: hidden;
					display: flex;
					view{
						width: 50%;
						overflow: hidden;
						image{
							width: 151rpx;
							display: block;
							margin: 0 auto;
							margin-bottom: 15rpx;
						}
						text{
							display: block;
							font-size: 28rpx;
							color: #363a44;
							text-align: center;
							line-height: 35rpx;
							width: 170rpx;
							margin: 0 auto;
						}
					}
				}
			}
			
		}
	}
</style>
