<template>
	<view class="content">
		<text class="title">收款金额</text>
		<view class="change">
			<image src="../../static/rmb_03.jpg" mode="widthFix"></image>
			<input type="text" :focus='focus' value="" placeholder="" placeholder-class="s" />
		</view>
		<text class="des">添加收钱备注</text>
		<view class="button">下一步</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				focus: true
			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style lang="scss">
	.content{
		overflow: hidden;
		padding: 65rpx 30rpx 0 30rpx;
		.title{
			display: block;
			font-size: 26rpx;
			color: #333333;
			line-height: 1;
		}
		.des{
			display: block;
			font-size: 26rpx;
			color: #597bdc;
			margin-top: 18rpx;
		}
		.button{
			width: 690rpx;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			position: fixed;
			left: 50%;
			background-color: #0e689b;
			transform: translateX(-50%);
			bottom: 65rpx;
		}
		.change{
			width: 100%;
			height: 160rpx;
			border-bottom: 1px solid #eff0f2;
			display: flex;
			align-items: center;
			image{
				width: 42rpx;
			}
			input{
				width: 80%;
				height: 100%;
				font-weight: bold;
				border: none;
				padding-left: 20rpx;
				outline: none;
				font-size: 72rpx;
				color: #597bdc;
			}
		}
	}
</style>
