<template>
	<view class="content">
		<view class="tong_icon">
			<image src="../../static/leftbtn_03.png" mode="widthFix" @click="click1"></image>
			<text>金融服务</text>
		</view>
		<view class="font_flexs">专业/快捷/方便</view>
		<image src="https://nbghmy.com/static/rtt_03.png" mode="widthFix" class="rihgs"></image>
		<view class="tip">
			<text class="name">渔品贷</text>
			<view>
				<text class="f">最高可贷款元)</text>
				<text class="ff">300万</text>
			</view>
		</view>
		<view class="box">
			<view class="title">
				<text class="f">累计已有<text>849</text>人申请渔品贷</text>
				<text class="ff">为确保测算准确，请输入您的真实信息</text>
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_221.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入您的姓名" v-model="data.name" placeholder-class="s" />
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_222.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入您的手机号" v-model="data.mobile" placeholder-class="s" />
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_11.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入年龄" v-model="data.age" placeholder-class="s" />
			</view>
			<view class="label"> 
				<view class="pic"><image src="../../static/form_14.jpg" mode="widthFix"></image></view>
				<!-- <input type="text"  placeholder="请输入性别" v-model="data.gender" placeholder-class="s" /> -->
				<view class="cell b-b">
					<text class="tit fill">性别</text>
					<view class="checkbox center" @click="changeGender(1)">
						<text v-if="data.gender == 1" class="mix-icon icon-xuanzhong"></text>
						<text v-else class="mix-icon icon-yk_yuanquan"></text>
						<text>男</text>
					</view>
					<view class="checkbox center" @click="changeGender(2)">
						<text v-if="data.gender == 2" class="mix-icon icon-xuanzhong"></text>
						<text v-else class="mix-icon icon-yk_yuanquan"></text>
						<text>女</text>
					</view>
				</view>
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_17.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入住址" v-model="data.address" placeholder-class="s" />
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_20.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入住房类型" v-model="data.roomtype" placeholder-class="s" />
			</view>
			<view class="label">
				<view class="pic"><image src="../../static/form_22.jpg" mode="widthFix"></image></view>
				<input type="text"  placeholder="请输入预估贷款金额" v-model="data.loansamount" placeholder-class="s" />
			</view>
			<mix-button  class="button" ref="confirmBtn" text="申请渔品贷" marginTop="60rpx" @onConfirm="submit"></mix-button>
			<text class="fo">温馨提示：您的信息我们将保密处理，请放心填写。</text>
		</view>
	</view>
</template>

<script>
	import {checkStr} from '@/common/js/util'
	export default {
		data() {
			return {
				gender:0 ,
              data:{}
			}
		},
		onLoad() {

		},
		computed: {
			curData(){
				console.log('82')
				return this.$store.state.data
			}
		},
		watch: {
			curData(data){
				console.log('87')
				const {name, nickname, gender, anonymous} = data;
				this.data = {avatar, nickname, gender, anonymous: !!anonymous};
			}
		},
		methods: {
			async submit(){
				// console.log('1111')
				const data = this.data;
				console.log(JSON.stringify(this.data)) 
				if(!data.name){
					this.$util.msg('请输入贷款人姓名');
					this.$refs.confirmBtn.stop();
					return;
				}
				if(!checkStr(data.mobile, 'mobile')){
					// this.$util.msg('请输入您的手机号码');
					// this.$refs.confirmBtn.stop();
					// return;
				}
			
				const operation = data._id ? 'update' : 'add';
				console.log(JSON.stringify(data)) 
				console.log('123456789' + operation);
				data.status = 0  ; // 默认审核不通过
				const res = await this.$request('loan', operation, data);
				 
				console.log(JSON.stringify( res )) 
				 
				this.$util.msg(res.msg);
				if(res.status === 1){
					//this.$util.prePage().loadData();
					setTimeout(()=>{
						uni.navigateBack();
					}, 1000)
				}
			},
                click(){
				    uni.navigateTo({
				    	url:"../shenqing/shenqing"
				    })
				},
				click1(){
					uni.navigateBack({
						url:"../finance/finance"
					})
				}, 
				changeGender(gender){
					//this.gender = gender 
					// console.log(gender)
					//this.data.gender = gender 
					this.$set(this.data, 'gender', gender)
					 
				}
		}
	}
</script>

<style lang="scss">
	page {
		background: #066095;
	}
	.font_flexs{
		width: 330rpx;
		height: 65rpx;
		background: #ff6a2a;
		position: absolute;
		left: 0;
		top: 713rpx;
		font-size: 32rpx;
		color: #fff;
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 40rpx 40rpx 0;
	}
	.rihgs{
		width: 334rpx;
		position: absolute;
		right: 44rpx;
		top: 449rpx;
	}
	
	.content {
		overflow: hidden;
		width: 100%;
		padding-top: 907rpx;
		position: relative;
		background-image: url("https://nbghmy.com/static/jinrongbg_01.jpg");
		background-size: 100%;
		padding-bottom: 60rpx;
		background-repeat: no-repeat;
		.tip{
			width: 100%;
			position: absolute;
			left: 0;
			top: 240rpx;
			.name{
				display: block;
				font-size: 140rpx;
				font-weight: bold;
				text-align: center;
				letter-spacing: 22rpx;
				transform: translateX(20rpx);
				color: #fff;
			}
			view{
				overflow: hidden;
				margin-left: 73rpx;
				margin-top: 50rpx;
				.f{
					display: block;
					font-size: 36rpx;
					line-height: 1;
					margin-bottom: 10rpx;
					color: #fff;
				}
				.ff{
					display: block;
					font-size: 100rpx;
					color: #fff;
				}
			}
		}
		
		
		.box{
			width: 690rpx;
			overflow: hidden;
			background-color: #fff;
			border-radius: 20rpx;
			margin: 0 auto;
			padding-bottom: 60rpx;
			.fo{
				display: block;
				font-size: 22rpx;
				color: #262626;
				margin-top: 25rpx;
				padding-left: 27rpx;
			}
			.button{
				overflow: hidden;
				width: 590rpx;
				height: 88rpx;
				background: #066095;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50rpx;
				font-size: 38rpx;
				color: #fff;
				margin: 0 auto;
				margin-top: 40rpx;
			}
			.label{
				width: 650rpx;
				height: 74rpx;
				background: #f7f7f7;
				display: flex;
				margin: 0 auto;
				align-items: center;
				margin-bottom: 20rpx;
				padding-left: 22rpx;
				border-radius: 6rpx;
				image{
					width: 40rpx;
				}
				input{
					width: 80%;
					height: 100%;
					border: none;
					font-size: 30rpx;
					color: #686b73;
					padding-left: 30rpx;
				}
			}
			.title{
				overflow: hidden;
				padding: 45rpx 0 35rpx 0;
				.f{
					display: flex;
					align-items: flex-end;
					justify-content: center;
					font-size: 41rpx;
					color: #066095;
					line-height: 1;
					text{
						font-size: 64rpx;
						margin: 0 8rpx;
						color: #d19c4f;
					}
				}
				.ff{
					display: block;
					font-size: 28rpx;
					color: #363a44;
					text-align: center;
					margin-top: 18rpx;
					line-height: 1;
				}
			}
		}
		
		.cell{
				display: flex;
				align-items: center;
				min-height: 110rpx;
				padding: 0 40rpx;
				
				&:first-child{
					margin-bottom: 10rpx;
				}
				&:after{
					left: 40rpx;
					right: 40rpx;
					border-color: #d8d8d8;
				}
				.tit{
					font-size: 30rpx;
					color: #333;
				}
				 .input{
					flex: 1;
					text-align: right;
					font-size: 28rpx;
					color: #333;
				}
				 
				.tip{
					margin-left: 20rpx;
					font-size: 28rpx;
					color: #999;
				}
				.checkbox{
					padding: 12rpx 0 12rpx 120rpx;
					font-size: 28rpx;
					color: #333;
					
					.mix-icon{
						margin-right: 12rpx;
						font-size: 36rpx;
						color: #ccc;
					}
					.icon-xuanzhong{
						color: $blue;
					}
				}
			}
		
	}
</style>
