<template>
	<view class="content">
		<!-- <view>
			<u-tabs-swiper ref="uTabs" :bold='false' bg-color='#fff' font-size='30' :list="list"
				inactive-color='#333333' active-color='#0e689b' height="78" :current="current" @change="tabsChange"
				:is-scroll="false" swiperWidth="750"></u-tabs-swiper>
		</view> -->
		<!-- <view class="tabbar">
			<view :class="flag == 0?'on':''" @click="flag = 0">个人</view>
			<view :class="flag == 1?'on':''" @click="flag = 1">企业</view>
		</view> -->
		<!-- <swiper :current="swiperCurrent" :style="'height:' + scrollHeight + 'px'" @transition="transition"
			@animationfinish="animationfinish"> -->
			
			<view class="swiper-item">
				
					<text class="title">请绑定持卡人本人的银行卡</text>
					<view class="fadein">
						<view class="item">
							
							<view class="label">
								<text class="font">姓名</text>
								<input type="text" v-model="data.name" value="" placeholder="请输入实名认证的开卡人姓名" placeholder-class="s" />
							</view>
							
							<view class="label">
								<text class="font">卡号</text>
								<input type="text" v-model="data.bankcard" value="" placeholder="请输入银行卡号" placeholder-class="s" />
							</view>
						</view>
						
						<view class="reg">
							<view>
								<image src="../../static/ready.jpg" mode="widthFix"></image>
							</view>
							<text>同意<text>《平安银行电子商务支付结算服务协议》</text></text>
						</view>
						
						<mix-button ref="confirmBtn" text="提交" marginTop="60rpx" @onConfirm="submit"></mix-button>
					</view>
				
			</view>
			
			
			<!-- <swiper-item class="swiper-item">
				<scroll-view scroll-y>
					<text class="title">请输入企业的相关信息</text>
					<view class="fadein">
						<view class="item">
							<view class="label">
								<text class="font">开 户 名</text>
								<input type="text" value="" placeholder="请输入营业执照上企业全称" placeholder-class="s" />
							</view>
							<view class="label">
								<text class="font">营业执照</text>
								<input type="text" value="" placeholder="请输入营业执照" placeholder-class="s" />
							</view>
							<view class="label">
								<text class="font">开户账号</text>
								<input type="text" value="" placeholder="请输入企业的银行开户账号" placeholder-class="s" />
							</view>
						</view>
						<view class="item">
							<view class="label">
								<text class="font">银行</text>
								<input type="text" @click="show = !show" :class="indexs == 0?'on':''" disabled="true"
									:value="selector[indexs]" placeholder="请选择银行" placeholder-class="s" />
								<image src="../../static/userright_03.jpg" mode="widthFix" class="right"></image>
							</view>
							<view class="label">
								<text class="font">所在地</text>
								<input type="text" @click="show2 = !show2" :class="address == '请选择所在地'?'on':''"
									disabled="true" :value="address" placeholder="所在地" placeholder-class="s" />
								<image src="../../static/userright_03.jpg" mode="widthFix" class="right"></image>
							</view>
							<view class="label">
								<text class="font">支行</text>
								<input type="text" value="" placeholder="请输入支行的名称关键字" placeholder-class="s" />
								<image src="../../static/addsearch.jpg" mode="widthFix" class="search"></image>
							</view>
							<view class="label">
								<text class="font">开户行</text>
								<input type="text" @click="show1 = !show1" :class="indexs1 == 0?'on':''" disabled="true"
									:value="selector1[indexs1]" placeholder="请选择开户行" placeholder-class="s" />
								<image src="../../static/userright_03.jpg" mode="widthFix" class="right"></image>
							</view>
						</view>
						<view class="reg">
							<view>
								<image src="../../static/ready.jpg" mode="widthFix"></image>
							</view>
							<text>同意<text>《平安银行电子商务支付结算服务协议》</text></text>
						</view>
						<view class="button">下一步</view>
					</view>
				</scroll-view>
			</swiper-item> -->
		<!-- </swiper>
		<u-picker mode="selector" v-model="show" @confirm='change' :default-selector="[0]" :range="selector"></u-picker>
		<u-picker mode="selector" v-model="show1" @confirm='change1' :default-selector="[0]" :range="selector1">
		</u-picker>
		<u-picker mode="region" v-model="show2" @confirm='change2' :area-code='["13", "1303", "130304"]'></u-picker> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
                data:{},
			}
		},
		onLoad() {
			
		},
		// onReady() {
		// 	let that = this
		// 	uni.getSystemInfo({
		// 		success(res) {
		// 			that.phoneHeight = res.windowHeight
		// 			that.scrollHeight = that.phoneHeight - 39
		// 		}
		// 	})
		// },
		methods: {
			async submit(){
				const data = this.data;
				if(!data.name){
					this.$util.msg('请输入姓名');
					this.$refs.confirmBtn.stop();
					return;
				}
				if(!data.bankcard){
					this.$util.msg('请输入银行卡卡号');
					this.$refs.confirmBtn.stop();
					return;
				}
				console.log(JSON.stringify(data))
				console.log('123456789' + operation);
				const operation = data._id ? 'update' : 'add';
				const res = await this.$request('bank', operation, data);
				this.$util.msg(res.msg);
				if(res.status === 1){
					// this.$util.prePage().loadData();
					setTimeout(()=>{
						uni.navigateBack();
					}, 1000)
				}
			},
			// change(e) {

			// 	this.indexs = e
			// },
			// change1(e) {
			// 	this.indexs1 = e
			// },
			// change2(e) {
			// 	this.address = e.province.label + e.city.label + e.area.label
			// },
			// tabsChange(index) {
			// 	this.swiperCurrent = index;
			// },
			// transition(e) {
			// 	let dx = e.detail.dx;
			// 	this.$refs.uTabs.setDx(dx);
			// },
			// animationfinish(e) {
			// 	let current = e.detail.current;
			// 	this.$refs.uTabs.setFinishCurrent(current);
			// 	this.swiperCurrent = current;
			// 	this.current = current;
			// },
			// onreachBottom() {

			// }
		}
	}
</script>

<style lang="scss">
	page {
		background: #f6f7f8;
	}

	.swiper-item {
		width: 100%;
		height: 100%;
	}

	scroll-view {
		width: 100%;
		height: 100%;
	}

	.content {
		overflow: hidden;
		min-height: 90vh;
		width: 100%;

		.title {
			padding: 38rpx 0 23rpx 30rpx;
			font-size: 28rpx;
			color: #636976;
			display: block;
		}

		.reg {
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 40rpx;
			padding: 0 30rpx;

			view {
				width: 27rpx;
				height: 27rpx;
				overflow: hidden;
				border: 1px solid #eff0f2;
				border-radius: 50%;

				image {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			&>text {
				display: flex;
				align-items: center;
				font-size: 26rpx;
				margin-left: 18rpx;
				color: #636976;

				text {
					margin-left: 10rpx;
					color: #597bdc;
				}
			}
		}

		.button {
			width: 690rpx;
			height: 90rpx;
			box-shadow: 0 0 20px #c3d8e4;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			margin: 0 auto;
			margin-top: 108rpx;
		}

		.fadein {
			width: 100%;
			overflow: hidden;

			.item {
				width: 100%;
				padding: 0 30rpx;
				overflow: hidden;
				margin-bottom: 24rpx;
				background-color: #fff;

				.label {
					overflow: hidden;
					width: 100%;
					height: 110rpx;
					border-bottom: 1px solid #eff0f2;
					position: relative;
					display: flex;
					align-items: center;

					.right {
						width: 12rpx;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					.search {
						width: 26rpx;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					&:last-child {
						border: none;
					}

					.font {
						width: 120rpx;
						font-size: 30rpx;
						color: #2a3243;
						display: block;
						text-align-last: justify;
					}

					input {
						width: 566rpx;
						height: 100%;
						font-size: 30rpx;
						color: #333;
						padding-left: 55rpx;
						background: none;

						&.on {
							color: #C8C9Cd;
						}
					}

					.s {
						color: #c8c9cd;
					}
				}
			}
		}

		.tabbar {
			width: 100%;
			height: 78rpx;
			background-color: #fff;
			display: flex;
			align-items: center;

			view {
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				font-size: 30rpx;
				color: #333333;

				&.on {
					color: #0e689b;

					&::after {
						content: '';
						width: 32rpx;
						height: 6rpx;
						background: #0e689b;
						position: absolute;
						left: 50%;
						margin-left: -16rpx;
						bottom: 0;
					}
				}
			}
		}
	}
</style>
