<template>
	<view class="content">
		<!-- <view class="bank_item" style="background-image: url(../../static/bank_03.jpg);">
			<text>0102</text>
		</view>
		<view class="bank_item" style="background-image: url(../../static/bank_06.jpg);">
			<text>0598</text>
		</view> -->

		<view v-for="(item,index) in renderList2">
		<bank-item :bankCode="item.bankCode" :bankName="item.bankName" :cardCode="item.cardCode" />

		</view>
		<text class="title">提现金额</text>
		<view class="change">
			<image src="../../static/rmb_03.jpg" mode="widthFix"></image>
			<input type="text" focus='focus' v-model="withdrawal" placeholder-class="s" />
		</view>
		<text class="tip">账户可用余额 ￥{{ userInfo.money | price }}</text>
		
		
		<mix-button class="button" ref="confirmBtn" text="下一步" marginTop="60rpx" @onConfirm="balancePay"></mix-button>
		
		<pay-password-keyboard ref="pwdKeyboard" @onConfirm="submit"></pay-password-keyboard>
		
		<mix-modal ref="mixModal" text="您还没有设置支付密码" confirmText="立即设置" @onConfirm="navTo('/pages/auth/payPassword')"></mix-modal>
		
	</view>
</template>

<script>
	import BIN from "bankcardinfo"
	import {checkStr} from '@/common/js/util'
	// import bankitem from '@/components/bank-item/bank-item.vue'
	export default {
		// components: {
		// 	bankitem
		// },
		data() {
			return {
				renderList: [],
				data1: {},
				bankinfo: [],
				renderList2: [],
				withdrawal:'',
			}
		},
		computed: {
			userInfo(){
				return this.$store.state.userInfo;
			}
		},
		
		onLoad(e) {
			if(e.id){
				this.loadData(e.id)
				
			};
			
			//this.loaduserList();
		},
		
		methods: {
			
			//根据上个页面传过来的_id从bank里获取银行卡信息并把信息整合到that.renderList2
			async loadData(_id) {
				const data = {
					_id :_id
				}
				const res = await this.$request('bank', 'get', data, {
					showLoading: !this.loaded
				});
				console.log('res' ,JSON.stringify(res))

				this.renderList = res.data;
				let that = this
				console.log('this.renderList', JSON.stringify(this.renderList))

				await this.renderList.forEach(async (item, index) => {
					await BIN.getBankBin(item.bankcard)
						.then(function(data) {
							//this.data = data

							let newdata = {}
							newdata.bankCode = data.bankCode
							newdata.bankName = data.bankName
							newdata.cardCode = item.bankcard
                            newdata._id = item._id
                            newdata.name = item.name
							newdata.uid = item.uid
							that.renderList2.push(newdata)
							console.log('that.renderList2', JSON.stringify(that.renderList2))
							//this.bankinfo = JSON.stringify(data)
						})
						.catch(function(err) {
							console.log('err', err)
						})
				})
			},
			balancePay(){
				if(!this.userInfo.pay_password){
					this.$refs.mixModal.open();
					this.$refs.confirmBtn.stop();
					return;
				}else{
					this.$refs.pwdKeyboard.open();
					this.$refs.confirmBtn.stop();
				}
				
				// this.submit();
				
			},
			
			
			
			async submit(pwd) {
				
				
				
				// TODO获取用户信息
				const getUserInfo = await this.$request('user', 'getUserInfo', {});
				console.log('getUserInfo', getUserInfo)
				
				 
				let that = this
				const data = {};
				 
				data.bankinfo = JSON.stringify(that.renderList2) ; 
				data.bank_id  = that.renderList2[0]._id  
				data.withdrawal  = that.withdrawal
				
				
				
				if (!data.withdrawal) {
					this.$util.msg('请输入提现金额');
					this.$refs.confirmBtn.stop();
					return;
				}
				// TODO判断用户的钱是否足够提现的金额
				if( (Number(getUserInfo.money) - Number(data.withdrawal) ) < 0  ) {
					this.$util.msg('您的余额不足');
					this.$refs.confirmBtn.stop();
					return;
				}
				
				
				const res = await this.$request('user', 'userWithDraw', {money:that.withdrawal,pay_password: pwd});
			    console.log('userWithDraw',JSON.stringify(res))
				if(res.status === 1){
					// TODO 提交记录
					const res = await this.$request('tixian', 'add', data);
					this.$util.msg('提现成功');
					//this.$util.prePage().loadData();
					setTimeout(()=>{
						uni.navigateBack();
					}, 1000)
				}else{
						this.$util.msg(res.msg);
					setTimeout(()=>{	
						
						uni.navigateTo({
							url:'/pages/bank/bank'
						})
					}, 2000)
				}
				//记录流水
				
				// 用户的钱减少  减少的记录
			   	
			}
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 30rpx;

		.bank_item {
			width: 100%;
			height: 240rpx;
			background-size: 100% 100%;
			margin-bottom: 24rpx;
			padding: 126rpx 0 0 504rpx;

			text {
				font-size: 48rpx;
				color: #fff;
				display: block;
				line-height: 1;
			}
		}

		.title{
			margin-top: 20rpx;
			display: block;
			font-size: 40rpx;
			font-weight: bold;
			color: #333333;
			line-height: 1;
		}
		.tip{
			margin-top: 14rpx;
			font-size: 24rpx;
			color: #999;
		}
		.des{
			display: block;
			font-size: 26rpx;
			color: #597bdc;
			margin-top: 18rpx;
		}
		.button{
			width: 690rpx;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			position: fixed;
			left: 50%;
			background-color: #0e689b;
			transform: translateX(-50%);
			bottom: 65rpx;
		}
		.change{
			width: 100%;
			height: 160rpx;
			border-bottom: 1px solid #eff0f2;
			display: flex;
			align-items: center;
			image{
				width: 42rpx;
			}
			input{
				width: 80%;
				height: 100%;
				font-weight: bold;
				border: none;
				padding-left: 20rpx;
				outline: none;
				font-size: 72rpx;
				color: #597bdc;
			}
		}
	}

	page {
		background-color: #f7f8fa;
	}
</style>
