<template>
	<view class="content">
		<view class="userinfo">
			
			
			<view class="pic">
				<image src="https://nbghmy.com/static/user_03.png" 
				:src="userInfo.avatar || 'https://nbghmy.com/static/icon/default-avatar.png'" 
				 @click="navTo('/pages/userinfo1/userinfo1', {login: true})" 
				 mode="">	
				</image>	
				</view>
				
			<view class="grow">
				<text class="name">{{userInfo.nickname}}</text>
				<view class="tip" @click="navTo('/pages/renzheng/renzheng' )">
					<image src="../../static/user_09.png" mode="widthFix" class="vip"></image>
					<text>个人认证</text>
					<image src="../../static/user_06.png" mode="widthFix" class="right"></image>
				</view>
			</view>
			
		</view>
		<view class="main_order">
			<view class="title" >
				<text class="f">我的订单</text>
				<view @click="navTo('/pages/my_order/my_order?current=0' )">
					<text>查看所有订单</text>
					<image src=" ../../static/user_15.png" mode="widthFix"></image>
				</view>
			</view >
			<view class="icon">
				
				<view @click="navTo('/pages/my_order/my_order?current=1' )">
					<image src="https://nbghmy.com/static/user_19.png" mode="widthFix"></image>
					<text>待付款</text>
				</view>
				
				<view @click="navTo('/pages/my_order/my_order?current=2')">
					<image src="../../static/user_21.png" mode="widthFix"></image>
					<text>待发货</text>
				</view>
				
				<view @click="navTo('/pages/my_order/my_order?current=3' )">
					<image src="https://nbghmy.com/static/user_23.png" mode="widthFix"></image>
					<text>待收货</text>
				</view>
				
				<view @click="navTo('/pages/my_order/my_order?current=4' )">
					<image src="https://nbghmy.com/static/user_25.png" mode="widthFix"></image>
					<text>待评价</text>
				</view>
				
			</view>
		</view>
		
		
		<view class="main_price" >
			<view class="title" @click="link('/pages/my_zijin/my_zijin' )">
				<text class="f">我的资金</text>
				<view>
					<text>进入账户</text>
					<image src="../../static/user_15.png" mode="widthFix"></image>
				</view>
			</view>
			<view class="numgrow">
				<view>
					<text class="f">{{ userInfo.money | price(2) }}</text>
					<text class="ff">总金额</text>
				</view>
				<view>
					<text class="f">0</text>
					<text class="ff">可提现余额</text>
				</view>
				<view>
					<text class="f">0</text>
					<text class="ff">待转可提现余额</text>
				</view>
			</view>
		</view>
		
		<view class="main_price">
			<view class="title"  @click="navTo('../quotation1/quotation1')">
				<text class="f">实时行情</text>
				<view class="f" >
					<text>查看实时行情</text>
					<image src="../../static/user_15.png" mode="widthFix"></image>
				</view>
			</view>
			
		</view>
		
		<view class="main_link">
			<view class="label" @click="navTo('/pages/my_info/my_info' )">
				<view class="icon" >
					<image src="../../static/user_521.png" mode="widthFix"></image>
					<text>我的消息</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			<view class="label" @click="navTo('/pages/auth/payPassword' )">
				<view class="icon" >
					<image src="../../static/user_521.png" mode="widthFix"></image>
					<text>支付密码设置</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			
			
			<view class="label"  @click="navTo('/pages/renzheng1/renzheng1' )">
				<view class="icon">
					<image src="../../static/user_522.png" mode="widthFix"></image>
					<text>企业认证</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			<view class="label"  @click="navTo('/pages/addproduct/addproduct?cateId=bf4a0bf2620ca0360f27952e27d44e10')">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布货品信息</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			<view class="label"  @click="navTo('/pages/addproduct/addproduct?cateId=617ef50c620ca7cc0607b81a1363a9fa' )">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布船用货品信息</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			<view class="label"  @click="navTo('/pages/add_demand/add_demand' )">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布货品需求</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			
			<view class="label"  @click="navTo('/pages/add_linshigong/add_linshigong' )">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布临时工用工</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			<view class="label"  @click="navTo('/pages/add_recruit/add_recruit' )">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布船员用工</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			<view class="label"  @click="navTo('/pages/add_car/add_car' )">
				<view class="icon">
					<image src="../../static/user_523.png" mode="widthFix"></image>
					<text>发布用车信息</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			
			
			<view class="label" @click="navTo('/pages/my_huo/my_huo' )">
				<view class="icon">
					<image src="../../static/user_524.png" mode="widthFix" ></image>
					<text>我的货品</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
		<!-- 	<view class="label" @click="navTo('/pages/fahuodan/fahuodan' )">
				<view class="icon">
					<image src="../../static/user_525.png" mode="widthFix"></image>
					<text>发货单</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view> -->
			
			<view class="label"  @click="navTo('/pages/yijian/yijian' )"> 
				<view class="icon">
					<image src="../../static/user_526.png" mode="widthFix"></image>
					<text>意见反馈</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			<view class="label" @click="navTo('/pages/problem/problem' )">
				<view class="icon">
					<image src="../../static/user_49.png" mode="widthFix"></image>
					<text>帮助中心</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			
			<view class="label" @click="navTo('/pages/address/list' )">
				<view class="icon">
					<image src="../../static/user_49.png" mode="widthFix"></image>
					<text>收货地址管理</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
			<view class="label" @click="navTo('/pages/set/set' )">
				<view class="icon">
					<image src="../../static/user_49.png" mode="widthFix"></image>
					<text>设置</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view>
		<!-- 	<view class="label">
				<view class="icon">
					<image src="../../static/user_52.jpg" mode="widthFix"></image>
	 				<text>我的报价</text>
				</view>
				<image src="../../static/userright_03.jpg" mode="widthFix"></image>
			</view> -->
		</view>
		
		<!-- <mix-list-cell icon="icon-shezhi1" iconColor="#37b0fb" title="设置" border="" @onClick="navTo('/pages/set/set', {login: true})"></mix-list-cell>
		 -->		
		
		<mix-button ref="confirmBtn" text="退出登录" marginTop="60rpx" :isConfirm="false" @onConfirm="showPopup('mixModal')"></mix-button>
		
		<mix-modal ref="mixModal" title="提示" text="您确定要退出登录吗" @onConfirm="logout"></mix-modal>
	</view>
</template>

<script>  
	import {mapState, mapGetters} from 'vuex'
    export default {
		data(){
			return {
				historyList: [],
				items:[],
				
			}
		},
		computed: {
			...mapState(['userInfo', 'orderCount', 'c2corderCount','couponCount','openExamine']),
			...mapGetters(['hasLogin']),
			
		},
		onShow(){
			if(this.hasLogin){
				
				
			}else{
				
				this.navTo('/pages/auth/login');
			}
			this.loadHistory() ;
			// this.loadData();
			this.$store.dispatch('getUserInfo'); //更新订单数量
			this.$store.dispatch('getc2cOrderCount'); //更新订单数量
			this.$store.dispatch('getCouponCount'); //更新优惠券数量
			// let userinfo = JSON.parse(this.getGlobalInfo("wxgj_userinfo"))
			// if(!userinfo){
			// 	uni.reLaunch({
			// 		url: '/pages/auth/login'
			// 	})
			// }
		},
        methods: {
			async logout(){
				this.$refs.confirmBtn.loading = true;
				const res = await this.$request('user', 'logout');
				this.$refs.confirmBtn.loading = false;
				this.$util.msg('您已退出登录');
				this.$store.commit('logout');
				setTimeout(()=>{
					uni.navigateTo({
						url: '/pages/auth/login'
					})
				}, 1000)
			},
			
			async getCategory(){
				const res= await db.collection('mix-product-category')
					.where({
						status: 1
					})
					.orderBy('sort', 'desc')
					.get();
				const resList = res.data;
				const list = resList.filter(item=> !item.parent_id);
				list.forEach(item=> {
					item.child = resList.filter(val=> val.parent_id === item._id);
				})
				return list;
			},
			//加载浏览记录
			// async loadData(){
				
			// 	console.log('111')
			// 	const res = await this.$request('quotation', 'getList', {}, );
			// 	console.log('222')
			// 	this.items = res;
			// },
			loadHistory(){
				const list = uni.getStorageSync('productHistory');
				this.historyList = list || [];
			},
			//清空浏览记录
			clearHistory(){
				uni.removeStorage({
					key: 'productHistory'
				})
				this.historyList = [];
			},
			link(url){
				uni.navigateTo({
					url: url
				})
			}
        }  
    }  
</script>  

<style lang="scss">
	.button{
		width: 100%;
		height: 92rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		font-size: 30rpx;
		color: #2a3243;
		border-radius: 20rpx;
		margin-top: 20rpx;
	}
	
	.main_link{
		width: 100%;
		overflow: hidden;
		background: #fff;
		border-radius: 20rpx;
		margin-top: 20rpx;
		.label{
			width: 100%;
			height: 91rpx;
			display: flex;
			padding: 0 30rpx;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e8e9ec;
			&:last-child{
				border-bottom: none;
			}
			.icon{
				display: flex;
				align-items: center;
				image{
					width: 36rpx;
				}
				text{
					font-size: 28rpx;
					color: #2a3243;
					margin-left: 40rpx;
				}
			}
			& > image{
				width: 11rpx;
			}
		}
	}
	
	.main_price{
		width: 100%;
		overflow: hidden;
		background: #fff;
		border-radius: 20rpx;
		margin-top: 20rpx;
		.title{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
			border-bottom: 1px solid #e8e9ec;
			height: 80rpx;
			.f{
				font-size: 32rpx;
				color: #2a3243;
				font-weight: bold;
			}
			view{
				display: flex;
				align-items: center;
				height: 100%;
				text{
					font-size: 28rpx;
					color: #808080;
				}
				image{
					width: 12rpx;
					margin-left: 10rpx;
				}
			}
		}
		.numgrow{
			overflow: hidden;
			width: 100%;
			padding: 33rpx 0 0 0;
			view{
				width: 33.33%;
				float: left;
				margin-bottom: 23rpx;
				.f{
					display: block;
					font-size: 34rpx;
					color: #ff485d;
					line-height: 1;
					margin-bottom: 25rpx;
					text-align: center;
				}
				.ff{
					display: block;
					font-size: 24rpx;
					color: #2a3243;
					text-align: center;
					line-height: 1;
				}
			}
		}
	}
	
	.main_order{
		width: 100%;
		overflow: hidden;
		background: #fff;
		border-radius: 20rpx;
		margin-top: 38rpx;
		padding-bottom: 25rpx;
		.shopinfo{
			width: 640rpx;
			margin: 0 auto;
			border-radius: 15rpx;
			background: #f7f8f9;
			padding: 18rpx 20rpx;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.pic{
				width: 116rpx;
				border-radius: 10rpx;
				height: 116rpx;
				overflow: hidden;
				image{
					width: 100%;
					height: 100%;
				}
			}
			.grow{
				overflow: hidden;
				width: 466rpx;
				position: relative;
				.btn{
					width: 124rpx;
					height: 42rpx;
					position: absolute;
					right: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 20rpx;
					color: #0e689b;
					border-radius: 40rpx;
					background-color: #fff;
					border: 1px solid #0e689b;
				}
				.name{
					display: block;
					font-size: 24rpx;
					color: #2a3243;
					font-weight: bold;
					margin-bottom: 13rpx;
				}
				.f{
					display: block;
					font-size: 22rpx;
					color: #b2b2b2;
					margin-bottom: 14rpx;
				}
				.price{
					display: flex;
					align-items: flex-end;
					font-size: 28rpx;
					color: #f55050;
					line-height: 1;
					text{
						font-size: 18rpx;
					}
				}
			}
		}
		.icon{
			overflow: hidden;
			width: 100%;
			padding: 20rpx 0 28rpx 0;
			view{
				overflow: hidden;
				width: 25%;
				float: left;
				image{
					width: 80rpx;
					display: block;
					margin: 0 auto;
					margin-bottom: 18rpx;
				}
				text{
					display: block;
					text-align: center;
					font-size: 24rpx;
					color: #2a3243;
				}
			}
		}
		.title{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
			border-bottom: 1px solid #e8e9ec;
			height: 80rpx;
			.f{
				font-size: 32rpx;
				color: #2a3243;
				font-weight: bold;
			}
			view{
				display: flex;
				align-items: center;
				height: 100%;
				text{
					font-size: 28rpx;
					color: #808080;
				}
				image{
					width: 12rpx;
					margin-left: 10rpx;
				}
			}
		}
	}
	
	.userinfo{
		overflow: hidden;
		display: flex;
		align-items: center;
		.pic{
			width: 100rpx;
			height: 100rpx;
			border-radius: 50%;
			overflow: hidden;
			border: 3rpx solid #fff;
			image{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.grow{
			overflow: hidden;
			margin-left: 18rpx;
			.name{
				display: block;
				font-size: 30rpx;
				line-height: 1;
				font-weight: bold;
				margin-bottom: 21rpx;
				color: #fff;
			}
			.tip{
				overflow: hidden;
				display: flex;
				align-items: center;
				.vip{
					width: 28rpx;
				}
				text{
					font-size: 22rpx;
					color: #fff;
					font-weight: bold;
					line-height: 2rpx;
					margin: 0 8rpx;
				}
				.right{
					width: 25rpx;
				}
			}
		}
	}
	
	.content{
		overflow: hidden;
		width: 100%;
		padding: 30rpx;
		background-image: url("https://nbghmy.com/static/userbg_02.jpg" );
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
	}
	page{
		background-color: #f5f6f7;
	}
</style>
