<template>
	<view class="content">
		<view class="nav-wrap">
			<mix-nav-bar 
			:navs="navs" 
			:counts="navCounts" 
			:current="navCurrent" 
			@onChange="onNavBarChange"></mix-nav-bar>
		</view>
			<view style="height: 78rpx;"></view>
		<!-- <view>
			<u-tabs-swiper ref="uTabs" :bold='false' bg-color='#fff' font-size='30' :list="list"
				inactive-color='#333333' active-color='#0e689b' height="78" :current="current" @change="tabsChange"
				:is-scroll="false" swiperWidth="750"></u-tabs-swiper>
		</view> -->
		<!-- <swiper :current="swiperCurrent" :style="'height:' + scrollHeight + 'px'" @transition="transition"
			@animationfinish="animationfinish"> -->
			
			<mescroll-body
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="headerHeight" 
			@down="downCallback" 
			:up="upOption" 
			@up="loadList" 
				>
			<!-- <swiper-item class="swiper-item" v-for="(item, index) in curList" :key="index"> -->
				<scroll-view scroll-y @scrolltolower="onreachBottom">
					
					<view class="main_info">
						
						<view class="date">
							<picker mode="date" :value="date" :start="startDate" :end="endDate" @change="bindDateChange">
								<view class="uni-input">{{date}}</view>
							</picker>
							<image src="../../static/myzj_18.jpg" mode="widthFix"></image>
						</view>
						
						<!-- <text class="fr">{{item.name == '提现'?'提现':'收入'}} ￥17,585.80</text> -->
					</view>
					
					<view class="list">
						
						<view class="item" v-for="(items, indexs) in list">
							
							<view>
								<text class="name">{{items.title}}</text>
								<text class="date">{{ items.add_time | date('y-m-d') }}</text>
							</view>
							
							<view>
								<text class="price" :class=" (items.money > 0)?'on':''"  v-if="items.money > 0">+{{ items.money | price }}</text>
								<text class="price"  v-if="items.money < 0">{{ items.money | price }}</text>
								<text class="des" v-if="items.money > 0">收款成功</text>
								<text class="des" v-if="items.money < 0">提现成功</text>
							</view>
							
						</view>
						
					</view>
					
				</scroll-view>
			<!-- </swiper-item> -->
			</mescroll-body>
			<mix-loading v-if="isLoading"></mix-loading>
		</swiper>
	</view>
</template>

<script>
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		components: {
			MescrollBody,
			 
		},
		mixins: [MescrollMixin],
		data() {
			const currentDate = this.getDate({
				format: true
			})
			return {
				upOption:{
					chastatus: 0 , 
					auto: false, // 不自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				listType: 'row', //列表类型 column竖向列表 row 横向列表
				navCounts: [],
				navs: [{name: '收款'}, {name: '提现'}],
				navCurrent: 0, //当前tab
				list:[],
				curList:[],
			
				current: 0,
				swiperCurrent: 0,
				scrollHeight: '',
				phoneHeight: '',
				date: currentDate,
			}
		},
		watch: {
			orderCount(){
				this.navCounts = [0].concat(Object.values(this.orderCount));
			}
		},
		computed: { 
			orderCount(){
				return this.$store.state.orderCount;
			},
			statusBarHeight(){
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight(){
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight(){
				return 0;
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) + 0;
			},
			startDate() {
				return this.getDate('start');
			},
			endDate() {
				return this.getDate('end');
			}
		},	
		onLoad(options) {
			this.navCurrent = +options.current;
			
		},
		onShow(){
			if(this.loaded){
				this.refreshList(false);
			}
		},
		onReady() {
			let that = this
			uni.getSystemInfo({ 
				success(res) {
					that.phoneHeight = res.windowHeight
					that.scrollHeight = that.phoneHeight - 39
				}
			})
		},
		methods: {
			downCallback(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
			mescrollInit(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(()=>{
					this.refreshList();
				}, 10)
			},
			refreshList(){
				this.list = [] ; 
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				
				// if(current==1){
				// 	this.upOption.chastatus = 1
				// 	console.log('chastatus = 1')
				// }
				this.refreshList();
			},
			async loadList(e){
				const request_data = {
					offset: (e.num - 1) * e.size,
					limit: e.size,
					navCurrent: this.navCurrent,
					dates: this.date,
				}
				 
				const res = await this.$request('payment', 'getMoneyLog', request_data);
				const curList = res.data;
				if(e.num === 1){
					this.list = [];
				}
				console.log('curList',JSON.stringify(curList))
				this.list = this.list.concat(curList); //追加新数据
				if(curList.length>0){
					this.mescroll.endSuccess(curList.length); //结束加载状态
				}else{
					setTimeout(()=>{
						this.mescroll.endErr();
					}, 500)
				}
				
				
				
			},
			tabsChange(index) {
				this.swiperCurrent = index;
			},
			transition(e) {
				let dx = e.detail.dx;
				this.$refs.uTabs.setDx(dx);
			},
			// animationfinish(e) {
			// 	let current = e.detail.current;
			// 	this.$refs.uTabs.setFinishCurrent(current);
			// 	this.swiperCurrent = current;
			// 	this.current = current;
			// },
			onreachBottom() {

			},
			bindDateChange: function(e) {
				
				this.date = e.target.value
				this.refreshList();
				
			},
			getDate(type) {
				console.log( 'getDate(type) ', type)
				const date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();

				if (type === 'start') {
					year = year - 60;
				} else if (type === 'end') {
					year = year + 2;
				}
				month = month > 9 ? month : '0' + month;
				day = day > 9 ? day : '0' + day;
				return `${year}-${month}-${day}`;
			}
		}
	}
</script>

<style lang="scss">
	.swiper-item {
		width: 100%;
		height: 100%;
		background-color: #fff;
	}

	.main_info {
		width: 100%;
		height: 124rpx;
		background-color: #f6f7f8;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30rpx;

		.date {
			display: inline-flex;
			align-items: center;
			height: 64rpx;
			background: #fff;
			border-radius: 40rpx;
			padding: 0 25rpx;

			text {
				font-size: 28rpx;
				color: #2a3243;
			}

			.uni-input {
				font-size: 28rpx;
				color: #2a3243;
				height: 64rpx;
				display: flex;
				align-items: center;
			}

			image {
				width: 16rpx;
				margin-left: 17rpx;
			}
		}

		.fr {
			font-size: 30rpx;
			color: #2a3243;
		}
	}

	scroll-view {
		width: 100%;
		height: 100%;
	}

	.content {
		overflow: hidden;
		width: 100%;

		.userbox {
			overflow: hidden;
			background-color: #0e689b;

			.link {
				overflow: hidden;
				width: 100%;
				display: flex;
				align-items: center;
				border-top: 2rpx solid #3681ae;
				height: 142rpx;

				.item {
					width: 50%;
					overflow: hidden;
					padding-top: 28rpx;
					padding-left: 30rpx;
					height: 100%;

					&:first-child {
						border-right: 2rpx solid #3681ae;
					}

					.f {
						display: block;
						line-height: 1;
						font-size: 28rpx;
						margin-bottom: 25rpx;
						color: #bcdbed;
					}

					.ff {
						display: block;
						line-height: 1;
						font-size: 30rpx;
						color: #fff;
					}
				}
			}

			.top {
				overflow: hidden;
				height: 175rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;

				.fl {
					overflow: hidden;

					.f {
						display: block;
						font-size: 30rpx;
						line-height: 1;
						margin-bottom: 28rpx;
						color: #bcdbed;
					}

					.ff {
						display: block;
						font-size: 56rpx;
						line-height: 1;
						color: #ffff;
					}
				}

				.fr {
					overflow: hidden;
					display: flex;
					align-items: center;

					image {
						width: 13rpx;
						margin-left: 21rpx;
					}

					text {
						letter-spacing: 4rpx;
						font-size: 32rpx;
						color: #fff;
					}
				}
			}
		}

		.icon_grow {
			overflow: hidden;
			width: 100%;
			height: 160rpx;
			background: #fff;
			display: flex;
			align-items: center;

			view {
				width: 33.33%;
				overflow: hidden;

				image {
					width: 64rpx;
					display: block;
					margin: 0 auto;
					margin-bottom: 18rpx;
				}

				text {
					display: block;
					font-size: 28rpx;
					color: #2a3243;
					line-height: 1;
					text-align: center;
				}
			}
		}

		.list {
			overflow: hidden;
			padding: 0 30rpx;

			.item {
				overflow: hidden;
				border-bottom: 1px solid #eff0f2;
				padding: 30rpx 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				view {
					overflow: hidden;

					.name {
						display: block;
						font-size: 30rpx;
						color: #2a3243;
						line-height: 1;
						margin-bottom: 28rpx;
					}

					.date {
						display: block;
						font-size: 26rpx;
						color: #989da6;
						line-height: 1;
					}

					.price {
						display: block;
						font-size: 32rpx;
						font-weight: bold;
						color: #04c27b;
						line-height: 1;
						margin-bottom: 28rpx;
						text-align: right;

						&.on {
							color: #f55050;
						}
					}

					.des {
						display: block;
						font-size: 24rpx;
						color: #989da6;
						line-height: 1;
						text-align: right;
					}
				}
			}
		}

		.main_list_box {
			overflow: hidden;
			width: 100%;
			margin-top: 20rpx;
			background: #fff;

			.head {
				overflow: hidden;
				padding: 38rpx 0 20rpx 30rpx;
				border-bottom: 1px solid #eff0f2;

				.t {
					display: flex;
					align-items: center;

					view {
						width: 6rpx;
						height: 26rpx;
						background: #597bdc;
					}

					text {
						font-size: 30rpx;
						color: #636976;
						margin-left: 13rpx;
					}
				}

				.price {
					overflow: hidden;
					margin-top: 28rpx;
					display: flex;
					align-items: center;

					text {
						font-size: 26rpx;
						color: #2a3243;
						margin-right: 30rpx;
					}
				}

				.moth {
					margin-top: 35rpx;
					overflow: hidden;
					display: flex;
					align-items: flex-end;

					.f {
						font-size: 48rpx;
						color: #2a3243;
						line-height: 1;
						font-weight: bold;
						display: block;
					}

					.ff {
						font-size: 24rpx;
						color: #2a3243;
						margin-left: 6rpx;
					}

					image {
						width: 16rpx;
						margin-left: 10rpx;
						margin-bottom: 5rpx;
					}
				}
			}
		}

		.status_bar {
			height: var(--status-bar-height);
			background: #0e689b;
		}

		.null {
			width: 100%;
			height: calc(var(--status-bar-height) + 100rpx);
		}

		.top_header {
			width: 100%;
			overflow: hidden;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 99999;
		}

		.header {
			overflow: hidden;
			display: flex;
			align-items: center;
			height: 100rpx;
			background: #0e689b;
			position: relative;
			justify-content: center;
			padding-left: 30rpx;

			.left {
				width: 20rpx;
				position: absolute;
				left: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}

			.icon {
				width: 32rpx;
				position: absolute;
				right: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}

			text {
				font-size: 36rpx;
				color: #fff;
			}

			.search {
				width: 636rpx;
				overflow: hidden;
				margin-left: 27rpx;
			}
		}

	}

	page {
		background-color: #f6f7f8;
	}
</style>
