<template>
	<view class="content">
		<view class="top_header">
			<view class="status_bar"></view>
			<view class="header">
				<image src="../../static/fahuo_03.png" mode="widthFix" class="left" @click="click1"></image>
				<text class="tit">资金管理</text>
				<image src="https://nbghmy.com/static/sk_03.jpg" mode="widthFix" class="icon"></image>
			</view>
		</view>
		<view class="null"></view>
		<view class="userbox">
			<view class="top">
				<view class="fl">
					<text class="f">总金额(元）</text>
					<text class="ff">{{ userInfo.money | price(2) }}</text>
				</view>
				<view class="fr"  @click="navTo('/pages/bank/bank' )">
					<text>提现</text>
					<image src="../../static/myzj_03.jpg" mode="widthFix"></image>
				</view>
			</view>
			<view class="link">
				<view class="item">
					<text class="f">可提现余额(元）</text>
					<text class="ff">{{ userInfo.money | price(2) }}</text>
				</view>
				<view class="item">
					<text class="f">待转可提现余额(元）</text>
					<text class="ff">{{ userInfo.money | price(2) }}</text>
				</view>
			</view>
		</view>
		<view class="icon_grow">
			<!-- <view  @click="navTo('/pages/shoukuan/shoukuan' )">
				<image src="../../static/myzj_182.jpg" mode="widthFix"></image>
				<text>收款码</text>
			</view> -->
			<view>
				<image src="https://nbghmy.com/myzj_183.jpg" mode="widthFix" @click="navTo('/pages/bank/bank' )"></image>
				<text>银行卡</text>
			</view>
			<view>
				<image src="https://nbghmy.com/static/myzj_181.jpg" mode="widthFix" @click="navTo('/pages/mingxi/mingxi' )"></image>
				<text>账单明细</text>
			</view>
		</view>
		
		<view class="main_list_box">
			<view class="head">
				<view class="t">
					<view></view>
					<text>账单明细</text>
				</view>
			</view>
			<view class="main_info">
				
				<view class="date">
					<picker mode="date" :value="date" :start="startDate" :end="endDate" @change="bindDateChange">
						<view class="uni-input">{{date}}</view>
					</picker>
					<image src="../../static/myzj_18.jpg" mode="widthFix"></image>
				</view>
				
				<!-- <text class="fr">{{item.name == '提现'?'提现':'收入'}} ￥17,585.80</text> -->
			</view>
			<view class="list">
				<mescroll-body
				ref="mescrollRef" 
				@init="mescrollInit" 
				:top="headerHeight" 
				@down="downCallback" 
				:up="upOption" 
				@up="loadList" 
					>
				
				<view class="item" v-for="(items, indexs) in list" >
					
					<view>
						<text class="name">{{items.title}}</text>
						<text class="date">{{ items.add_time | date('y-m-d') }}</text>
					</view>
					<view>
						<text class="price" :class=" (items.money > 0)?'on':''"  v-if="items.money > 0">+{{ items.money | price }}</text>
						<text class="price"  v-if="items.money < 0">{{ items.money | price }}</text>
						<text class="des" v-if="items.money > 0">收款成功</text>
						<text class="des" v-if="items.money < 0">支付成功</text>
					</view>
				</view>
				</mescroll-body>
			</view>
		</view>
	</view>
</template>

<script>
	import {mapState} from 'vuex'
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		components: {
			MescrollBody,
			 
		},
		mixins: [MescrollMixin],
		data() {
			const currentDate = this.getDate({
				format: true
			})
			return {
				list:[],
				upOption:{
					auto: false, // 不自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 15 // 每页数据的数量
					},
					noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				date: currentDate,
			}
		},
		computed: {
			...mapState(['openExamine', 'userInfo']),
			
			orderCount(){
				return this.$store.state.orderCount;
			},
			statusBarHeight(){
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight(){
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight(){
				return 0;
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight) + 0;
			},
			startDate() {
				return this.getDate('start');
			},
			endDate() {
				return this.getDate('end');
			}
		},	
		onLoad() {
             
		},
		methods: {
			bindDateChange: function(e) {
				
				this.date = e.target.value
				this.refreshList();
				
			},
			getDate(type) {
				console.log( 'getDate(type) ', type)
				const date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();
			
				if (type === 'start') {
					year = year - 60;
				} else if (type === 'end') {
					year = year + 2;
				}
				month = month > 9 ? month : '0' + month;
				day = day > 9 ? day : '0' + day;
				return `${year}-${month}-${day}`;
			},
			downCallback(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
			mescrollInit(mescroll){
				
				this.mescroll = mescroll;
				setTimeout(()=>{
					this.refreshList();
				}, 10)
			},
			refreshList(){
				this.list = [] ; 
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},
			
			async loadList(e){
				const res = await this.$request('payment', 'getMoneyLog', {
					offset: (e.num - 1) * e.size,
					limit: e.size,
				});
				const curList = res.data;
				if(e.num === 1){
					this.list = [];
				}
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},
			
                click1(){
                	uni.navigateBack({
                		url:"../gerenzhongxin/gerenzhongxin"
                	})
                }, 
		}
	}
</script>

<style lang="scss">
	.content{
		overflow: hidden;
		width: 100%;
		.userbox{
			overflow: hidden;
			background-color: #0e689b;
			.link{
				overflow: hidden;
				width: 100%;
				display: flex;
				align-items: center;
				border-top: 2rpx solid #3681ae;
				height: 142rpx;
				.item{
					width: 50%;
					overflow: hidden;
					padding-top: 28rpx;
					padding-left: 30rpx;
					height: 100%;
					&:first-child{
						border-right: 2rpx solid #3681ae;
					}
					.f{
						display: block;
						line-height: 1;
						font-size: 28rpx;
						margin-bottom: 25rpx;
						color: #bcdbed;
					}
					.ff{
						display: block;
						line-height: 1;
						font-size: 30rpx;
						color: #fff;
					}
				}
			}
			.top{
				overflow: hidden;
				height: 175rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;
				.fl{
					overflow: hidden;
					.f{
						display: block;
						font-size: 30rpx;
						line-height: 1;
						margin-bottom: 28rpx;
						color: #bcdbed;
					}
					.ff{
						display: block;
						font-size: 56rpx;
						line-height: 1;
						color: #ffff;
					}
				}
				.fr{
					overflow: hidden;
					display: flex;
					align-items: center;
					image{
						width: 13rpx;
						margin-left: 21rpx;
					}
					text{
						letter-spacing: 4rpx;
						font-size: 32rpx;
						color: #fff;
					}
				}
			}
		}
		.icon_grow{
			overflow: hidden;
			width: 100%;
			height: 160rpx;
			background: #fff;
			display: flex;
			align-items: center;
			view{
				width: 33.33%;
				overflow: hidden;
				image{
					width: 64rpx;
					display: block;
					margin: 0 auto;
					margin-bottom: 18rpx;
				}
				text{
					display: block;
					font-size: 28rpx;
					color: #2a3243;
					line-height: 1;
					text-align: center;
				}
			}
		}
		.main_list_box{
			overflow: hidden;
			width: 100%;
			margin-top: 20rpx;
			background: #fff;
			.list{
				overflow: hidden;
				padding: 0 30rpx;
				.item{
					overflow: hidden;
					border-bottom: 1px solid #eff0f2;
					padding: 30rpx 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					view{
						overflow: hidden;
						.name{
							display: block;
							font-size: 30rpx;
							color: #2a3243;
							line-height: 1;
							margin-bottom: 28rpx;
						}
						.date{
							display: block;
							font-size: 26rpx;
							color: #989da6;
							line-height: 1;
						}
						.price{
							display: block;
							font-size: 32rpx;
							font-weight: bold;
							color: #04c27b;
							line-height: 1;
							margin-bottom: 28rpx;
							text-align: right;
							&.on{
								color: #f55050;
							}
						}
						.des{
							display: block;
							font-size: 24rpx;
							color: #989da6;
							line-height: 1;
							text-align: right;
						}
					}
				}
			}
			.head{
				overflow: hidden;
				padding: 38rpx 0 20rpx 30rpx;
				border-bottom: 1px solid #eff0f2;
				.t{
					display: flex;
					align-items: center;
					view{
						width: 6rpx;
						height: 26rpx;
						background: #597bdc;
					}
					text{
						font-size: 30rpx;
						color: #636976;
						margin-left: 13rpx;
					}
				}
				.price{
					overflow: hidden;
					margin-top: 28rpx;
					display: flex;
					align-items: center;
					text{
						font-size: 26rpx;
						color: #2a3243;
						margin-right: 30rpx;
					}
				}
				// .moth{
				// 	margin-top: 35rpx;
				// 	overflow: hidden;
				// 	display: flex;
				// 	align-items: flex-end;
				// 	.f{
				// 		font-size: 48rpx;
				// 		color: #2a3243;
				// 		line-height: 1;
				// 		font-weight: bold;
				// 		display: block;
				// 	}
				// 	.ff{
				// 		font-size: 24rpx;
				// 		color: #2a3243;
				// 		margin-left: 6rpx;
				// 	}
				// 	image{
				// 		width: 16rpx;
				// 		margin-left: 10rpx;
				// 		margin-bottom: 5rpx;
				// 	}
				// }
				
			}
		}
		.main_info {
			width: 100%;
			height: 124rpx;
			background-color: #f6f7f8;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
		
			.date {
				display: inline-flex;
				align-items: center;
				height: 64rpx;
				background: #fff;
				border-radius: 40rpx;
				padding: 0 25rpx;
		
				text {
					font-size: 28rpx;
					color: #2a3243;
				}
		
				.uni-input {
					font-size: 28rpx;
					color: #2a3243;
					height: 64rpx;
					display: flex;
					align-items: center;
				}
		
				image {
					width: 16rpx;
					margin-left: 17rpx;
				}
			}
		
			.fr {
				font-size: 30rpx;
				color: #2a3243;
			}
		}
		.status_bar {
			height: var(--status-bar-height);
			background: #0e689b;
		}
		.null{
			width: 100%;
			height: calc(var(--status-bar-height) + 100rpx);
		}
		.top_header{
			width: 100%;
			overflow: hidden;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 99999;
		}
		.header {
			overflow: hidden;
			display: flex;
			align-items: center;
			height: 100rpx;
			background: #0e689b;
			position: relative;
			justify-content: center;
			padding-left: 30rpx;
		
			.left {
				width: 20rpx;
				position: absolute;
				left: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}
			.icon{
				width: 32rpx;
				position: absolute;
				right: 30rpx;
				top: 50%;
				transform: translateY(-50%);
			}
			text{
				font-size: 36rpx;
				color: #fff;
			}
			.search {
				width: 636rpx;
				overflow: hidden;
				margin-left: 27rpx;
			}
		}
		
	}
	page{
		background-color: #f6f7f8;
	}
</style>
