<template>
	<view class="content">
		
		<view class="list"> 
			<view v-for="(item, index) in cate_list" :key="index" class="list"  @click="changeCategory(item._id)"> 
			
				<view class="item" >
					
					<image :src="item.image" mode="widthFix"  ></image>
					<text >{{item.name}}</text>
					
				</view>
				
			</view>
			</view>
		
        <mescroll-body
			ref="mescrollRef" 
			@init="mescrollInit" 
			:top="headerHeight" 
		    @down="downCallback" 
			:up="upOption" 
			@up="loadList" 
		>
			<quotation1list ref="productList" :list="list" :listType="listType">
				
			</quotation1list>
		</mescroll-body>
	<mix-loading v-if="isLoading"></mix-loading>
	</view>
</template>

<script>
	import quotation1list from './components/quotation1-list'
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		components: {
			MescrollBody,
			 quotation1list
		},
		mixins: [MescrollMixin],
		data() {
				
			 
				return {
				    pinlei: ['请选择货品品类',],
				    index: 0,
				    pinlei_id:[],
			    	sourcePage: '', //来源页 主要用来判断是否来自搜索页
					listType: 'row', //列表类型 column竖向列表 row 横向列表
					isHot: 0,//热门推荐
					keyword: '',
					cate_list:[] , 
					cateList: [], //分类列表
					curCateItem: {}, //当前分类
					list: [], //商品列表
					ltem:[],
					upOption:{
						auto: false, // 不自动加载
						page: {
						 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
						 	size: 10 // 每页数据的数量
						},
						noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
					},
				}
			},
			computed: {
				statusBarHeight(){
					return this.systemInfo.statusBarHeight
				},
				navigationBarHeight(){
					return this.systemInfo.navigationBarHeight;
				},
				headerHeight(){
					return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight)  -70;
				},
			},
		
			onReady() {
				this.calcCateRect();
				
			},
			onLoad() {
				
				// 查询品类分类
				 this.loadPinlei('18ed09686194740b05b5c8242e1b8d73');
				
				
			},
			methods: {
				
				
				
				//加载分类列表
				async loadPinlei( parent_id ){
					const data = {
						parent_id :parent_id
					}
					const res = await this.$request('releasecategory', 'get1', data, {
						showLoading: !this.loaded
					});
					
					this.cate_list = res ; 
					this.cate_list.forEach( (item,index)=> {
						if(index==0){
							
							this.childrenList  =   this.changeCategory(item._id) ;
							console.log(item._id + '  this.childrenList ' , JSON.stringify(this.childrenList )) 
						}
					})
					return res;
					console.log('1111111111',JSON.stringify(res))
				
				},
				
				
				
				//加载产品列表
				
				async loadList(e){
					
					 
					const {sortList, curCateItem, keyword} = this;
					
					const data = { 
						offset: (e.num - 1) * e.size,
						limit: e.size,
					}
					if(e.cate_id) {
						data.cate_id = e.cate_id
					}
					 
					
					this.$refs.productList.loadType = e.num === 1 ? 'refresh' : 'add';
					
					const res = await this.$request('quotation', 'getquoList', data);
					
						console.log('loadList' , JSON.stringify(res)) ; 
					const curList = res.data;
					if(e.num === 1){
						//第一页清空数据重载
						this.list = [];
						this.loaded && curList.forEach(item=> {item.loaded = true;})
						if(curList.length > 0){
							uni.pageScrollTo({
								scrollTop: 0,
								duration: 200
							})
						}
					
					} 
					this.list = this.list.concat(curList); //追加新数据
					this.mescroll.endSuccess(curList.length); //结束加载状态
				},
				
				mescrollInit(mescroll){
					this.mescroll = mescroll;
					setTimeout(()=>{
						this.refreshList();
					}, 10)
				},
				//刷新列表
				refreshList(){ 
					this.mescroll.resetUpScroll(false)
					this.isLoading = true;
				},
				//分类默认 处理分类滚动
				calcCateRect(){
					const tasks = [];
					this.cateList.forEach(async item=> {
						tasks.push(new Promise(resolve => {
							uni.createSelectorQuery().select(`#cate-${item._id}`).boundingClientRect(data => {
								item.left = data.left - (uni.upx2px(375) - data.width/2);
								resolve();
							}).exec()
						}))
					})
					Promise.all(tasks).then(()=>{
						let cur = this.cateList.filter(item=> item._id === this.curCateItem._id);
						if(cur.length > 0){
							this.curCateItem = cur[0];
						}
					})
				},
		
				//排序
				changeSort(item){
					if(item.current){
						if(item.isPrice){
							item.type = item.type === 3 ? 4 : 3;
						}else{
							return;
						}
					}else{
						this.sortList.forEach(v=> v.current = false);
						item.current = true;
						if(item.type === 3 || item.type === 4){
							item.type = 3;
						}
					}
					this.refreshList();
				},
				
				
				changeCategory(cate_id){
					console.log('changeCategory' , cate_id) ; 
					const data = {
						cate_id: cate_id, 
						num: 1,//this.upOption.page.num, 
						size: this.upOption.page.size,	
						 
					}
					 
					this.loadList(data);
					},
			
		
			}
		}
</script>

<style lang="scss">
	.table{
		width: 100%;
		padding-bottom: 20rpx;
		.tr{
			width: 100%;
			display: flex;
			align-items: center;
			.td{
				height: 85rpx;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 28rpx;
				font-weight: 500;
				color: #333333;
				text{
					font-weight: bold;
					font-size: 28rpx;
					color: #50aa58;
					&.on{
						color: #f55050;
					}
				}
				image{
					width: 9rpx;
					height: 15rpx;
					margin-left: 15rpx;
				}
				
			}
			.th{
				height: 60rpx;
				background-color: #f9f9f9;
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 24rpx;
				color: #9c9c9c;
			}
		}
	}
	.content {
		overflow: hidden;
		width: 100%;
		.list{
			overflow: hidden;
			padding: 30rpx 30rpx 10rpx 30rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.item{
				width: 150rpx;
				height: 150;
				border-radius: 20rpx;
				padding-top: 26rpx;
				margin-bottom: 30rpx;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
				image{
					display: block;
					width: 100%;
					height: 100%;
					margin-bottom: 15rpx;
				}
				text{
					display: block;
					font-size: 15rpx;
					color: #333333;
					line-height: 1;
					text-align: center;
				}
			}
		}
	}
</style>