<template> 
	<view class="content">
		<!-- <view>
			<u-tabs-swiper ref="uTabs" :bold='false' bg-color='#fff' font-size='30' :list="tabs"
				inactive-color='#333333' active-color='#0e689b' height="78" :current="current" @change="tabsChange"
				:is-scroll="false" swiperWidth="750"></u-tabs-swiper>
		</view> -->
		<view class="nav-wrap">
			<mix-nav-bar 
			:navs="naves" 
			:counts="navCounts" 
			:current="navCurrent" 
			@onChange="onNavBarChange"></mix-nav-bar>
		</view>
		<view style="height: 78rpx;"></view>
		
		<!-- <swiper :current="swiperCurrent" :style="'height:' + scrollHeight + 'px'" @transition="transition"
			@animationfinish="animationfinish"> -->
			
			
				
				<mescroll-body
						ref="mescrollRef" 
						@init="mescrollInit" 
						:top="headerHeight" 
					    @down="downCallback" 
						:up="upOption" 
						@up="loadList" 
					>
						<quotation1list ref="productList" :list="list" :listType="listType">
							
						</quotation1list>
					</mescroll-body>
					
				<mix-loading v-if="isLoading"></mix-loading>
			
 
		
		
	</view>
</template>

<script>
	import quotation1list from './components/xuqiu1-list'
	import MescrollBody from "@/components/mescroll-uni/mescroll-body.vue"
	import MescrollMixin from "@/components/mescroll-uni/mescroll-mixins.js";
	export default {
		components: {
			MescrollBody,
			 quotation1list
		},
		mixins: [MescrollMixin],
		data() {
			return {
				navCounts: [], //订单数量
				naves: [{name: '预购'},{name: '预售'}, {name: '我的'}],
				navCurrent: 0, //当前tab
				tabs: [{
					name: '全部'
				}, {
					name: '我的'
				}],
				current: 0,
				swiperCurrent: 0,
				scrollHeight: '',
				phoneHeight: '',
				pinlei: ['请选择货品品类',],
				
				pinlei_id:[],
				sourcePage: '', //来源页 主要用来判断是否来自搜索页
				listType: 'row', //列表类型 column竖向列表 row 横向列表
				isHot: 0,//热门推荐
				keyword: '',
				cateList: [], //分类列表
				curCateItem: {}, //当前分类
				list: [], //商品列表
				ltem:[],
				ismyself:0 ,
				upOption:{
					chauid: 0 , 
					auto: false, // 不自动加载
					page: {
					 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
					 	size: 10 // 每页数据的数量
					},
					noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				},
				
			}
		},
		watch: {
			orderCount(){
				this.navCounts = [0].concat(Object.values(this.orderCount));
			}
		},
		onLoad(options) {
			this.navCurrent = +options.current;
			
		},
		onShow(){
			if(this.loaded){
				this.refreshList(false);
			}
		},
		computed: {
			
			
			statusBarHeight(){
				return this.systemInfo.statusBarHeight
			},
			navigationBarHeight(){
				return this.systemInfo.navigationBarHeight;
			},
			headerHeight(){
				return 750 / uni.upx2px(750) * (this.navigationBarHeight + this.statusBarHeight)  -70;
			},
		},
		onReady() {
			let that = this
			// 获取屏幕高度
			uni.getSystemInfo({
				success(res) {
					that.phoneHeight = res.windowHeight
					that.scrollHeight = that.phoneHeight - 44
				}
			});
			
		},
		methods: {
			
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				
				if(current==2){
					this.upOption.chauid = 1
				}
				
				this.refreshList();
			},
			
			
			
			async loadList(e) {
               

				const {
					sortList,
					curCateItem,
					keyword
				} = this;

				const data = {
					offset: (e.num - 1) * e.size,
					limit: e.size,
				}
				if (e.cate_id) {
					data.cate_id = e.cate_id
				}
				 
				if(this.navCurrent==2){
					data.chauid = 1
					if(!this.$util.isLogin()){
						return;
					}
				}
				
				
				
				data.navCurrent = this.navCurrent
				 
				this.$refs.productList.loadType = e.num === 1 ? 'refresh' : 'add';

				const res  = await this.$request('demand', 'getList', data);
                this.ismyself =  res.ismyself
				
				console.log('s',res)
				const curList = res.data;
				 
				curList.forEach((item, index) => {
					 item.ismyself = res.ismyself 
				})	
			
				if (e.num === 1) {
					//第一页清空数据重载
					this.list = [];
					this.loaded && curList.forEach(item => {
						item.loaded = true;
						
					}
					
					)
					if (curList.length > 0) {
						uni.pageScrollTo({
							scrollTop: 0,
							duration: 200
						})
					}

				}
				this.list = this.list.concat(curList); //追加新数据
				this.mescroll.endSuccess(curList.length); //结束加载状态
			},

			
			//分类默认 处理分类滚动
			

			//排序
			changeSort(item) {
				if (item.current) {
					if (item.isPrice) {
						item.type = item.type === 3 ? 4 : 3;
					} else {
						return;
					}
				} else {
					this.sortList.forEach(v => v.current = false);
					item.current = true;
					if (item.type === 3 || item.type === 4) {
						item.type = 3;
					}
				}
				this.refreshList();
			},


		
			mescrollInit(mescroll) {
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
	
			
			 
			
			refreshList() {
				this.mescroll.resetUpScroll(false)
				this.isLoading = true;
			},

			// tabsChange(index) {
				
			// 	this.swiperCurrent = index;
			// },
			// transition(e) {
			// 	let dx = e.detail.dx;
			// 	this.$refs.uTabs.setDx(dx);
			// },
			// animationfinish(e) {
			// 	let current = e.detail.current;
			// 	this.$refs.uTabs.setFinishCurrent(current);
			// 	this.swiperCurrent = current;
			// 	this.current = current;
			// },
			onreachBottom() {

			},
			downCallback(mescroll) {
				this.mescroll = mescroll;
				setTimeout(() => {
					this.refreshList();
				}, 10)
			},
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;

		.swiper-item {
			width: 100%;
			height: 100%;
		}

		scroll-view {
			width: 100%;
			height: 100%;
		}

		.main_item {
			width: 100%;
			overflow: hidden;
			background-color: #fff;

			.title {
				display: flex;
				align-items: center;
				font-size: 32rpx;
				color: #2a3243;
				height: 90rpx;
				font-weight: bold;
				padding-left: 30rpx;
			}

			.table {
				width: 100%;

				.tr {
					width: 100%;
					display: flex;
					align-items: center;

					&:nth-child(odd) {
						background-color: #f9f9f9;
					}

					.th {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 25%;
						font-size: 24rpx;
						height: 88rpx;
						color: #9c9c9c;
					}

					.td {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 25%;
						font-size: 28rpx;
						height: 88rpx;
						color: #2a3243;

						image {
							width: 32rpx;
							margin: 0 12rpx;
						}
					}
				}
			}
		}
	}

	page {
		background: #f6f7f8;
	}
</style>
