<template>
	<view class="content">
		<view class="tong_icon">
			<image src="../../static/leftbtn_03.png" mode="widthFix" @click="slink('/pages/gerenzhongxin/gerenzhongxin')"></image>
			<text>企业认证</text>
		</view>
		<view class="main_header">
			<view class="box">
				
				<view class="item on">
					<view></view>
					<text>企业认证</text>
				</view>
				<view class="item">
					<view></view>
					<text>提交审核</text>
				</view>
			</view>
		</view>
		
		
		
		
		<view class="updata">
			<text class="title">请拍摄并上传你的营业执照</text>
			
			<view class="box">   
				<image :src="data.companyavatar || 'https://nbghmy.com/static/renzhegn1_03.jpg'" mode="widthFix" @click="chooseImage('companyavatar')"></image>
				<image src="https://nbghmy.com/static/renzhegn1_05.jpg" mode="widthFix"  ></image>
			</view>
		</view>
		
		
		
		<view class="main_yaoqiu">
			<text class="title">拍摄营业执照要求：</text>
			<text class="des">营业执照信息要求；</text>
			<text class="des">拍摄时确保营业执照<text>边框完整，字体清晰，亮度均匀；</text></text>
			<view class="box">
				<view class="item">
					<image src="https://nbghmy.com/static/id_17.jpg" mode="widthFix"></image>
					<text>标准</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_19.jpg" mode="widthFix"></image>
					<text>边框缺失</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_21.jpg" mode="widthFix"></image>
					<text>边框模糊</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_23.jpg" mode="widthFix"></image>
					<text>闪光强烈</text>
				</view>
			</view>
		</view>
		
		
		
		<view class="main_name">
			<text class="title">请确认你的营业执照信息</text>
			
			
		<view class="label">
			<text class="name">营业执照名称</text>
			<view class="changes">
				<input type="text" value="" placeholder="请填写营业执照名称" v-model="data.companyname" placeholder-class="s" />
			</view>
		</view>	
			
			

	<view class="label">
		<text class="name">法定代表人</text>
		<view class="changes">
			<input type="text" value="" placeholder="请填写法定代表人姓名" v-model="data.representative" placeholder-class="s" />
		</view>
	</view>			
			
			

		<view class="label">
			<text class="name">统一社会信用代码</text>
			<view class="changes">
				<input type="text" value="" placeholder="请填写统一社会信用代码" v-model="data.code" placeholder-class="s" />
			</view>
		</view>		
			
		</view>
		<mix-button  class="button" ref="confirmBtn" text="提交审核" marginTop="60rpx" @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	export default {
		data() {
			return { 
                    data:{
						companyavatar :'' , 
						
					},
					 
					 
			}  
		},
		onLoad() {
			this.get_user_renzhen();
			
			
			

		},
		computed: {
			// curData(){
			// 	return this.$store.state.data
			// }
		},
		watch: {
			curData(curData){
				const {companyavatar, companyavatar1,name, discount, representative,code} = data;
				this.data = {companyavatar,companyavatar1, name, discount, representative,code : !!anonymous};
			}
		},
		methods: {
			async get_user_renzhen(){
				const res = await this.$request('renzheng1', 'get', {}, {
					showLoading: !this.loaded
				});
				console.log('res.data[0]' , JSON.stringify(res.data[0]));
				if(res.data.length>0){
					this.data = res.data[0] ;
				}
				
				console.log('146' + JSON.stringify( this.data  ))
			},
			
			slink(url){
				uni.switchTab ({
					url: url
				})
			},
			

			async submit() {
			
				console.log('1111')
				const {uploadProgress, curData} = this.data;
				let isUpdate = false;
				for(let key in curData){
					if(curData[key] !== curData[key]){
						isUpdate = true;
						break;
					}
				}
				   
				const data = this.data;
				console.log(JSON.stringify(this.data))
				if (!data.companyname) {
					this.$util.msg('请输入货品名称');
					this.$refs.confirmBtn.stop();
					return;
				}

				if(!data.companyavatar){
					this.$util.msg('请上传照片');
					this.$refs.confirmBtn.stop();
					return;
				}
				
				
                const operation = this.data._id ? 'update' : 'add';
                console.log(JSON.stringify(data)) 
                console.log( 'operation ' + operation );
                data.status = 0  ; // 默认审核不通过
				data._id = this.data._id ;
				
				console.log(JSON.stringify( data )) ;
				
                const res = await this.$request('renzheng1', operation, data);
                 
                this.$util.msg(res.msg);
                if(res.status === 1){
                  	//this.$util.prePage().loadData();
                 
                	data.uid = res.uid ; 
                	// 提示后跳转页面
                	setTimeout(()=>{
                		uni.navigateBack({
                					
                			url: `/pages/gerenzhongxin/gerenzhongxin` , //要跳转的页面
                             
                		})
                	},2000);
                	
                }


			},

			bindPickerChange: function(e) {
				this.index = e.target.value
				this.data.category = e.target.value
				console.log('1111')
			},

			bindPickerChange1: function(e) {
				this.index1 = e.target.value
				this.data.specifications = e.target.value
			},

			changeStock(stock) {

				this.$set(this.data, 'stock', stock)

			},

			changeDiscount(discount){
				
				this.$set(this.data, 'discount', discount)
			},
			changeGuarantee(guarantee){
			
				this.$set(this.data, 'guarantee', guarantee)
			},
			chooseImage(photo){
				uni.chooseImage({
					count: 1,
					sizeType:"compressed",
					success: res=> {
						uni.navigateTo({
							url: `/pages/set/cutImage/cut?photo=${photo}&src=${res.tempFilePaths[0]}` 
						});
					}
				});
			},
			//裁剪回调
			async setAvatar(filePath,field){
				this.tempAvatar = filePath;
				this.uploadProgress = 0;
				const result = await uniCloud.uploadFile({
					filePath: filePath,
					cloudPath: + new Date() + ('000000' + Math.floor(Math.random() * 999999)).slice(-6) + '.jpg',
					onUploadProgress: e=> {
						this.uploadProgress = Math.round(
							(e.loaded * 100) / e.total
						);
					}
				});
				if(!result.fileID){
					this.$util.msg('头像上传失败');
					return;
				}
				if(typeof uniCloud.getTempFileURL === 'undefined'){
					this.$set(this.data, field, result.fileID)
					//this.data.companyavatar = result.fileID;
				}else{
					const tempFiles = await uniCloud.getTempFileURL({
						fileList: [result.fileID]
					})
					const tempFile = tempFiles.fileList[0];
					if(tempFile.download_url || tempFile.fileID){
	
						this.$set(this.data, field, tempFile.download_url || tempFile.fileID)
					}else{
						this.$util.msg('头像上传失败');
					}
				}
				console.log( '297' + JSON.stringify(this.data) )
				//this.$set(this.data, 'companyavatar', this.data.companyavatar)
			},
			//公开信息
			onSwitch(e){
				this.data.transaction = !e.detail.value;
				//this.data.transaction = e.target.value
				console.log(e.detail.value)
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: #f7f8fa;
	}

	.content {
		overflow: hidden;
		width: 100%;
		padding-bottom: 70rpx;

		.main_header {
			width: 100%;
			height: 320rpx;
			background-color: #0e689b;
			padding-top: 187rpx;

			.box {
				width: 100%;
				display: flex;

				.item {
					width: 100%;
					position: relative;

					&::after {
						content: '';
						width: 216rpx;
						height: 4rpx;
						background: #fff;
						position: absolute;
						right: -108rpx;
						top: 21rpx;
						opacity: 0.6;
					}

					&:last-child::after {
						display: none;
					}

					&.on::after {
						opacity: 1;
					}

					&.on text {
						opacity: 1;
					}

					&.on view {
						background-image: url(/static/id_03.png);
						background-size: 43rpx;
					}

					view {
						width: 43rpx;
						height: 43rpx;
						display: block;
						margin: 0 auto;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: url(/static/id_06.png);
						background-size: 14rpx;
						margin-bottom: 34rpx;
					}

					text {
						display: block;
						font-size: 24rpx;
						text-align: center;
						opacity: 0.6;
						line-height: 1;
						color: #fff;
					}
				}
			}
		}

		.updata {
			overflow: hidden;
			width: 100%;
			background: #fff;
			padding: 0 30rpx;
			padding-bottom: 30rpx;
			.box{
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;
				image{
					width: 324rpx;
				}
			}
			.title {
				display: flex;
				align-items: center;
				height: 90rpx;
				font-size: 30rpx;
				color: #989da6;
			}

			.label {
				overflow: hidden;
				width: 100%;
				margin-bottom: 17rpx;
				background: #f5f6f9;
				padding: 20rpx 32rpx 20rpx 30rpx;
				border-radius: 10rpx;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				.font {
					overflow: hidden;
					padding-top: 55rpx;

					.f {
						display: block;
						font-size: 36rpx;
						line-height: 1;
						font-weight: bold;
						margin-bottom: 22rpx;
						color: #2a3243;
					}

					.ff {
						display: block;
						font-size: 24rpx;
						line-height: 1;
						color: #2a3243;
					}
				}

				.pic {
					width: 386rpx;
				}
			}
		}

		.main_yaoqiu {
			overflow: hidden;
			margin-top: 20rpx;
			background: #fff;
			padding: 40rpx 30rpx 46rpx 30rpx;

			.title {
				display: block;
				font-size: 30rpx;
				color: #989da6;
				line-height: 1;
				margin-bottom: 26rpx;
			}

			.des {
				display: block;
				font-size: 24rpx;
				color: #2a3243;
				line-height: 40rpx;

				text {
					color: #f55050;
				}
			}

			.box {
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.item {
					overflow: hidden;
					width: 160rpx;
					margin-top: 50rpx;

					image {
						width: 100%;
					}

					text {
						display: block;
						font-size: 24rpx;
						color: #989da6;
						text-align: center;
					}
				}
			}
		}

		.main_name {
			overflow: hidden;
			width: 100%;
			margin-top: 20rpx;

			.title {
				display: block;
				font-size: 30rpx;
				color: #989da6;
				background-color: #fff;
				line-height: 90rpx;
				padding-left: 30rpx;
				box-sizing: border-box;
				border-bottom: 1px solid #f7f8fa;
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 90rpx;
				background-color: #fff;
				margin-bottom: 20rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;

				.fl {
					font-size: 30rpx;
					color: #2a3243;
				}

				.fr {
					font-size: 30rpx;
					color: #666666;
				}
			}
		}

		.button {
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #0e689b;
			font-size: 34rpx;
			border-radius: 10rpx;
			width: 690rpx;
			height: 90rpx;
			color: #fff;
			margin: 0 auto;
			margin-top: 85rpx;
		}
	}
</style>
