<template>
	<view class="content">
		<view>
			
			
				<mix-nav-bar 
				:navs="navs" 
				:counts="navCounts"  
				:current="navCurrent" 
				@onChange="onNavBarChange"></mix-nav-bar>
			
				<view style="height: 50rpx;"></view>
		</view>
		
		<view class="main_item">
			<text class="title">基本信息</text>


			<view class="label">
				<text class="font">商品名称</text>
				<input type="text" value="" v-model="data.name" placeholder="请填写商品名称" placeholder-class="s" />
			</view>




			<view class="label" v-if="navCurrent != 1">
				<text class="font">预购数量</text>
				<input type="text" value="" placeholder="请填写需求数量" v-model="data.quantity" placeholder-class="s" />

			</view>
			
			<view class="label" v-if="navCurrent != 0">
				<text class="font">预售数量</text>
				<input type="text" value="" placeholder="请填写需求数量" v-model="data.quantity" placeholder-class="s" />
			
			</view>

			<view class="label">
				<text class="font">心理价位</text>
				<input type="text" value="" placeholder="请填写心理价位" v-model="data.price" placeholder-class="s" />

			</view>



		</view>



		<view class="main_item">

			<text class="title">其他信息</text>

			<view class="label">
				<text class="font">联系人电话</text>
				<input type="text" value="" placeholder="请填写联系人电话" v-model="data.phone" placeholder-class="s" />

			</view>

			<view class="labels">
				<text class="font">需求描述:</text>
				<textarea v-model="data.describe" value="" placeholder-class="s"
					placeholder="如：货品特色、供应量或包装及杂费情况等，更详细、准确的描述能吸引更多的采购商" />
			</view>

			<view class="main_item">
				<text class="title">商品样图</text>
				<text class="des">上传真实的图片（最多6张）有图的需求排名会靠前</text>
				<view class="updatabox">
					<u-upload ref="uUpload" action="" max-count="6" :file-list="imgList" :auto-upload="false"
						uploadText="上传图片" width="400" height="166" :maxSize="9999 * 9999" :show-progress="false"
						:size-type="['compressed']" :source-type="['album', 'camera']" :multiple="true" del-icon="close"
						del-bg-color="#ff7c7c" del-color="#FFFFFF" :limitType="['png', 'jpg', 'jpeg']"></u-upload>

				</view>
			</view>


		</view>




		<mix-button class="button" ref="confirmBtn" text="确认发布" marginTop="60rpx" @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	import {
		checkStr
	} from '@/common/js/util'
	export default {
		data() {
			return {
				navCurrent: 0, //当前tab
				navCounts: [],
				current: 0,
				navs: [{name: '预购'}, {name: '预售'}],
				imgList: [],
				show: false,
				action: '',
				data: {
					transaction: true,
					images: [],
					classification:0
				},

				chandi_id: [],
				uploadProgress: 100, //头像上传进度
				tempAvatar: '',
				discount: 0,
				show: false,

			}
		},
		computed: {
			curData() {
				return this.$store.state.data
			}
		},
		watch: {
			curData(curData) {
				const {
					avatar,
					name,
					discount,
					anonymous,
				} = data;
				this.data = {
					avatar,
					name,
					discount,
					anonymous: !!anonymous
				};
			}
		},
		onLoad(e) {
                   if (e.id) {
                   	this.id = e.id ;
                   	this.loadDetail()
                   };
				   if(e.classification){
					  this.navCurrent   = Number( e.classification )
				   }
		},

		methods: {
			onNavBarChange(current){
				if(this.navCurrent === current){
					return;
				}
				this.navCurrent = current;
				
			},
            async loadDetail(){
            	const res = await this.$request('demand', 'getDetail', {
            		id: this.id
            	})
            	if(res.status === 0){
            		this.$util.msg(res.msg || '产品不存在或已下架');
            		setTimeout(()=>{
            			uni.navigateBack();
            		}, 1000)
            		return;
            	}
            	const data = res.data;
            	
            	data.quantity = parseFloat (data.quantity)
            		
            	console.log('res.data',JSON.stringify(res.data))
            	// data.content = data.content.replace(/img src="/g, 'img style="display:block;width:100%;height:auto" src="');
               this.data = data;
            
            },


			async submit() {
			
				var that = this;
				var imgs = that.$refs.uUpload.lists;
			
				uni.showLoading({
					mask: true,
					title: '加载中...'
				});
			
				var imgPaths = [];
			
				for (var i = 0; i < imgs.length; i++) {
			
					var path = imgs[i].url;
					var extension = 'png'
					var random = String(Math.random() * 100000).split('.')[0]
					var now = new Date()
					var year = now.getFullYear()
					var cloudPath = 'wall' + '/' + year + '/' + 't_' + random + '.' + extension
			
					await uniCloud.uploadFile({
						filePath: path,
						cloudPath: cloudPath
					}).then(async res => {
						await uniCloud.getTempFileURL({
							fileList: [res.fileID]
						}).then(res => {
							if (res.fileList.length > 0) {
								imgPaths.push(res.fileList[0].tempFileURL)
							} else {
								that.$u.toast("图片上传失败");
								return;
							}
						});
					})
				}
			
				this.data.images = imgPaths // JSON.stringify(
				uni.hideLoading()
			  
				this.data.classification = this.navCurrent
				
				const {
					uploadProgress,
					curData,
					images,
					classification
				} = this.data;
				let isUpdate = false;
				for (let key in curData) {
					if (curData[key] !== curData[key]) {
						isUpdate = true;
						break;
					}
				}
			
				const data = this.data;
				console.log('classification',JSON.stringify(this.data))
				if (!data.name) {
					this.$util.msg('请输入货品名称');
					this.$refs.confirmBtn.stop();
					return;
				}
				if (!checkStr(data.mobile, 'mobile')) {
					// this.$util.msg('请输入您的手机号码');
					// this.$refs.confirmBtn.stop();
					// return;
				}
				if (data.images.length <= 0) {
					this.$util.msg('请上传照片');
					this.$refs.confirmBtn.stop();
					return;
				}
			
			
				const operation = data._id ? 'update' : 'add';
				console.log(JSON.stringify(data))
				console.log('123456789');
				data.status = 1; // 默认审核不通过
			
			   console.log('add_data', JSON.stringify(data )) 
			
				const res = await this.$request('demand', operation, data);
			
				this.$util.msg(res.msg);
				if (res.status === 1) {
					//this.$util.prePage().loadData();
					setTimeout(() => {
						uni.navigateBack();
					}, 1000)
				}
			
			},

			bindPickerChange: function(e) {
				this.index = e.target.value
				//this.data.category = e.target.value
				this.data.category = this.pinlei_id[e.target.value]

				console.log('1111')
			},

			bindPickerChange1: function(e) {
				this.index1 = e.target.value
				// this.data.specifications = e.target.value
				this.data.specifications = this.guige_id[e.target.value]
			},
			bindPickerChange2: function(e) {
				this.index2 = e.target.value
				// this.data.region = e.target.value
				this.data.region = this.chandi_id[e.target.value]
			},
			changeStock(stock) {

				this.$set(this.data, 'stock', stock)

			},

			changeDiscount(discount) {

				this.$set(this.data, 'discount', discount)
			},
			changeGuarantee(guarantee) {

				this.$set(this.data, 'guarantee', guarantee)
			},
			chooseImage() {
				uni.chooseImage({
					count: 1,
					sizeType: "compressed",
					success: res => {
						uni.navigateTo({
							url: `/pages/set/cutImage/cut?src=${res.tempFilePaths[0]}`
						});
					}
				});
			},

			//裁剪回调
			async setAvatar(filePath) {
				this.tempAvatar = filePath;
				this.uploadProgress = 0;
				const result = await uniCloud.uploadFile({
					filePath: filePath,
					cloudPath: +new Date() + ('000000' + Math.floor(Math.random() * 999999)).slice(-6) +
						'.jpg',
					onUploadProgress: e => {
						this.uploadProgress = Math.round(
							(e.loaded * 100) / e.total
						);
					}
				});
				if (!result.fileID) {
					this.$util.msg('头像上传失败');
					return;
				}
				if (typeof uniCloud.getTempFileURL === 'undefined') {
					this.data.avatar = result.fileID;
				} else {
					const tempFiles = await uniCloud.getTempFileURL({
						fileList: [result.fileID]
					})
					const tempFile = tempFiles.fileList[0];
					if (tempFile.download_url || tempFile.fileID) {
						this.data.avatar = tempFile.download_url || tempFile.fileID;
					} else {
						this.$util.msg('头像上传失败');
					}
				}
			},
			//公开信息
			onSwitch(e) {
				this.data.transaction = !e.detail.value;
				//this.data.transaction = e.target.value
				console.log(e.detail.value)
			},
			changeGender1(healthy) {
				//this.gender = gender 
				// console.log(gender)
				//this.data.gender = gender 
				this.$set(this.data, 'healthy', healthy)

			},
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 0 30rpx 30rpx 30rpx;

		.selects {
			overflow: hidden;
			display: flex;
			align-items: center;
			margin-top: 50rpx;

			.font {
				display: block;
				font-size: 30rpx;
				display: flex;
				align-items: center;
				width: 168rpx;
				color: #2a3243;
			}

			.grow {
				overflow: hidden;
				display: flex;
				align-items: center;

				view {
					display: inline-flex;
					align-items: center;
					height: 64rpx;
					font-size: 24rpx;
					color: #2a3243;
					padding: 0 30rpx;
					border-radius: 50rpx;
					margin-right: 24rpx;
					border: 1px solid #cccccc;

					&.on {
						background: #e3f2fb;
						border: 1px solid #e3f2fb;
						color: #0e689b;
					}
				}
			}
		}

		.button {
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			margin-top: 100rpx;
			letter-spacing: 5rpx;
		}

		.main_item {
			overflow: hidden;
			width: 100%;
			margin-top: 65rpx;

			.des {
				display: block;
				font-size: 24rpx;
				color: #989da6;
				margin-bottom: 18rpx;
				line-height: 1;
			}

			.title {
				display: block;
				font-size: 38rpx;
				color: #2a3243;
				font-weight: bold;
				margin-bottom: 25rpx;
				line-height: 1;
			}

			.labels {
				overflow: hidden;
				width: 100%;
				border-bottom: 1px solid #eff0f2;
				position: relative;

				.font {
					display: block;
					font-size: 30rpx;
					height: 109rpx;
					display: flex;
					align-items: center;
					width: 100%;
					color: #2a3243;
				}

				textarea {
					width: 100%;
					border: 1px solid #eff0f2;
					padding: 20rpx;
					border-radius: 6rpx;
					height: 325rpx;
					font-size: 28rpx;
					color: #333;
				}

				.s {
					color: #c8c9cd;
				}
			}

			.labelss {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					color: #2a3243;
				}

				switch {
					transform: scale(0.9);
				}
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				border-bottom: 1px solid #eff0f2;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					width: 168rpx;
					color: #2a3243;
				}

				input {
					width: calc(100% - 168rpx);
					height: 100%;
					font-size: 30rpx;
					color: #333;
				}

				.uni-input {
					width: calc(690rpx - 168rpx);
					height: 109rpx;
					font-size: 30rpx;
					color: #333;
					display: flex;
					align-items: center;
					color: #c8c9cd;

					&.on {
						color: #333;
					}
				}

				.right {
					width: 12rpx;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				.w {
					font-size: 30rpx;
					color: #2a3243;
					display: flex;
					align-items: center;
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
				}

				.s {
					color: #c8c9cd;
				}
			}
		}
	}

	.add_pic {
		overflow: hidden;
		padding: 36rpx 0 0 0;

		text {
			display: block;
			font-size: 38rpx;
			color: #2a3243;
			font-weight: bold;
			margin-bottom: 25rpx;
			line-height: 1;
		}

		.des {
			display: block;
			font-size: 24rpx;
			color: #989da6;
			margin-bottom: 18rpx;
			line-height: 1;
		}

		.grow {
			overflow: hidden;

			image {
				width: 150rpx;
				height: 150rpx;
				float: left;
				margin-right: 20rpx;
				margin-top: 28rpx;
			}
		}

		.avatar-wrap {
			width: 120rpx;
			height: 120rpx;
			position: relative;
			border-radius: 100rpx;
			overflow: hidden;

			.avatar {
				width: 100%;
				height: 100%;
				border-radius: 100rpx;
			}

			.progress {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100rpx;
				height: 100rpx;
				box-shadow: rgba(0, 0, 0, .6) 0px 0px 0px 2005px;
				border-radius: 100rpx;
				transition: .5s;
				opacity: 0;

				&.no-transtion {
					transition: 0s;
				}

				&.show {
					opacity: 1;
				}
			}
		}
	}
</style>
