<template>
	<view class="content">
		<view class="main_item">
			<text class="title">基本信息</text>


			<view class="label">
				<text class="font">货品名称</text>
				<input type="text" value="" v-model="data.name" placeholder="请填写货品名称" placeholder-class="s" />
			</view>

			<view class="label">
				<text class="font">货品品类</text>
				<input type="text" value="" v-model="data.category" placeholder="请填写货品名称" placeholder-class="s"
					disabled="true" />
			</view>

			<view class="label">
				<text class="font">货品产地</text>

				<picker @change="bindPickerChange2" :value="index" :range="chandi" v-model="data.region">
					<view class="uni-input" :class="index != 0?'on':''">{{chandi[index2]}}</view>
				</picker>
				<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>

			</view>


			<!-- <view class="label">
				<text class="font">货品规格</text>
				<picker @change="bindPickerChange1" :value="index1" :range="array1">
					<view class="uni-input" :class="index1 != 0?'on':''">{{array1[index1]}}</view>
				</picker>
				<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>
			</view> -->

			<view class="label">
				<text class="font">货品规格</text>

				<picker @change="bindPickerChange1" :value="index" :range="guige" v-model="data.specifications">
					<view class="uni-input" :class="index != 0?'on':''">{{guige[index1]}}</view>
				</picker>
				<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>

			</view>

			<view class="label">
				<text class="font">货品单价</text>
				<input type="text" value="" placeholder="请填写单价" v-model="data.price" placeholder-class="s" />
				<text class="w">元</text>
			</view>


			<view class="label">
				<text class="font">单件重量</text>
				<input type="text" value="" placeholder="请填写单件重量" v-model="data.weight" placeholder-class="s" />
				<text class="w">斤</text>
			</view>


		</view>



		<view class="main_item">
			<text class="jiage" @click="isshow=(!isshow) ">价格阶梯</text>

			<view v-if="isshow==1">
				<view class="label">
					<text class="font">数 量 1</text>
					<input type="text" value="" placeholder="请填写数量" v-model="data.quantity1" placeholder-class="s" />
					<text class="w">斤</text>
				</view>


				<view class="label">
					<text class="font">价 格 1</text>
					<input type="text" value="" placeholder="请填写价格" v-model="data.price1" placeholder-class="s" />
					<text class="w">元</text>
				</view>


				<view class="label">
					<text class="font">数 量 2</text>
					<input type="text" value="" placeholder="请填写数量" v-model="data.quantity2" placeholder-class="s" />
					<text class="w">斤</text>
				</view>


				<view class="label">
					<text class="font">价 格 2</text>
					<input type="text" value="" placeholder="请填写价格" v-model="data.price2" placeholder-class="s" />
					<text class="w">元</text>
				</view>


				<view class="label">
					<text class="font">数 量 3</text>
					<input type="text" value="" placeholder="请填写数量" v-model="data.quantity3" placeholder-class="s" />
					<text class="w">斤</text>
				</view>


				<view class="label">
					<text class="font">价 格 3</text>
					<input type="text" value="" placeholder="请填写价格" v-model="data.price3" placeholder-class="s" />
					<text class="w">元</text>
				</view>

			</view>
		</view>


		<view class="main_item">

			<text class="title">其他信息</text>


			<view class="selects">
				<text class="font">是否现货</text>

				<view class="grow">
					<view @click="changeStock(0) ; isshow1 = (0)" :class="data.stock != 1?'on':''">现在有货</view>
					<view @click="changeStock(1); isshow1 = (1) " :class="data.stock == 1?'on':''">即将上市</view>
				</view>
			</view>

			<view class="label" v-if="isshow1==1">
				<text class="font">上市时间</text>
				<!-- <input type="text" value="" placeholder="请填写时间" v-model="data.date" placeholder-class="s" /> -->

				<view class="uni-input">{{date}}</view>
				<picker mode="date" :value="date" v-model="data.date" @change="bindDateChange">

					<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>
				</picker>
			</view>

			<view class="selects">
				<text class="font">是否折扣</text>

				<view class="grow">
					<view @click="changeDiscount(0) ; isshow2 = (0)" :class="data.discount != 1?'on':''">无折扣</view>
					<view @click="changeDiscount(1) ; isshow2 = (1)" :class="data.discount == 1?'on':''">有折扣</view>
				</view>
			</view>
			<view class="label" v-if="isshow2==1">
				<text class="font">输入折扣</text>
				<input type="text" value="" placeholder="请输入折扣,如8" v-model="data.discount_number"
					placeholder-class="s" />
				<text class="w">折</text>
			</view>



			<view class="label">
				<text class="font">供 货 量</text>
				<input type="text" value="" placeholder="请填写供货量" v-model="data.quantity" placeholder-class="s" />
				<text class="w">件</text>
			</view>


			<view class="label">
				<text class="font">发货地址</text>
				<input type="text" value="" placeholder="请选择从哪里发货" v-model="data.address" placeholder-class="s" />
			</view>

			<view class="label">
				<text class="font">物流方式</text>
				<picker @change="bindPickerChange3" :value="index3" :range="wuliu" v-model="data.logistics">
					<view class="uni-input" :class="index3 != 0?'on':''">{{wuliu[index3]}}</view>
				</picker>
				<image src="../../static/addshop_03.png" mode="widthFix" class="right"></image>
			</view>


			<view class="labels">
				<text class="font">货品描述:</text>
				<textarea v-model="data.describe" value="" placeholder-class="s"
					placeholder="如：货品特色、供应量或包装及杂费情况等，更详细、准确的描述能吸引更多的采购商" />
			</view>




			<view class="labelss">
				<text class="font">是否支持担保交易</text>
				<switch v-model="data.transaction" :checked="!data.transaction" color="#0e689b" @change="onSwitch" />
			</view>

		</view>


		<view class="main_item">
			<text class="title">添加照片</text>
			<text class="des">上传真实的图片（最多6张）有图的供应排名会靠前</text>
			<view class="updatabox">
				<u-upload ref="uUpload" action="" max-count="6" :file-list="imgList" :auto-upload="false"
					uploadText="上传图片" width="400" height="166" :maxSize="1024 * 1024" :show-progress="false"
					:size-type="['compressed']" :source-type="['album', 'camera']" :multiple="true" del-icon="close"
					del-bg-color="#ff7c7c" del-color="#FFFFFF" :limitType="['png', 'jpg', 'jpeg']"></u-upload>

			</view>
		</view>

		<mix-button class="button" ref="confirmBtn" text="确认发布" marginTop="60rpx" @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	import {
		checkStr
	} from '@/common/js/util'
	export default {
		data() {
			const currentDate = this.getDate({
				format: true
			})
			return {
				imgList: [],
				show: false,
				isshow: 0,
				isshow1: 0,
				isshow2: 0,
				action: '',
				data: {
					transaction: true,
					images: []
				},
				pinlei: ['请选择货品品类', ],
				index: 0,
				pinlei_id: [],

				guige: ['请选择货品规格', ],
				guige_id: [],
				index1: 0,
				chandi: ['请选择货品产地', ],
				index2: 0,
				chandi_id: [],
				uploadProgress: 100, //头像上传进度
				tempAvatar: '',
				discount: 0,
				show: false,
				action: '',
				wuliu: ['请选择物流方式', ],
				wuliu_id: [],
				index3: 0,
				date: currentDate,
			}
		},
		computed: {
			curData() {
				return this.$store.state.data
			},
			startDate() {
				return this.getDate('start');
			},
			endDate() {
				return this.getDate('end');
			}
		},
		watch: {
			curData(curData) {
				const {
					avatar,
					name,
					discount,
					anonymous,
					imgList,
				} = data;
				this.data = {
					avatar,
					name,
					discount,
					anonymous: !!anonymous,
					imgList,
				};
			}
		},
		onLoad(e) {
			// 查询规格下面的规格分类
			this.loadGuige('54ad1eea620da71d10d93daf0ed25c35');
			// 查询产地分类
			this.loadChandi('5b049cc8620cabc70cb034cc1ef4b129');

			this.loadwuliu('5b049cc8620da7c10ce3b41f2c075f72');

			if (e.cate_id) {
				this.data.category = e.name
				this.data.category_id = e.cate_id
			};
			if (e.id) {
				this.id = e.id ;
				this.loadDetail()
			};
			
			

		},

		methods: {
			async loadDetail(){
				const res = await this.$request('release', 'getDetail', {
					id: this.id
				})
				if(res.status === 0){
					this.$util.msg(res.msg || '产品不存在或已下架');
					setTimeout(()=>{
						uni.navigateBack();
					}, 1000)
					return;
				}
				const data = res.data;
				
				data.quantity = parseFloat (data.quantity)
					
				console.log('res.data',JSON.stringify(res.data))
				// data.content = data.content.replace(/img src="/g, 'img style="display:block;width:100%;height:auto" src="');
			   this.data = data;
			   this.data.specifications.forEach((item, index) => {
				let key = item._id;
				
				this.guige[index] = this.data.specifications[0].name
				console.log('this.data.specifications[0].name', this.data.specifications[0].name)
			})
			
		       this.data.logistics.forEach((item, index) => {
		      	let key = item._id;
		      	
		      	this.wuliu[index] = this.data.logistics[0].name
		      	console.log('this.data.logistics[0].name', this.data.logistics[0].name)
		    })
			
			this.data.region.forEach((item, index) => {
			  	let key = item._id;
			  	
			  	this.chandi[index] = this.data.region[0].name
			  	console.log('this.data.region[0].name', this.data.region[0].name)
			})
			   
			   // this.data.region.forEach((item, index) => {
			   	
			   	
			   // 	this.chandi[index] = this.data.region[0].name
			   // 	console.log('this.data.region[0].name', this.data.region[0].name)
			   // })
			   
			   
			
			},
			
			
			
			
			async loadGuige(parent_id) {
				const data = {
					parent_id: parent_id
				}
				const res = await this.$request('releasecategory', 'get1', data, {
					showLoading: !this.loaded
				});
				
				this.guige[0] = '请选择货品规格'
				res.forEach((item, index) => {
					let key = item._id;
					this.guige[index + 1] = item.name
					this.guige_id[index + 1] = item._id
				})
			},

			async loadChandi(parent_id) {
				const data = {
					parent_id: parent_id
				}
				const res = await this.$request('releasecategory', 'get1', data, {
					showLoading: !this.loaded
				});
				
				this.chandi[0] = '请选择货品产地'
				res.forEach((item, index) => {
					let key = item._id;
					this.chandi[index + 1] = item.name
					this.chandi_id[index + 1] = item._id
				})
			},
			async loadwuliu(parent_id) {
				const data = {
					parent_id: parent_id
				}
				const res = await this.$request('releasecategory', 'get1', data, {
					showLoading: !this.loaded
				});
				
				this.wuliu[0] = '请选择物流方式'
				res.forEach((item, index) => {
					let key = item._id;
					this.wuliu[index + 1] = item.name
					this.wuliu_id[index + 1] = item._id
				})
			},


			async submit() {

				var that = this;
				var imgs = that.$refs.uUpload.lists;

				uni.showLoading({
					mask: true,
					title: '加载中...'
				});

				var imgPaths = [];

				for (var i = 0; i < imgs.length; i++) {

					var path = imgs[i].url;
					var extension = 'png'
					var random = String(Math.random() * 100000).split('.')[0]
					var now = new Date()
					var year = now.getFullYear()
					var cloudPath = 'wall' + '/' + year + '/' + 't_' + random + '.' + extension

					await uniCloud.uploadFile({
						filePath: path,
						cloudPath: cloudPath
					}).then(async res => {
						await uniCloud.getTempFileURL({
							fileList: [res.fileID]
						}).then(res => {
							if (res.fileList.length > 0) {
								imgPaths.push(res.fileList[0].tempFileURL)
							} else {
								that.$u.toast("图片上传失败");
								return;
							}
						});
					})
				}

				this.data.images = imgPaths // JSON.stringify(
				uni.hideLoading()


				const {
					uploadProgress,
					curData,
					images
				} = this.data;
				let isUpdate = false;
				for (let key in curData) {
					if (curData[key] !== curData[key]) {
						isUpdate = true;
						break;
					}
				}

				const data = this.data;
				console.log(JSON.stringify(this.data))
				if (!data.name) {
					this.$util.msg('请输入货品名称');
					this.$refs.confirmBtn.stop();
					return;
				}
				if (!checkStr(data.mobile, 'mobile')) {
					// this.$util.msg('请输入您的手机号码');
					// this.$refs.confirmBtn.stop();
					// return;
				}
				if (data.images.length <= 0) {
					this.$util.msg('请上传照片');
					this.$refs.confirmBtn.stop();
					return;
				}

                if(!data.discount){
					data.discount = 0
				}
				
				if(!data.stock){
					data.stock = 0
				}
				const operation = data._id ? 'update' : 'add';
				console.log(JSON.stringify(data))
				console.log('123456789');
				data.status = 1; // 默认审核不通过

               console.log('add_data', JSON.stringify(data )) 

				const res = await this.$request('release', operation, data);

				this.$util.msg(res.msg);
				if (res.status === 1) {
					//this.$util.prePage().loadData();
					setTimeout(() => {
						uni.navigateBack();
					}, 1000)
				}

			},
			bindDateChange: function(e) {
				this.data.date = e.target.value
				console.log(e.target.value)
				this.date = e.target.value
				this.$set(this.data, 'date', e.target.value)
			},
			getDate(type) {
				const date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();

				if (type === 'start') {
					year = year - 60;
				} else if (type === 'end') {
					year = year + 2;
				}
				month = month > 9 ? month : '0' + month;
				day = day > 9 ? day : '0' + day;
				return `${year}-${month}-${day}`;
			},
			bindPickerChange: function(e) {
				this.index = e.target.value
				//this.data.category = e.target.value
				this.data.category = this.pinlei_id[e.target.value]

				console.log('1111')
			},

			bindPickerChange1: function(e) {
				this.index1 = e.target.value
				// this.data.specifications = e.target.value
				this.data.specifications = this.guige_id[e.target.value]
			},
			bindPickerChange2: function(e) {
				this.index2 = e.target.value
				// this.data.region = e.target.value
				this.data.region = this.chandi_id[e.target.value]
			},
			bindPickerChange3: function(e) {
				this.index3 = e.target.value
				// this.data.region = e.target.value
				this.data.logistics = this.wuliu_id[e.target.value]
			},
			changeStock(stock) {
				console.log('11111111')
				this.$set(this.data, 'stock', stock)

			},

			changeDiscount(discount) {

				this.$set(this.data, 'discount', discount)
			},
			changeGuarantee(guarantee) {

				this.$set(this.data, 'guarantee', guarantee)
			},
			//公开信息
			onSwitch(e) {
				this.data.transaction = !e.detail.value;
				//this.data.transaction = e.target.value
				console.log(e.detail.value)
			}
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 0 30rpx 30rpx 30rpx;

		.selects {
			overflow: hidden;
			display: flex;
			align-items: center;
			margin-top: 50rpx;

			.font {
				display: block;
				font-size: 30rpx;
				display: flex;
				align-items: center;
				width: 168rpx;
				color: #2a3243;
			}

			.grow {
				overflow: hidden;
				display: flex;
				align-items: center;

				view {
					display: inline-flex;
					align-items: center;
					height: 64rpx;
					font-size: 24rpx;
					color: #2a3243;
					padding: 0 30rpx;
					border-radius: 50rpx;
					margin-right: 24rpx;
					border: 1px solid #cccccc;

					&.on {
						background: #e3f2fb;
						border: 1px solid #e3f2fb;
						color: #0e689b;
					}
				}
			}
		}

		.button {
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #0e689b;
			font-size: 34rpx;
			color: #fff;
			border-radius: 10rpx;
			margin-top: 100rpx;
			letter-spacing: 5rpx;
		}

		.main_item {
			overflow: hidden;
			width: 100%;
			margin-top: 65rpx;

			.des {
				display: block;
				font-size: 24rpx;
				color: #989da6;
				margin-bottom: 18rpx;
				line-height: 1;
			}

			.title {
				display: block;
				font-size: 38rpx;
				color: #2a3243;
				font-weight: bold;
				margin-bottom: 25rpx;
				line-height: 1;
			}

			.jiage {

				font-size: 38rpx;
				font-weight: bold;
				background: #e3f2fb;
				border: 1px solid #e3f2fb;
				color: #0e689b;
				display: inline-flex;
				align-items: center;
				height: 80rpx;
				padding: 0 20rpx;
				border-radius: 50rpx;
				margin-right: 24rpx;
				border: 1px solid #cccccc;
			}

			.labels {
				overflow: hidden;
				width: 100%;
				border-bottom: 1px solid #eff0f2;
				position: relative;

				.font {
					display: block;
					font-size: 30rpx;
					height: 109rpx;
					display: flex;
					align-items: center;
					width: 100%;
					color: #2a3243;
				}

				textarea {
					width: 100%;
					border: 1px solid #eff0f2;
					padding: 20rpx;
					border-radius: 6rpx;
					height: 325rpx;
					font-size: 28rpx;
					color: #333;
				}

				.s {
					color: #c8c9cd;
				}
			}

			.labelss {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					color: #2a3243;
				}

				switch {
					transform: scale(0.9);
				}
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 109rpx;
				border-bottom: 1px solid #eff0f2;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.font {
					display: block;
					font-size: 30rpx;
					width: 168rpx;
					color: #2a3243;
				}

				input {
					width: calc(100% - 168rpx);
					height: 100%;
					font-size: 30rpx;
					color: #333;
				}

				.uni-input {
					width: calc(690rpx - 168rpx);
					height: 109rpx;
					font-size: 30rpx;
					color: #333;
					display: flex;
					align-items: center;
					color: #c8c9cd;

					&.on {
						color: #333;
					}
				}

				.right {
					width: 12rpx;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				.w {
					font-size: 30rpx;
					color: #2a3243;
					display: flex;
					align-items: center;
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;
				}

				.s {
					color: #c8c9cd;
				}
			}
		}
	}

	.add_pic {
		overflow: hidden;
		padding: 36rpx 0 0 0;

		text {
			display: block;
			font-size: 38rpx;
			color: #2a3243;
			font-weight: bold;
			margin-bottom: 25rpx;
			line-height: 1;
		}

		.des {
			display: block;
			font-size: 24rpx;
			color: #989da6;
			margin-bottom: 18rpx;
			line-height: 1;
		}

		.grow {
			overflow: hidden;

			image {
				width: 150rpx;
				height: 150rpx;
				float: left;
				margin-right: 20rpx;
				margin-top: 28rpx;
			}
		}

		.avatar-wrap {
			width: 120rpx;
			height: 120rpx;
			position: relative;
			border-radius: 100rpx;
			overflow: hidden;

			.avatar {
				width: 100%;
				height: 100%;
				border-radius: 100rpx;
			}

			.progress {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100rpx;
				height: 100rpx;
				box-shadow: rgba(0, 0, 0, .6) 0px 0px 0px 2005px;
				border-radius: 100rpx;
				transition: .5s;
				opacity: 0;

				&.no-transtion {
					transition: 0s;
				}

				&.show {
					opacity: 1;
				}
			}
		}
	}
</style>
