<template>
	<view class="content">
		<view class="item">
			<view class="title">
				<view></view>
				<text>问题解答</text>
			</view>
			<view class="label" v-for="(item, index) in list">
				<view class="q" :class="item.flag?'on':''" @click="change(index)">
					<view class="icon">
						<image src="../../static/problem_03.png" mode="widthFix"></image>
						<text>{{item.name}}</text>
					</view>
					<image src="../../static/problem_06.png" mode="widthFix" class="down"></image>
				</view>
				<view class="a" v-if="item.flag">
					<image src="../../static/problem_10.png" mode="widthFix"></image>
					<view>
						<text>{{item.a}}</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				list:[{
					name:'什么是个人账户？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				},{
					name:'什么是企业账户？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				},{
					name:'支持绑定信用卡吗？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				},{
					name:'什么是总金额？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				},{
					name:'什么是可提现余额？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				},{
					name:'什么是待转可提现余额？',
					flag: false,
					a: '如果你的银行卡未收到提现资金，请先联系银行客服核实到账情况。若需我司协助查询，请点击下方【联系客服】提交银行流水截图授权我司代你向银行查询处理。'
				}]
			}
		},
		onLoad() {

		},
		methods: {
			change(index){
				if(this.list[index].flag){
					this.list[index].flag = false
				}else{
					this.list[index].flag = true
				}
			}
		}
	}
</script>

<style lang="scss">
	page{
		background: #f7f8fa;
	}
	.content{
		overflow: hidden;
		width: 100%;
		.item{
			overflow: hidden;
			width: 100%;
			padding: 25rpx 30rpx 0 30rpx;
			background-color: #fff;
			margin-bottom: 16rpx;
			.title{
				display: flex;
				align-items: center;
				height: 85rpx;
				border-bottom: 1px solid #eff0f2;
				view{
					width: 5rpx;
					height: 30rpx;
					background-color: #597bdc;
				}
				text{
					font-weight: bold;
					font-size: 32rpx;
					color: #2a3243;
					margin-left: 16rpx;
				}
			}
			.label{
				width: 100%;
				overflow: hidden;
				border-bottom: 1px solid #eff0f2;
				.q{
					width: 100%;
					height: 100rpx;
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					&.on .down{
						transform: rotate(180deg);
					}
					.icon{
						display: flex;
						align-items: center;
						image{
							width: 32rpx;
						}
						text{
							font-size: 30rpx;
							color: #2a3243;
							margin-left: 15rpx;
						}
					}
					.down{
						width: 21rpx;
						display: block;
						transition: all .3s;
					}
				}
				.a{
					overflow: hidden;
					display: flex;
					justify-content: space-between;
					padding: 12rpx 0 33rpx 0;
					image{
						width: 32rpx;
						margin-top: 5rpx;
					}
					view{
						width: 645rpx;
						overflow: hidden;
						text{
							display: block;
							font-size: 26rpx;
							color: #989da6;
							line-height: 40rpx;
						}
					}
				}
			}
		}
	}
</style>
