<template>
	<view class="content">
		<view class="tong_icon">
			
			<text>保险服务</text>
		</view>
		<view class="box">
			<view class="title">产品介绍</view>
			<text>渔船保险指承保专门从事渔业生产的铁壳或木壳渔轮的保险。承保的渔船包括：（1）船壳及附属设备（包括动力机器、起网机、通讯导航及电器仪器）；（2）船具（舱、桅、锚、橹、子船）；（3）渔网。保险责任与国内船舶保险基本相同，承保：（1）火灾、雷击、爆炸、搁浅、触礁、碰撞、倾覆、沉没、失踪（6个月以上）以及其他水上灾害，如海啸、暴风等造成船舶本身或船具的全部或部分损失，但渔网只有同船身同时完全灭失才予赔偿；（2）机动船舶航行中的碰撞责任和共同海损；（3）保险事故发生后支付的施救、保护费用。［1］除外责任：（1）战争或军事行动；（2）不具备适航条件；（3）船舶所有人及其代表人的疏忽或故意行为；（4）船壳、机件的正常维修、油漆费用及其本身的磨损、朽蚀；（5）因丧失航行能力以致停航、停业造成的损失；（6）清理航道和消除油污的费用；（7）捕捞作业中造成的机损；（8）船上人员违法行为造成的损失。渔船保险有绝对免赔额的规定。保险金额应以投保时账面原值为依据。如按净值投保，在发生局部损失时，修复后明显增值的，则此项增值不应计算在赔款之内，或按失程度估损赔偿。费率按船舶种类、吨位、船龄分别订定，在江河、湖泊、水库作业的渔船费率减少数。渔船保险限定期1年，因渔汛作业短期投保危险集中，其短期的头4个月比其他险都提高5％，即保1个月按年费率15％，保2个月按25％，保3个月按35％，保4个月按45％，保5个月以上同其他险费率相同。［1］</text>
			<image src="https://nbghmy.com/static/bx_03.jpg" mode="widthFix" class="footerpic"></image>
		</view>
	</view>
</template>
 
<script>
	export default {
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style lang="scss">
	page {
		background: #f6f7f8;
	}
	.content {
		overflow: hidden;
		width: 100%;
		 
		background-image: url("https://nbghmy.com/static/gxbg_01.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top;
		background-color: #004b97;
		padding-bottom: 70rpx;
		padding-top: 1075rpx;
		.box{
			width: 690rpx;
			margin: 0 auto;
			border-radius: 30rpx;
			background-color: #fff;
			position: relative;
			padding: 86rpx 40rpx 68rpx 40rpx;
			.footerpic{
				display: block;
				width: 100%;
			}
			text{
				display: block;
				font-size: 28rpx;
				color: #324658;
				line-height: 42rpx;
				margin-bottom: 40rpx;
			}
			.title{
				width: 450rpx;
				height: 107rpx;
				background-image: url("https://nbghmy.com/static/bxtitle_03.png");
				background-size: 100% 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 40rpx;
				color: #de511c;
				font-weight: bold;
				position: absolute;
				left: 50%;
				padding-bottom: 40rpx;
				margin-left: -225rpx;
				top: -15rpx;
			}
		}
	}
</style>
