<template> 
	<view class="content">
		<view class="banner">
			
			
			<image src="https://nbghmy.com/static/add_icon_03.jpg" mode="widthFix" @click="link('/pages/tese/tese')"></image>
			<text>象山特色</text>
			
			
		</view>
		<view class="navbar">
			<view>
				<image src="https://nbghmy.com/static/add_icon_07.jpg" mode="widthFix" @click="link('/pages/shangcheng/shangcheng?cateId=bf4a0bf2620ca0360f27952e27d44e10')"></image>
				<text>渔供信息</text>
			</view>
			<view>
				<image src="https://nbghmy.com/static/add_icon_09.jpg" mode="widthFix" @click="gonavibar('/pages/xuqiu/xuqiu')"></image>
				<text>预购信息</text>
			</view>
			<view>
				<image src="https://nbghmy.com/static/add_icon_11.jpg" mode="widthFix" @click="link('/pages/linshigong/linshigong')"></image>
				<text>临时工用工</text>
			</view>
			
			
			<view>
				<image src="https://nbghmy.com/static/add_icon_13.jpg" mode="widthFix" @click="link('/pages/mingren/mingren')"></image>
				<text>名厨信息</text>
			</view>
			
			
		</view>
		<view class="box">
			<view class="top">
				<view class="left">
					<image src="https://nbghmy.com/static/add_icon_19.jpg" mode="widthFix" @click="link('/pages/car/car')"></image>
					<text>冷链、物流车</text>
				</view>
				<view class="right">
					<view>
						<image src="https://nbghmy.com/static/add_icon_21.jpg" mode="widthFix" @click="link('/pages/recruit/recruit')"></image>
						<text>船员用工信息</text>
					</view>
					<view>
						<image src="https://nbghmy.com/static/add_icon_24.jpg" mode="widthFix" @click="link('/pages/shangcheng/shangcheng?cateId=617ef50c620ca7cc0607b81a1363a9fa')"></image>
						<text>船用物资需求</text>
					</view>
				</view>
			</view>
			<view class="bottom">
				<image src="https://nbghmy.com/static/add_icon_27.jpg" mode="widthFix" @click="link('/pages/shangcheng/shangcheng?cateId=bf4a0bf2620ca0360f27952e27d44e10')"></image>
				<text>渔供信息</text>
			</view>
			
			<view class="item">
				
				        <text class="de" style="line-height:45rpx;">
						营业时间：00:00-24:00
						联系电话：0574-65731296
						经营地址：宁波市象山县石浦镇门前塘水产品园区
						宁波耕海牧渔供应链管理有限公司（耕海牧渔）
						超低温杀菌锁鲜技术为消费者的健康保驾护航
						
						
						</text>
						
			</view>
			<view class="item">
				<view class="de"  style="margin-left: 25%;">
				<u-link href="https://beian.miit.gov.cn/">备案号：浙ICP备2022003028号</u-link>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			link(url){
				uni.navigateTo({
					url: url
				})
			},
			gonavibar(url){
				uni.switchTab({
					url: url
				})
			}
		}
	}
</script>

<style lang="scss">
	.content{
		width: 100%;
		padding: 37rpx 44rpx 85rpx 44rpx;
		.banner{
			width: 100%;
			overflow: hidden;
			box-shadow: 0 0 20px #e7e7e7;
			border-radius: 30rpx;
			position: relative;
			text{
				font-size: 30rpx;
				color: #fff;
				width: 100%;
				position: absolute;
				left: 30rpx;
				bottom: 30rpx;
			}
			image{
				width: 100%;
				display: block;
			}
		}
		.navbar{
			width: 100%;
			padding: 52rpx 0 0 0;
			display: flex;
			flex-wrap: wrap;
			view{
				overflow: hidden;
				margin-bottom: 45rpx;
				width: 25%;
				image{
					width: 96rpx;
					display: block;
					margin: 0 auto;
					margin-bottom: 20rpx;
				}
				text{
					display: block;
					font-size: 26rpx;
					color: #8a9498;
					text-align: center;
				}
			}
		}
		.box{
			width: 100%;
			.bottom{ 
				width: 100%;
				position: relative;
				margin-top: 33rpx;
				text{
					font-size: 30rpx;
					color: #fff;
					width: 100%;
					position: absolute;
					text-shadow: 2px 2px 2px #5A5E71;
					left: 30rpx;
					bottom: 30rpx;
				}
				image{
					width: 100%;
				}
			}
			.item{
				 
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.de{
					margin-top: 30rpx;
					display: block;
					font-size: 30rpx;
					text-align: center;
					color: #000000;
				}
				}
			.top{
				overflow: hidden;
				display: flex;
				justify-content: space-between;
				.left{
					width: 316rpx;
					overflow: hidden;
					border-radius: 20rpx;
					position: relative;
					text{
						font-size: 30rpx;
						color: #fff;
						width: 100%;
						text-shadow: 2px 2px 2px #5A5E71;
						position: absolute;
						left: 30rpx;
						top: 30rpx;
					}
					image{
						width: 100%;
					}
				}
				.right{
					width: 316rpx;
					view{
						width: 100%;
						overflow: hidden;
						border-radius: 20rpx;
						position: relative;
						&:nth-child(1){
							margin-bottom: 29rpx;
						}
						text{
							font-size: 30rpx;
							color: #fff;
							text-shadow: 2px 2px 2px #5A5E71;
							width: 100%;
							position: absolute;
							left: 30rpx;
							bottom: 30rpx;
						}
						image{
							width: 100%;
						}
					}
				}
			}
		}
		
	}
</style>
