<template>
	<view class="content">
		<view class="tong_icon">
			<image src="../../static/leftbtn_03.png" mode="widthFix" @click="slink('/pages/gerenzhongxin/gerenzhongxin')"></image>
			<text>个人认证</text>
		</view>
		<view class="main_header">
			<view class="box">
				<view class="item on">
					<view></view>
					<text>实名认证</text>
				</view>
			
				<view class="item">
					<view></view>
					<text>提交审核</text>
				</view>
			</view>
		</view>
		
		
		
		<view class="updata">
			<text class="title">请拍摄并上传你的有效身份证</text>
			
			
			<view class="label">
				<view class="font"  >
				<text class="f">头像面</text>
				<text class="ff">上传您身份证头像面</text>
				</view>
				<view class="updatabox">
					<image style="height: 100rpx;"   :src="data.avatar || 'https://nbghmy.com/static/id_11.jpg'" mode="widthFix" @click="uploadImagebysaku('avatar')" ></image>
						
					 
				</view> 
			</view>
			
			<view class="label">
				<view class="font"  >
				<text class="f">国徽面</text>
				<text class="ff">上传您身份证国徽面</text>
				</view>
				<view class="updatabox">
					<image style="height: 100rpx;"   :src="data.avatar1 || 'https://nbghmy.com/static/id_14.jpg'" mode="widthFix" @click="uploadImagebysaku('avatar1')" ></image>
						
					 
				</view>
			</view>
			
			
			<!-- <view class="label">
				<view class="font"  >
					<text class="f">头像面</text>
					<text class="ff">上传您身份证头像面</text>
				</view> --> <!-- @click="chooseImage('avatar')" -->
			<!--    <image :src="data.avatar || '../../static/id_11.jpg'" mode="widthFix" @click="upImageuu()" ></image>
			</view>
			<view class="label">
				<view class="font">
					<text class="f">国徽面</text>
					<text class="ff">上传您身份证国徽面</text>
				</view>
				<image :src="data.avatar1 || '../../static/id_14.jpg'" mode="widthFix" @click="chooseImage('avatar1')"></image>
			</view> -->
		</view>
		
		
		
		
		<view class="main_yaoqiu">
			<text class="title">拍摄身份证要求：</text>
			<text class="des">大陆公民持有的本人有效二代身份证；</text>
			<text class="des">拍摄时确保身份证<text>边框完整，字体清晰，亮度均匀；</text></text>
			<view class="box">
				<view class="item">
					<image src="https://nbghmy.com/static/id_17.jpg" mode="widthFix"></image>
					<text>标准</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_19.jpg" mode="widthFix"></image>
					<text>边框缺失</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_21.jpg" mode="widthFix"></image>
					<text>边框模糊</text>
				</view>
				<view class="item">
					<image src="https://nbghmy.com/static/id_23.jpg" mode="widthFix"></image>
					<text>闪光强烈</text>
				</view>
			</view>
		</view>
		
		
		
		<view class="main_name">
			<text class="title">请确认你的身份信息</text>
			
			
			
			
			<view class="label">
				<text class="name">姓名</text>
				<view class="changes">
					<input type="text"  placeholder="请填写姓名" v-model="data.name" placeholder-class="s" />
				</view>
			</view> 
			
             <view class="label">
				<text class="name">身份证号</text>
				<view class="changes">
					<input type="text"  placeholder="请填写身份证号" v-model="data.cardid" placeholder-class="s" />
				</view>
			</view>
		</view> 
		
		
		<mix-button  class="button" ref="confirmBtn" text="提交" marginTop="60rpx" @onConfirm="submit"></mix-button>
	</view>
</template>

<script>
	import uuupload from "@/uview-ui/components/u-upload/u-upload.vue"  
	 export default {
		 components: {
		  uuupload
		 },
	  data() {
 
			return {
				fileList6:[],
				data: {
					avatar1:'',
					avatar:'',
					name:'',
					cardid:'',
					transaction:true
				},
                uploadProgress: 100, //头像上传进度
                avatar: '', 
				discount:0,
				avatar1: '', 
				imgList:[]
			
			}
		},
		computed: {
			curData(){
				return this.$store.state.data
			}
		},
		watch: {
			curData(curData){
				const {avatar,avatar1, name, uid,  discount, anonymous,} = data;
				this.data = {avatar,avatar1, name, uid, discount, anonymous : !!anonymous};
			}
		},
		onLoad() {
			this.get_user_renzhen();

		},
		methods: {
			upImageuu(){
				this.$refs.mixUploadImage.chooseImage() ; 
				
			},
			 
			async get_user_renzhen(){
				const res = await this.$request('renzheng', 'get', {}, {
					showLoading: !this.loaded
				});
				console.log('res.data[0]' , JSON.stringify(res.data[0]));
				if(res.data.length>0){
					this.data = res.data[0] ;
				}
				
				console.log('146' + JSON.stringify( this.data  ))
			},
			
			 slink(url){
				uni.switchTab ({
					url: url
				})
			},

			async submit() {
				// console.log('1111')
				const {curData} = this.data;
				let isUpdate = false;
				// for(let key in curData){
				// 	if(curData[key] !== curData[key]){
				// 		isUpdate = true;
				// 		break;
				// 	}
				// }
				
				
				
				const data = this.data;
				console.log(JSON.stringify(this.data))
				// if (!data.name) {
				// 	this.$util.msg('请输入货品名称');
				// 	this.$refs.confirmBtn.stop();
				// 	return;
				// }
                 if(!data.avatar1){
                 	this.$util.msg('请上传照片');
                 	this.$refs.confirmBtn.stop();
                 	return;
                 }
				if(!data.avatar){
					this.$util.msg('请上传照片');
					this.$refs.confirmBtn.stop();
					return;
				}
				if(this.uploadProgress !== 100){
					this.$util.msg('请等待照片上传完毕');
					this.$refs.confirmBtn.stop();
					return;
				}
				
                const operation = data._id ? 'update' : 'add';
                console.log(JSON.stringify(data)) 
                console.log('123456789');
                data.status = 0  ; // 默认审核不通过
                const res = await this.$request('renzheng', operation, data);
                 
                this.$util.msg(res.msg);
                if(res.status === 1){
                	//this.$util.prePage().loadData();
               
              	data.uid = res.uid ; 
              	// 提示后跳转页面
              	setTimeout(()=>{
              		uni.navigateBack({
					
              			url: `/pages/gerenzhongxin/gerenzhongxin` , //要跳转的页面
             
              		})
              	},2000);
              	
              }

			},

			bindPickerChange: function(e) {
				this.index = e.target.value
				this.data.category = e.target.value
				console.log('1111')
			},
            
			bindPickerChange1: function(e) {
				this.index1 = e.target.value
				this.data.specifications = e.target.value
			},

			changeStock(stock) {

				this.$set(this.data, 'stock', stock)

			},

			changeDiscount(discount){
				
				this.$set(this.data, 'discount', discount)
			},
			changeGuarantee(guarantee){
			
				this.$set(this.data, 'guarantee', guarantee)
			},
			
			uploadImagebysaku(photo){
				uni.chooseImage({
					count: 2,
					sizeType:"compressed",
					success: res=> {
						let filePath = res.tempFilePaths[0]			
						this.setAvatar(filePath,photo)
					}
				});
			},
			
			
			chooseImage(photo){
				uni.chooseImage({
					count: 2,
					sizeType:"compressed",
					success: res=> {
						uni.navigateTo({
							url: `/pages/set/cutImage/cut?photo=${photo}&src=${res.tempFilePaths[0]}` 
						});
					}
				});
			},
			//裁剪回调
			async setAvatar(filePath,field){
				this.tempAvatar = filePath;
				this.uploadProgress = 0;
				const result = await uniCloud.uploadFile({
					filePath: filePath,
					cloudPath: + new Date() + ('000000' + Math.floor(Math.random() * 999999)).slice(-6) + '.jpg',
					onUploadProgress: e=> {
						this.uploadProgress = Math.round(
							(e.loaded * 100) / e.total
						);
					}
				});
				if(!result.fileID){
					this.$util.msg('头像上传失败');
					return;
				}
				if(typeof uniCloud.getTempFileURL === 'undefined'){
					//this.avatar = result.fileID
					this.$set(this.data, field, result.fileID)
					//this.data.companyavatar = result.fileID;
				}else{
					const tempFiles = await uniCloud.getTempFileURL({
						fileList: [result.fileID]
					})
					const tempFile = tempFiles.fileList[0];
					if(tempFile.download_url || tempFile.fileID){
						
						//this.avatar = tempFile.download_url
						this.$set(this.data, field, tempFile.download_url || tempFile.fileID)
					}else{
						this.$util.msg('头像上传失败');
					}
				}
				console.log( '297' + JSON.stringify(this.data) )
				//this.$set(this.data, 'companyavatar', this.data.companyavatar)
			},
			//公开信息
			onSwitch(e){
				this.data.transaction = !e.detail.value;
				//this.data.transaction = e.target.value
				console.log(e.detail.value)
			}
		}
	}
</script>

<style lang="scss">
	page {
		background: #f7f8fa;
	}

	.content {
		overflow: hidden;
		width: 100%;
		padding-bottom: 70rpx;

		.main_header {
			width: 100%;
			height: 320rpx;
			background-color: #0e689b;
			padding-top: 187rpx;

			.box {
				width: 100%;
				display: flex;

				.item {
					width: 100%;
					position: relative;

					&::after {
						content: '';
						width: 216rpx;
						height: 4rpx;
						background: #fff;
						position: absolute;
						right: -108rpx;
						top: 21rpx;
						opacity: 0.6;
					}

					&:last-child::after {
						display: none;
					}

					&.on::after {
						opacity: 1;
					}

					&.on text {
						opacity: 1;
					}

					&.on view {
						background-image: url(/static/id_03.png);
						background-size: 43rpx;
					}

					view {
						width: 43rpx;
						height: 43rpx;
						display: block;
						margin: 0 auto;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: url(/static/id_06.png);
						background-size: 14rpx;
						margin-bottom: 34rpx;
					}

					text {
						display: block;
						font-size: 24rpx;
						text-align: center;
						opacity: 0.6;
						line-height: 1;
						color: #fff;
					}
				}
			}
		}

		.updata {
			overflow: hidden;
			width: 100%;
			background: #fff;
			padding: 0 30rpx;
			padding-bottom: 22rpx;

			.title {
				display: flex;
				align-items: center;
				height: 90rpx;
				font-size: 30rpx;
				color: #989da6;
			}

			.label {
				overflow: hidden;
				width: 100%;
				margin-bottom: 17rpx;
				background: #f5f6f9;
				padding: 20rpx 32rpx 20rpx 30rpx;
				border-radius: 10rpx;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				.font {
					overflow: hidden;
					padding-top: 55rpx;

					.f {
						display: block;
						font-size: 36rpx;
						line-height: 1;
						font-weight: bold;
						margin-bottom: 22rpx;
						color: #2a3243;
					}

					.ff {
						display: block;
						font-size: 24rpx;
						line-height: 1;
						color: #2a3243;
					}
				}

				.pic {
					width: 386rpx;
				}
				.avatar{
					width: 100%;
					height: 100%;
					border-radius: 100rpx;
				}
			}
		}

		.main_yaoqiu {
			overflow: hidden;
			margin-top: 20rpx;
			background: #fff;
			padding: 40rpx 30rpx 46rpx 30rpx;

			.title {
				display: block;
				font-size: 30rpx;
				color: #989da6;
				line-height: 1;
				margin-bottom: 26rpx;
			}

			.des {
				display: block;
				font-size: 24rpx;
				color: #2a3243;
				line-height: 40rpx;

				text {
					color: #f55050;
				}
			}

			.box {
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.item {
					overflow: hidden;
					width: 160rpx;
					margin-top: 50rpx;

					image {
						width: 100%;
					}

					text {
						display: block;
						font-size: 24rpx;
						color: #989da6;
						text-align: center;
					}
				}
			}
		}

		.main_name {
			overflow: hidden;
			width: 100%;
			margin-top: 20rpx;

			.title {
				display: block;
				font-size: 30rpx;
				color: #989da6;
				background-color: #fff;
				line-height: 90rpx;
				padding-left: 30rpx;
				box-sizing: border-box;
				border-bottom: 1px solid #f7f8fa;
			}

			.label {
				overflow: hidden;
				width: 100%;
				height: 90rpx;
				background-color: #fff;
				margin-bottom: 20rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;

				.fl {
					font-size: 30rpx;
					color: #2a3243;
				}

				.fr {
					font-size: 30rpx;
					color: #666666;
				}
				.changes {
					width: 520rpx;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				
					.input {
						width: 80%;
						height: 100%;
						border: none;
						font-size: 30rpx;
						color: #333;
					}
				
					.s {
						color: #c8c9cd;
					}
				
					.right {
						width: 12rpx;
					}
				
					.d {
						font-size: 30rpx;
						color: #333333;
					}
				}
			}
		}

		.button {
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #0e689b;
			font-size: 34rpx;
			border-radius: 10rpx;
			width: 690rpx;
			height: 90rpx;
			color: #fff;
			margin: 0 auto;
			margin-top: 85rpx;
		}
		.progress{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100rpx;
			height: 100rpx;
			box-shadow: rgba(0,0,0,.6) 0px 0px 0px 2005px;
			border-radius: 100rpx;
			transition: .5s;
			opacity: 0;
			
			&.no-transtion{
				transition: 0s;
			}
			&.show{
				opacity: 1;
			}
		}

	}
</style>
