<template>
	<view class="content">
		<!-- <view class="bank_item" style="background-image: url(../../static/bank_03.jpg);">
			<text>0102</text>
		</view>
		<view class="bank_item" style="background-image: url(../../static/bank_06.jpg);">
			<text>0598</text>
		</view> -->

		<view v-for="(item,index) in renderList2"  @click="gotonext(item._id)">
			<bank-item :bankCode="item.bankCode" :bankName="item.bankName" :cardCode="item.cardCode" />

		</view>



		<view class="button" @click="navTo('/pages/add_zhanghu/add_zhanghu' )">
			<image src="../../static/bank_09.jpg" mode="widthFix"></image>
			<text>添加银行卡</text>
		</view>
	</view>
</template>

<script>
	import BIN from "bankcardinfo"
	// import bankitem from '@/components/bank-item/bank-item.vue'
	export default {
		// components: {
		// 	bankitem
		// },
		data() {
			return {
				renderList: [],
				data1: {},
				bankinfo: [],
				renderList2: [],
			}
		},
		onLoad() {
			this.loadData();
		},
		methods: {
            gotonext(id){
            	this.navTo('/pages/bank1/bank1?id='+id )
            	
            },

			async loadData() {
				const res = await this.$request('bank', 'get', {}, {
					showLoading: !this.loaded
				});

				this.renderList = res.data;
				let that = this
				console.log('bankinfo', JSON.stringify(this.renderList))

				await this.renderList.forEach(async (item, index) => {
					await BIN.getBankBin(item.bankcard)
						.then(function(data) {
							//this.data = data

							let newdata = {}
							newdata.bankCode = data.bankCode
							newdata.bankName = data.bankName
							newdata.cardCode = item.bankcard
							newdata._id = item._id
							newdata.name = item.name

							that.renderList2.push(newdata)
							console.log('d111data', JSON.stringify(that.renderList2))
							//this.bankinfo = JSON.stringify(data)
						})
						.catch(function(err) {
							console.log('err', err)
						})
				})



			},
		}
	}
</script>

<style lang="scss">
	.content {
		overflow: hidden;
		width: 100%;
		padding: 30rpx;

		.bank_item {
			width: 100%;
			height: 240rpx;
			background-size: 100% 100%;
			margin-bottom: 24rpx;
			padding: 126rpx 0 0 504rpx;

			text {
				font-size: 48rpx;
				color: #fff;
				display: block;
				line-height: 1;
			}
		}

		.button {
			width: 100%;
			height: 136rpx;
			border-radius: 15rpx;
			padding-left: 35rpx;
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);
			display: flex;
			align-items: center;
			background: #fff;

			image {
				width: 28rpx;
			}

			text {
				font-size: 30rpx;
				color: #2a3243;
				margin-left: 24rpx;
			}
		}
	}

	page {
		background-color: #f7f8fa;
	}
</style>
